<div class="page-details" *ngIf="Record">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group row">
        <label style="padding-right:0" class="col-sm-2 col-form-label col-form-label-sm">Pol.Agent</label>
        <div class="col-sm-5">
          <app-autocomplete2 [controlname]="'AGENT'" [tabletype]="'CUSTOMER'" [displaycolumn]="'CODE'"
           [disabled]="(Record.ord_status == 'REPORTED') ? false : false "  
           [displaydata]="Record.ord_agent_code" (ValueChanged)="LovSelected($event)" [where]="where_agent" #agentlov>
          </app-autocomplete2>
        </div>
        <div class="col-sm-5">
          <InputBox [(inputModel)]="Record.ord_agent_name" [maxlength]="60" [uppercase]=true></InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label style="padding-right:0" class="col-sm-2 col-form-label col-form-label-sm">Shipper</label>
        <div class="col-sm-5">
          <app-autocomplete2 [controlname]="'SHIPPER'" [tabletype]="'CUSTOMER'" [displaycolumn]="'CODE'"
            [disabled]="(Record.ord_status == 'REPORTED') ? false : false "  
            [displaydata]="Record.ord_exp_code" (ValueChanged)="LovSelected($event)" [where]="where_shipper">
          </app-autocomplete2>
        </div>
        <div class="col-sm-5">
          <InputBox [(inputModel)]="Record.ord_exp_name" [maxlength]="60" [uppercase]=true></InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label style="padding-right:0" class="col-sm-2 col-form-label col-form-label-sm">Consignee</label>
        <div class="col-sm-5">
          <app-autocomplete2 [controlname]="'CONSIGNEE'" [tabletype]="'CUSTOMER'" [displaycolumn]="'CODE'"
            [disabled]="(Record.ord_status == 'REPORTED') ? false : false "  
            [displaydata]="Record.ord_imp_code" (ValueChanged)="LovSelected($event)" [where]="where_consignee">
          </app-autocomplete2>
        </div>
        <div class="col-sm-5">
          <InputBox [(inputModel)]="Record.ord_imp_name" [maxlength]=60 [uppercase]=true></InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label style="padding-right:0" class="col-sm-2 col-form-label col-form-label-sm">Invoice#</label>
        <div class="col-sm-5">
          <InputBox [(inputModel)]="Record.ord_invno" [maxlength]="30" [uppercase]=true></InputBox>
        </div>
        <label style="padding-right:0" class="col-sm-2 col-form-label col-form-label-sm">UNECO</label>
        <div class="col-sm-3">
          <InputBox [(inputModel)]="Record.ord_uneco" [maxlength]="5" [uppercase]=true></InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-sm">Description</label>
        <div class="col-sm-10">
          <textarea rows="3" class="form-control form-control-sm" [(ngModel)]="Record.ord_desc" required
            maxlength="100"></textarea>
        </div>
      </div>

      <!-- <div *ngIf="mode == 'EDIT'" class="form-group row">
        <label class="col-sm-2 col-form-label  col-form-label-sm">PO ID</label>
        <div class="col-sm-10">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.ord_uid" (blur)="OnBlur('ord_uid')" required maxlength="14" />
        </div>
      </div> -->

      <div class="form-group row">
        <label class="col-sm-2 col-form-label  col-form-label-sm">PO</label>
        <div class="col-sm-10">
          <InputBox [(inputModel)]="Record.ord_po" [maxlength]="60" [uppercase]=true (blur)="OnBlur('ord_po')">
          </InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-sm">Style#</label>
        <div class="col-sm-10">
          <InputBox [(inputModel)]="Record.ord_style" [maxlength]="60" [uppercase]=true (blur)="OnBlur('ord_style')">
          </InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-sm">Color</label>
        <div class="col-sm-10">
          <InputBox [(inputModel)]="Record.ord_color" [maxlength]="60" [uppercase]=true (blur)="OnBlur('ord_color')">
          </InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-sm">Contract#</label>
        <div class="col-sm-10">
          <InputBox [(inputModel)]="Record.ord_contractno" [maxlength]="100" [uppercase]=true></InputBox>
        </div>
      </div>
      

    </div>
    <div class="col-sm-6">

      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">Borading1</label>
        <div class="col-4">
          <app-date [inputdate]="Record.ord_boarding1" (ValueChanged)="Record.ord_boarding1=$event"></app-date>
        </div>
        <label class="col-2 col-form-label col-form-label-sm">Borading2</label>
        <div class="col-4">
          <app-date [inputdate]="Record.ord_boarding2" (ValueChanged)="Record.ord_boarding2=$event"></app-date>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">Instock1</label>
        <div class="col-4">
          <app-date [inputdate]="Record.ord_instock1" (ValueChanged)="Record.ord_instock1=$event"></app-date>
        </div>
        <label class="col-2 col-form-label col-form-label-sm">Instock2</label>
        <div class="col-4">
          <app-date [inputdate]="Record.ord_instock2" (ValueChanged)="Record.ord_instock2=$event"></app-date>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">Pkgs</label>
        <div class="col-4">
          <InputBoxNumber [(inputModel)]="Record.ord_pkg" [maxlength]="10" [dec]="0"></InputBoxNumber>
        </div>
        <label class="col-2 col-form-label col-form-label-sm">Pcs</label>
        <div class="col-4">
          <InputBoxNumber [(inputModel)]="Record.ord_pcs" [maxlength]="14" [dec]="3"></InputBoxNumber>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">Nt.Wt</label>
        <div class="col-4">
          <InputBoxNumber [(inputModel)]="Record.ord_ntwt" [maxlength]="14" [dec]="3"></InputBoxNumber>
        </div>
        <label class="col-2 col-form-label col-form-label-sm">Gr.Wt</label>
        <div class="col-4">
          <InputBoxNumber [(inputModel)]="Record.ord_grwt" [maxlength]="14" [dec]="3"></InputBoxNumber>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">Cbm</label>
        <div class="col-4">
          <InputBoxNumber [(inputModel)]="Record.ord_cbm" [maxlength]="14" [dec]="3"></InputBoxNumber>
        </div>

        <label class="col-2 col-form-label  col-form-label-sm">HS.Code</label>
        <div class="col-4">
          <InputBox [(inputModel)]="Record.ord_hs_code" [maxlength]="15" [uppercase]=true></InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label style="padding-right:0" class="col-sm-2 col-form-label col-form-label-sm">Cargo.Status</label>
        <div class="col-sm-10">
          <textarea rows="3" class="form-control form-control-sm" [(ngModel)]="Record.ord_cargo_status"
            (blur)="OnBlur('ord_cargo_status')" required maxlength="250"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">Transport.Way</label>
        <div class="col-4">
          <select class="form-control form-control-sm" [(ngModel)]="Record.rec_category">
            <option [value]="'SEA EXPORT'">SEA</option>
            <option [value]="'AIR EXPORT'">AIR</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">POL</label>
        <div class="col-4">
          <app-autocomplete2 [controlname]="'POL'" [tabletype]="'PORT'" [displaycolumn]="'NAME'"
            [displaydata]="Record.ord_pol" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
        <div class="col-6">
          <InputBox [(inputModel)]="Record.ord_pol" [maxlength]=60 [uppercase]=true></InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">POD</label>
        <div class="col-4">
          <app-autocomplete2 [controlname]="'POD'" [tabletype]="'PORT'" [displaycolumn]="'NAME'"
            [displaydata]="Record.ord_pod" (ValueChanged)="LovSelected($event)">
          </app-autocomplete2>
        </div>
        <div class="col-6">
          <InputBox [(inputModel)]="Record.ord_pod" [maxlength]=60 [uppercase]=true></InputBox>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="page-box">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-6">
        <label class="col-form-label col-form-label-sm">Status : {{Record.ord_status}}</label>
      </div>
      <!-- <div class="col-6" *ngIf="Record.ord_status == 'REPORTED'"> -->
      <div class="col-6" >
          <button  (click)="Save()" class="btn btn-success btn-sm">Save</button>
        </div>
    </div>
  </div>
</div>


<div *ngIf="Record">
  <div class="page-details" *ngIf="Record.rec_mode == 'EDIT'">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-6 col-form-label col-form-label-sm">Booking Request Date</label>
          <label class="col-6 col-form-label col-form-label-sm">{{Record.ord_booking_date}}</label>
        </div>
        <div class="form-group row">
          <label class="col-6 col-form-label col-form-label-sm">Random Inspection Date</label>
          <label class="col-6 col-form-label col-form-label-sm">{{Record.ord_rnd_insp_date}}</label>
        </div>
        <div class="form-group row">
          <label class="col-6 col-form-label col-form-label-sm">PO Release Date</label>
          <label class="col-6 col-form-label col-form-label-sm">{{Record.ord_po_rel_date}}</label>
        </div>
        <div class="form-group row">
          <label class="col-6 col-form-label col-form-label-sm">Cargo Ready Date</label>
          <label class="col-6 col-form-label col-form-label-sm">{{Record.ord_cargo_ready_date}}</label>
        </div>

      </div>

      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-6 col-form-label col-form-label-sm">Fcr Date</label>
          <label class="col-6 col-form-label col-form-label-sm">{{Record.ord_fcr_date}}</label>
        </div>
        <div class="form-group row">
          <label class="col-6 col-form-label col-form-label-sm">Inspection Date</label>
          <label class="col-6 col-form-label col-form-label-sm">{{Record.ord_insp_date}}</label>
        </div>
        <div class="form-group row">
          <label class="col-6 col-form-label col-form-label-sm">Stuffing Date</label>
          <label class="col-6 col-form-label col-form-label-sm">{{Record.ord_stuf_date}}</label>
        </div>
        <div class="form-group row">
          <label class="col-6 col-form-label col-form-label-sm">WH Departure Date</label>
          <label class="col-6 col-form-label col-form-label-sm">{{Record.ord_whd_date}}</label>
        </div>

      </div>

      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-6 col-form-label col-form-label-sm">POL Delivery Date</label>
          <label class="col-6 col-form-label col-form-label-sm">{{Record.ord_dlv_pol_date}}</label>
        </div>
        <div class="form-group row">
          <label class="col-6 col-form-label col-form-label-sm">POD Delivery Date</label>
          <label class="col-6 col-form-label col-form-label-sm">{{Record.ord_dlv_pod_date}}</label>
        </div>
      </div>

    </div>
  </div>
</div>