<!-- <div class="page-box py-2">
  <div class="col">
    <label style="color: chocolate;font-size: medium;" class="col-form-label mr-1">{{title}}</label>
    <button class="btn btn-info btn-sm mx-1" (click)="ActionHandler('ADD')">New</button>
    <button class="btn btn-info btn-sm mr-1" (click)="Close()">Return</button>
  </div>
</div> -->
<div class="page-header">
  <h5>{{title}}</h5>
  <button class="btn btn-info btn-sm" (click)="ActionHandler('ADD')">New</button>
  <button class="btn btn-info btn-sm" (click)="Close()">Return</button>
</div>
<div class="page-body">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-md-2 col-form-label col-form-label-sm">CF#</label>
        <div class="col-md-4">
          <input type="text" style="color:red; font-weight:bold" class="form-control form-control-sm pr-0"
            [(ngModel)]="Record.ordh_cfno" [disabled]="true" required maxlength="15" />
        </div>
        <label class="col-md-2 col-form-label col-form-label-sm">Mode</label>
        <div class="col-md-4">
          <select [disabled]="mode=='EDIT'" class="form-control form-control-sm" [(ngModel)]="Record.rec_category">
            <option [value]="'SEA EXPORT'">SEA</option>
            <option [value]="'AIR EXPORT'">AIR</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label col-form-label-sm">Shipper</label>
        <div class="col-md-10">
          <app-autocomplete3 [controlname]="'SHIPPER'" [tabletype]="'CUSTOMER'" [displaycolumn]="'NAME'"
            [displaydata]="Record.ordh_exp_name" (ValueChanged)="LovSelected($event)" [where]="ms.where_shipper">
          </app-autocomplete3>
        </div>
        <!-- <div class="col-sm-6">
          <InputBox [(inputModel)]="Record.ordh_exp_name" [maxlength]="60" [uppercase]=true [disabled]=true></InputBox>
        </div> -->
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label col-form-label-sm">Consignee</label>
        <div class="col-md-10">
          <app-autocomplete3 [controlname]="'CONSIGNEE'" [tabletype]="'CUSTOMER'" [displaycolumn]="'NAME'"
            [displaydata]="Record.ordh_imp_name" (ValueChanged)="LovSelected($event)" [where]="ms.where_consignee">
          </app-autocomplete3>
        </div>
        <!-- <div class="col-sm-6">
          <InputBox [(inputModel)]="Record.ordh_imp_name" [maxlength]=60 [uppercase]=true [disabled]=true></InputBox>
        </div> -->
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-md-3 col-form-label col-form-label-sm">Buying.Agent</label>
        <div class="col-md-9">
          <app-autocomplete3 [controlname]="'BUY-AGENT'" [tabletype]="'CUSTOMER'" [displaycolumn]="'NAME'"
            [displaydata]="Record.ordh_buy_agent_name" (ValueChanged)="LovSelected($event)" [where]="ms.where_buy_agent"
            #agentlov>
          </app-autocomplete3>
        </div>
        <!-- <div class="col-sm-6">
          <InputBox [(inputModel)]="Record.ordh_buy_agent_name" [maxlength]="60" [uppercase]=true [disabled]=true>
          </InputBox>
        </div> -->
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label col-form-label-sm">Pol.Agent</label>
        <div class="col-md-9">
          <app-autocomplete3 [controlname]="'AGENT'" [tabletype]="'CUSTOMER'" [displaycolumn]="'NAME'"
            [displaydata]="Record.ordh_agent_name" (ValueChanged)="LovSelected($event)" [where]="ms.where_agent"
            #agentlov>
          </app-autocomplete3>
        </div>
        <!-- <div class="col-sm-6">
          <InputBox [(inputModel)]="Record.ordh_agent_name" [maxlength]="60" [uppercase]=true [disabled]=true>
          </InputBox>
        </div> -->
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label col-form-label-sm">Pod.Agent</label>
        <div class="col-md-9">
          <app-autocomplete3 [controlname]="'POD-AGENT'" [tabletype]="'CUSTOMER'" [displaycolumn]="'NAME'"
            [displaydata]="Record.ordh_pod_agent_name" (ValueChanged)="LovSelected($event)" [where]="ms.where_agent"
            #agentlov>
          </app-autocomplete3>
        </div>
        <!-- <div class="col-sm-6">
          <InputBox [(inputModel)]="Record.ordh_pod_agent_name" [maxlength]="60" [uppercase]=true [disabled]=true>
          </InputBox>
        </div> -->
      </div>

    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-md-3 col-form-label col-form-label-sm">POL</label>
        <div class="col-md-9">
          <app-autocomplete3 [controlname]="'POL'" [tabletype]="'PARAM'" [subtype]="'PORT'" [displaycolumn]="'NAME'"
            [displaydata]="Record.ordh_pol" (ValueChanged)="LovSelected($event)">
          </app-autocomplete3>
        </div>
        <!-- <div class="col-sm-6">
          <InputBox [disabled]=true [(inputModel)]="Record.ordh_pol" [maxlength]=60 [uppercase]=true></InputBox>
        </div> -->
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label col-form-label-sm">POD</label>
        <div class="col-md-9">
          <app-autocomplete3 [controlname]="'POD'" [tabletype]="'PARAM'" [subtype]="'PORT'" [displaycolumn]="'NAME'"
            [displaydata]="Record.ordh_pod" (ValueChanged)="LovSelected($event)">
          </app-autocomplete3>
        </div>
        <!-- <div class="col-sm-6">
          <InputBox [disabled]=true [(inputModel)]="Record.ordh_pod" [maxlength]=60 [uppercase]=true></InputBox>
        </div> -->
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label col-form-label-sm">Remarks</label>
        <div class="col-md-9">
          <!-- <textarea rows="1" class="form-control form-control-sm" [(ngModel)]="Record.ordh_remarks"
            (blur)="OnBlur('ordh_remarks')" required maxlength="100"></textarea> -->
          <InputBox [(inputModel)]="Record.ordh_remarks" [maxlength]="100" [uppercase]=true></InputBox>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group row">
        <label class="col-md-3 col-form-label col-form-label-sm">Invoice#</label>
        <div class="col-md-9">
          <InputBox #inv_no [(inputModel)]="Recorddet.ord_invno" [maxlength]="30" [uppercase]=true></InputBox>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label  col-form-label-sm">PO#</label>
        <div class="col-md-9">
          <InputBox [(inputModel)]="Recorddet.ord_po" [maxlength]="60" [uppercase]=true (blur)="OnBlur('ord_po')">
          </InputBox>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label col-form-label-sm ">Contract#</label>
        <div class="col-md-9">
          <InputBox [(inputModel)]="Recorddet.ord_contractno" [maxlength]="100" [uppercase]=true></InputBox>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label col-form-label-sm ">Style#</label>
        <div class="col-md-9">
          <InputBox [(inputModel)]="Recorddet.ord_style" [maxlength]="60" [uppercase]=true (blur)="OnBlur('ord_style')">
          </InputBox>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label col-form-label-sm ">Color</label>
        <div class="col-md-9">
          <InputBox [(inputModel)]="Recorddet.ord_color" [maxlength]="60" [uppercase]=true (blur)="OnBlur('ord_color')">
          </InputBox>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group row">
        <label class="col-md-3 col-form-label col-form-label-sm ">UNECO</label>
        <div class="col-md-9 ">
          <InputBox [(inputModel)]="Recorddet.ord_uneco" [maxlength]="5" [uppercase]=true></InputBox>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label  col-form-label-sm ">HS.Code</label>
        <div class="col-md-9 ">
          <InputBox [(inputModel)]="Recorddet.ord_hs_code" [maxlength]="15" [uppercase]=true></InputBox>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label col-form-label-sm ">Desc.</label>
        <div class="col-md-9">
          <!-- <InputBox [(inputModel)]="Recorddet.ord_desc" [maxlength]="100" [uppercase]=true></InputBox> -->
          <textarea rows="4" class="form-control form-control-sm" [(ngModel)]="Recorddet.ord_desc"
            (blur)="OnBlur('ord_desc')" required maxlength="100"></textarea>
        </div>
      </div>

    </div>
    <div class="col-md-2">
      <div class="form-group row">
        <label class="col-md-4 col-form-label col-form-label-sm ">Pkgs</label>
        <div class="col-md-8">
          <InputBoxNumber [(inputModel)]="Recorddet.ord_pkg" [maxlength]="10" [dec]="0"></InputBoxNumber>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label col-form-label-sm ">Pcs</label>
        <div class="col-md-8">
          <InputBoxNumber [(inputModel)]="Recorddet.ord_pcs" [maxlength]="14" [dec]="3"></InputBoxNumber>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label col-form-label-sm ">Cbm</label>
        <div class="col-md-8 ">
          <InputBoxNumber [(inputModel)]="Recorddet.ord_cbm" [maxlength]="14" [dec]="3"></InputBoxNumber>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label col-form-label-sm ">Nt.Wt</label>
        <div class="col-md-8 ">
          <InputBoxNumber [(inputModel)]="Recorddet.ord_ntwt" [maxlength]="14" [dec]="3"></InputBoxNumber>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label col-form-label-sm ">Gr.Wt</label>
        <div class="col-md-8 ">
          <InputBoxNumber [(inputModel)]="Recorddet.ord_grwt" [maxlength]="14" [dec]="3"></InputBoxNumber>
        </div>
      </div>

    </div>
    <div class="col-md-3">
      <div class="form-group row">
        <label class="col-md-4 col-form-label col-form-label-sm ">Cargo.Ready.Dt</label>
        <div class="col-md-8">
          <app-date [inputdate]="Recorddet.ord_cargo_readiness_date"
            (ValueChanged)="Recorddet.ord_cargo_readiness_date=$event"></app-date>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label col-form-label-sm ">Boarding1</label>
        <div class="col-md-8 ">
          <app-date [inputdate]="Recorddet.ord_boarding1" (ValueChanged)="Recorddet.ord_boarding1=$event"></app-date>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-4 col-form-label col-form-label-sm ">Boarding2</label>
        <div class="col-md-8 ">
          <app-date [inputdate]="Recorddet.ord_boarding2" (ValueChanged)="Recorddet.ord_boarding2=$event"></app-date>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label col-form-label-sm ">Instock1</label>
        <div class="col-md-8 ">
          <app-date [inputdate]="Recorddet.ord_instock1" (ValueChanged)="Recorddet.ord_instock1=$event"></app-date>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label col-form-label-sm ">Instock2</label>
        <div class="col-md-8 ">
          <app-date [inputdate]="Recorddet.ord_instock2" (ValueChanged)="Recorddet.ord_instock2=$event"></app-date>
        </div>
      </div>
    </div>
    <div class="col-md-1">

      <div class="form-group row">
        <!-- <label class="col-sm-1 col-form-label  col-form-label-sm "></label> -->
        <div class="col-md-12 pr-0">
          <button [disabled]="loading" (click)="AddRecord()"
            class="btn btn-success btn-sm mb-1 mr-1">{{detailMode==='ADD'?'Add':'Update'}}</button>
          <button [disabled]="loading" (click)="NewDetRecord()" class="btn btn-success btn-sm  mb-1">New</button>
        </div>
      </div>
      <!-- <div class="form-group row">
        <div class="col-sm-12 ">
          <button [disabled]="loading" (click)="NewDetRecord()" class="btn btn-success btn-sm">New</button>
        </div>
      </div> -->
    </div>

  </div>
</div>

<div class="page-body">
  <div class="table-responsive fixedTableHead  my-0 p-0" [style.height]="Record.ordh_detList.length>10?'258px':'auto'"
    [style.overflow-y]="Record.ordh_detList.length>10?'scroll':'auto'">
    <table class="table table-hover table-sm table-bordered">
      <thead>
        <tr class="table-header">
          <th>EDIT</th>
          <th>SL#</th>
          <th>UID</th>
          <!-- <th>DATE</th> -->
          <th>STATUS</th>
          <th>INV#</th>
          <th>PO#</th>
          <th>STYLE</th>
          <th>COLOR</th>
          <th class="text-left">HS.CODE</th>
          <th class="text-left">DESC</th>
          <th class="text-right">PKGS</th>
          <th class="text-right">PCS</th>
          <th class="text-right">NT.WT</th>
          <th class="text-right">GR.WT</th>
          <th class="text-right">CBM</th>
          <th>CARO.READY.DT</th>
          <th>BOARDING1</th>
          <th>BOARDING2</th>
          <th>INSTOCK1</th>
          <th>INSTOCK2</th>
          <th>HISTORY</th>
          <th *ngIf="bDelete" class='text-center'>DELETE</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr *ngFor="let rec of Record.ordh_detList; let i = index" (mousedown)="selectRowId(rec.ord_pkid)"
          [ngClass]="{'table-info':rec.ord_pkid == getRowId()}" [style.color]="rec.ord_status_color">
          <td class="hlink" (click)="EditRecord(rec)"><i class="fa fa-pencil"></i></td>
          <td>{{i+1}}</td>
          <td>{{rec.ord_uid}}</td>
          <!-- <td style="text-transform:uppercase">{{rec.ord_date | date : gs.DATE_DISPLAY_FORMAT}}</td> -->
          <td>{{rec.ord_status}}</td>
          <td>{{rec.ord_invno}}</td>
          <td>{{rec.ord_po}}</td>
          <td>{{rec.ord_style}}</td>
          <td>{{rec.ord_color}}</td>
          <td>{{rec.ord_hs_code}}</td>
          <td>{{rec.ord_desc}}</td>
          <td align='right'>{{rec.ord_pkg | number : '1.2-2'}}</td>
          <td align='right'>{{rec.ord_pcs | number : '1.2-2'}}</td>
          <td align='right'>{{rec.ord_ntwt | number : '1.3-3'}}</td>
          <td align='right'>{{rec.ord_grwt | number : '1.3-3'}}</td>
          <td align='right'>{{rec.ord_cbm | number : '1.3-3'}}</td>
          <td style="text-transform:uppercase">{{rec.ord_cargo_readiness_date | date : gs.DATE_DISPLAY_FORMAT}}</td>
          <td style="text-transform:uppercase">{{rec.ord_boarding1 | date : gs.DATE_DISPLAY_FORMAT}}</td>
          <td style="text-transform:uppercase">{{rec.ord_boarding2 | date : gs.DATE_DISPLAY_FORMAT}}</td>
          <td style="text-transform:uppercase">{{rec.ord_instock1 | date : gs.DATE_DISPLAY_FORMAT}}</td>
          <td style="text-transform:uppercase">{{rec.ord_instock2 | date : gs.DATE_DISPLAY_FORMAT}}</td>
          <td (click)="ShowHistory(history,'',rec.ord_pkid)" class="hlink"><i class="fa fa-history fa-lg pointer"></i>
          </td>
          <td *ngIf="bDelete" class="p-0 text-center"><i class="fa fa-trash  fa-lg pointer" aria-hidden="true"
              (click)="DeleteRow(rec)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="page-body line-bottom">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6">
        <label class="col-form-label col-form-label-sm"></label>
      </div>
      <div class="col-sm-6">
        <button *ngIf="Record.ordh_status == 'REPORTED'" [hidden]="disableSave" (click)="Save()"
          class="btn btn-success btn-md mr-1">Save</button>
        <button *ngIf="mode=='EDIT'" (click)="ShowHistory(history,Record.ordh_pkid,'')"
          class="btn btn-success btn-md">History</button>
      </div>
    </div>
  </div>
</div>


<!-- <div *ngIf="Record.ord_booking_date_captn||Record.ord_rnd_insp_date_captn||Record.ord_po_rel_date_captn||Record.ord_cargo_ready_date_captn
||Record.ord_fcr_date_captn||Record.ord_insp_date_captn||Record.ord_stuf_date_captn||Record.ord_whd_date_captn
||Record.ord_dlv_pol_date_captn||Record.ord_dlv_pod_date_captn">
  <div class="page-details" *ngIf="Record.rec_mode == 'EDIT'">
    <div class="row">
      <div class="col-sm-12">
        <div *ngIf="Record.ord_booking_date_captn" class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm">{{Record.ord_booking_date_captn}}</label>
          <label class="col-sm-6 col-form-label col-form-label-sm">{{Record.ord_booking_date}}</label>
        </div>
        <div *ngIf="Record.ord_rnd_insp_date_captn" class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm">{{Record.ord_rnd_insp_date_captn}}</label>
          <label class="col-sm-6 col-form-label col-form-label-sm">{{Record.ord_rnd_insp_date}}</label>
        </div>
        <div *ngIf="Record.ord_po_rel_date_captn" class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm">{{Record.ord_po_rel_date_captn}}</label>
          <label class="col-sm-6 col-form-label col-form-label-sm">{{Record.ord_po_rel_date}}</label>
        </div>
        <div *ngIf="Record.ord_cargo_ready_date_captn" class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm">{{Record.ord_cargo_ready_date_captn}}</label>
          <label class="col-sm-6 col-form-label col-form-label-sm">{{Record.ord_cargo_ready_date}}</label>
        </div>


        <div *ngIf="Record.ord_fcr_date_captn"  class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm">{{Record.ord_fcr_date_captn}}</label>
          <label class="col-sm-6 col-form-label col-form-label-sm">{{Record.ord_fcr_date}}</label>
        </div>
        <div *ngIf="Record.ord_insp_date_captn"  class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm">{{Record.ord_insp_date_captn}}</label>
          <label class="col-sm-6 col-form-label col-form-label-sm">{{Record.ord_insp_date}}</label>
        </div>
        <div *ngIf="Record.ord_stuf_date_captn"  class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm">{{Record.ord_stuf_date_captn}}</label>
          <label class="col-sm-6 col-form-label col-form-label-sm">{{Record.ord_stuf_date}}</label>
        </div>
        <div *ngIf="Record.ord_whd_date_captn"  class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm">{{Record.ord_whd_date_captn}}</label>
          <label class="col-sm-6 col-form-label col-form-label-sm">{{Record.ord_whd_date}}</label>
        </div>


        <div *ngIf="Record.ord_dlv_pol_date_captn"  class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm">{{Record.ord_dlv_pol_date_captn}}</label>
          <label class="col-sm-6 col-form-label col-form-label-sm">{{Record.ord_dlv_pol_date}}</label>
        </div>
        <div *ngIf="Record.ord_dlv_pod_date_captn"  class="form-group row">
          <label class="col-sm-3 col-form-label col-form-label-sm">{{Record.ord_dlv_pod_date_captn}}</label>
          <label class="col-sm-6 col-form-label col-form-label-sm">{{Record.ord_dlv_pod_date}}</label>
        </div>
      </div>

    </div>
  </div>
</div> -->
<!-- <div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div> -->
<ng-template #trackorder2 let-c="close" let-d="dismiss">
  <div class="modal-body p-2">
    <app-trackorder [ord_pkids]="''" [ord_pos]="''" [ord_imp_grp_id]="Record.ordh_imp_grp_id"
      [ord_header_id]="Record.ordh_pkid" (closeModalWindow)="CloseModal1($event)"></app-trackorder>
  </div>
</ng-template>
<ng-template #history let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">History</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-userhistory [pkid]="orderHeaderPkid" [subid]="orderPkid"></app-userhistory>
  </div>
</ng-template>