<div class="page-header">
    <h5>{{ms.title}}</h5>
    <button [disabled]="ms.loading" (click)="ActionHandler('ADD','')" class="btn btn-info btn-sm">New</button>
    <button class="btn btn-info btn-sm" (click)="Close()">Return</button>
</div>
<div class="page-body">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label col-form-label-sm">Search</label>
                <div class="col-sm-8">
                    <input type="text" class="col form-control form-control-sm" name="Search" [(ngModel)]="ms.record.searchQuery.searchstring" />
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group row">
                <div class="col-sm-8  offset-4">
                    <button [disabled]="ms.loading" (click)="ms.List('NEW')"
                        class="btn btn-info btn-sm btn-block">Search</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
</div>
<div *ngIf="ms.record.searchQuery.page_count">
    <div class="page-pagination">
        <ul class="pagination pagination-sm my-1 mx-1">
            <li class="page-item"><a class="page-link">Page
                    {{ms.record.searchQuery.page_current}}/{{ms.record.searchQuery.page_count}}
                    (Records-{{ms.record.searchQuery.page_rowcount}})</a></li>
            <li class="page-item"><a class="page-link" (click)="ms.List('FIRST')"><span
                        class="fa fa-backward"></span></a>
            </li>
            <li class="page-item"><a class="page-link" (click)="ms.List('PREV')"><span
                        class="fa fa-arrow-left"></span></a>
            </li>
            <li class="page-item"><a class="page-link" (click)="ms.List('NEXT')"><span
                        class="fa fa-arrow-right"></span></a>
            </li>
            <li class="page-item"><a class="page-link" (click)="ms.List('LAST')"><span class="fa fa-forward"></span></a>
            </li>
        </ul>
    </div>
</div>
<div class="page-body">
    <div class="table-responsive fixedTableHead  my-0 p-0" style="height: calc(100vh - 240px);">
        <table class="table  table-hover table-sm table-bordered">
            <thead>
                <tr class="table-header">
                    <th>EDIT</th>
                    <th>MASTER#</th>
                    <th>BOOKING#</th>
                    <th>CNTR#</th>
                    <th>TYPE</th>
                    <th>SEAL#</th>
                    <th>CARRIER</th>
                </tr>
            </thead>
            <tbody class="page-body-tbody">
                <tr *ngFor="let rec of ms.record.records" (mousedown)="ms.selectRowId(rec.cntr_pkid)"
                    [ngClass]="{'table-info':rec.cntr_pkid == ms.getRowId()}">
                    <td (click)="ActionHandler('EDIT',rec.cntr_pkid)" class="hlink"><i class="fa fa-pencil"></i>
                    </td>
                    <td>{{rec.cntr_mbl_no}}</td>
                    <td>{{rec.cntr_booking_no}}</td>
                    <td>{{rec.cntr_no}}</td>
                    <td>{{rec.cntr_type_code}}</td>
                    <td>{{rec.cntr_seal_no}}</td>
                    <td>{{rec.cntr_carrier_name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="ms.record.searchQuery.page_count">
    <div class="page-pagination line-bottom">
        <ul class="pagination pagination-sm my-1 mx-1">
            <li class="page-item"><a class="page-link">Page
                    {{ms.record.searchQuery.page_current}}/{{ms.record.searchQuery.page_count}}
                    (Records-{{ms.record.searchQuery.page_rowcount}})</a></li>
            <li class="page-item"><a class="page-link" (click)="ms.List('FIRST')"><span
                        class="fa fa-backward"></span></a>
            </li>
            <li class="page-item"><a class="page-link" (click)="ms.List('PREV')"><span
                        class="fa fa-arrow-left"></span></a>
            </li>
            <li class="page-item"><a class="page-link" (click)="ms.List('NEXT')"><span
                        class="fa fa-arrow-right"></span></a>
            </li>
            <li class="page-item"><a class="page-link" (click)="ms.List('LAST')"><span class="fa fa-forward"></span></a>
            </li>
        </ul>
    </div>
</div>