<div class="page-header">
  <h5>{{title}}</h5>
  <button [disabled]="loading" (click)="ActionHandler('LIST','')" class="btn btn-info btn-sm mr-1">List</button>
  <button class="btn btn-info btn-sm mr-1" (click)="Close()">Close</button>
  <i *ngIf="loading" class="fa fa-spinner"></i>
</div>

<div *ngIf="currentTab=='LIST'" class="page-list">

  <div class="page-body">
    <div class="row">
      <label class="col-2">Search</label>
      <div class="col">
        <input type="text" class="col form-control form-control-sm" name="Search" [(ngModel)]="searchstring" />
      </div>
      <div class="col-2">
        <input type="checkbox" [(ngModel)]="sortby" />
        <span>Sort By Code</span>
      </div>
      <div class="col">
        <button [disabled]="loading" (click)="List('NEW')" class="btn btn-info btn-sm">Search</button>
      </div>
    </div>
  </div>


  <div *ngIf="page_count" class="page-pagination">
    <ul class="pagination pagination-sm  my-1 mx-1">
      <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
      </li>
      <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
      <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
    </ul>
  </div>

  <div class="page-body">
    <div class="table-responsive  fixedTableHead ">
      <table class="table table-hover table-sm table-bordered">
        <thead class="page-body-thead">
          <tr>
            <th>CODE</th>
            <th>NAME</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody">
          <tr *ngFor="let rec of RecordList;  let i = index" (click)="ActionHandler('EDIT',rec.param_pkid, i)"
            [class.active]="i == selectedRowIndex">
            <td>{{rec.param_code}}</td>
            <td>{{rec.param_name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="page_count" class="page-pagination line-bottom">
    <ul class="pagination pagination-sm  my-1 mx-1">
      <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
      </li>
      <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
      <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
    </ul>
  </div>


</div>


<div *ngIf="currentTab=='DETAILS'" class="page-details">
  <div class="page-body">
    <div class="row table-responsive fixedTableHead ">
      <div class="col-sm-10">
        <table class="table table-bordered  table-sm">
          <thead>
            <tr>
              <th>KEY</th>
              <th>REMARKS</th>
              <th>TYPE</th>
              <th>IMPEXP</th>
              <th>EDIFILE</th>
              <th>VALUE</th>
              <th>FORMAT</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rec of RecordDet;  let i = index">
              <td>{{rec.param_key}}</td>
              <td>{{rec.param_defvalue}}</td>
              <td>{{rec.param_filetype}}</td>
              <td>{{rec.param_impexp}}</td>
              <td>{{rec.param_edifile}}</td>
              <td>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="rec.param_value" required
                  maxlength="100" />
              </td>
              <td>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="rec.param_format" required
                  maxlength="50" />
              </td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>
  <div class="page-body line-bottom">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group row">
          <div class="offset-2 col-10">
            <button [disabled]="loading" (click)="Save()" class="btn btn-success btn-sm mr-1">Save</button>
            <button [disabled]="loading" (click)="ActionHandler('LIST','')"
              class="btn btn-success btn-sm mr-1">Return</button>
            <i *ngIf="loading" class="fa fa-spinner"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<br />

<App-Wait [visible]="loading"></App-Wait>

<div *ngIf="ErrorMessage" class="alert alert-info">
  {{ErrorMessage}}
</div>