<div *ngIf="gs.IsLoginSuccess == false">
  <div class="container-fluid">
    <div class="row">
      <div class="divcenter">
        <h2>Login</h2>

        <div class="form-group">
          <label for="username">Login ID</label>
          <input type="text" class="form-control" name="username" [(ngModel)]="username" />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="password" />
        </div>

        <div class="form-group">
          <label for="branch">Company</label>
          <select class="form-control form-control-sm" [(ngModel)]="company_code">
            <option *ngFor="let rec of CompanyList" [value]="rec.comp_code">{{rec.comp_name}}</option>
          </select>
        </div>

        <div *ngIf="showloginbutton" class="form-group">
          <button [disabled]="loading" class="btn btn-primary btn-sm" (click)="Login()">Login</button>
          <i *ngIf="loading" class="fa fa-spinner"></i>
          <!--<a [routerLink]="['/register']" class="btn btn-link">Register</a>-->
        </div>

        <div>
          <h5>Version : {{software_version_string}}</h5>
        </div>
        <div>
          <h5>{{errorMessage}}</h5>
        </div>

      </div>
    </div>
  </div>
</div>

<div>
  {{ErrorExternalLogin}}
</div>