<div>
  <label class="ml-3">{{title}}</label>
  <button (click)="ActionHandler('ADD',null)" class="btn btn-link mx-1">Add Record</button>
</div>


<div *ngIf="currentTab=='LIST'" class="page-list">

  <div class="table-responsive">
    <table class="table  table-hover table-sm  table-bordered fixedTableHead">
      <thead class="page-body-thead">
        <tr>
          <th width="5%">BRANCH</th>
          <th width="2%">EDIT</th>
          <th width="10%">CONTACT</th>
          <th width="8%">TEL</th>
          <th width="10%">EMAIL</th>
          <th width="10%">ADDRESS-LINE1</th>
          <th width="5%">CITY</th>
          <th width="10%">LOCATION</th>
          <th width="10%">STATE</th>
          <th width="5%">PIN</th>
          <th width="6%">COUNTRY</th>
          <th width="6%">DEFAULT</th>
          <th *ngIf="bDelete" width="4%">DELETE</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody" >
        <tr *ngFor="let rec of RecordList">
          <td>{{rec.add_branch_slno}}</td>
          <td (click)="ActionHandler('EDIT',rec)" class="hlink"><i class="fa fa-pencil"></i></td>
          <td>{{rec.add_contact}}</td>
          <td>{{rec.add_tel}}</td>
          <td>{{rec.add_email}}</td>
          <td>{{rec.add_line1}}</td>
          <td>{{rec.add_city}}</td>
          <td>{{rec.add_location}}</td>
          <td>{{rec.add_state_name}}</td>
          <td>{{rec.add_pin}}</td>
          <td>{{rec.add_country_name}}</td>
          <td>{{rec.add_default}}</td>
          <td *ngIf="bDelete"><i class="fa fa-trash fa-lg pointer" aria-hidden="true"
              (click)="ShowlinkList(addlnklst,rec)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


<div *ngIf="currentTab=='DETAILS'" class="page-details">
  <div class="page-body">
    <div class="row">
      <div class="col-sm-6">

        <div class="form-group row">
          <label class="col-4 col-form-label  col-form-label-sm">Branch.SL#</label>
          <div class="col-8">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.add_branch_slno" required
              maxlength="10" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label  col-form-label-sm">Address</label>
          <div class="col-8">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.add_line1" required
              maxlength="60" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label  col-form-label-sm"></label>
          <div class="col-8">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.add_line2" required
              maxlength="60" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label  col-form-label-sm"></label>
          <div class="col-8">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.add_line3" required
              maxlength="60" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label  col-form-label-sm"></label>
          <div class="col-8">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.add_line4" required
              maxlength="60" />
          </div>
        </div>



        <div class="form-group row">
          <label class="col-4 col-form-label  col-form-label-sm">Pin Code</label>
          <div class="col-8">
            <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.add_pin" required
              maxlength="6" />
          </div>
        </div>

      </div>

      <div class="col-sm-3">

        <div class="form-group row">
          <label class="col-4 col-form-label  col-form-label-sm">Contact</label>
          <div class="col-8">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.add_contact" required
              maxlength="60" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label  col-form-label-sm">Tel</label>
          <div class="col-8">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.add_tel" required
              maxlength="60" />
          </div>

        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label  col-form-label-sm">Fax</label>
          <div class="col-8">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.add_fax" required
              maxlength="60" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label  col-form-label-sm">Email</label>
          <div class="col-8">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.add_email" required
              maxlength="250" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label  col-form-label-sm">Web</label>
          <div class="col-8">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.add_web" required
              maxlength="60" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label col-form-label-sm">City</label>
          <div class="col-8">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.add_city" required
              maxlength="30" />
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group row">
          <label class="col-4 col-form-label col-form-label-sm">Country</label>
          <div class="col-8">
            <select class="form-control form-control-sm" [(ngModel)]="Record.add_country_id">
              <option *ngFor="let rec of CountryList" [value]="rec.param_pkid">{{rec.param_name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label col-form-label-sm">State</label>
          <div class="col-8">
            <select class="form-control form-control-sm" [(ngModel)]="Record.add_state_id">
              <option *ngFor="let rec of StateList" [value]="rec.param_pkid">{{rec.param_name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label col-form-label-sm">Location</label>
          <div class="col-8">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.add_location" required
              maxlength="60" />
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="page-body line-bottom">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group row">
          <div class="col-8 offset-4">
            <button [disabled]="loading" (click)="Save()" class="btn btn-info btn-sm mr-1">OK</button>
            <button [disabled]="loading" (click)="ActionHandler('LIST',null)"
              class="btn btn-info btn-sm">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <br /> -->

<div *ngIf="ErrorMessage" class="alert alert-info">
  {{ErrorMessage}}
</div>
<ng-template #addlnklst let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Address Linked List</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-addbookdel [addid]="addid" (ModifiedRecords)="ModifiedRecords($event)"></app-addbookdel>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Close</button>
  </div> -->
</ng-template>