<div class="page-header {{currentTab=='DETAILS'?'line-bottom':''}}">
  <h5>{{title}}</h5>
  <button (click)="ActionHandler('LIST','')" class="btn btn-info btn-sm">List</button>
  <button (click)="ActionHandler('ADD','')" class="btn btn-info btn-sm">New</button>
  <button class="btn btn-info btn-sm" (click)="Return()">Return</button>
</div>

<div *ngIf="currentTab=='LIST'" class="page-list">

  <div class="page-body">
    <div class="row my-1">

      <div class="col-2">
        <input type="checkbox" class="form-check-input" [(ngModel)]="Is_Shipper" />
        <span>Shipper</span>
      </div>

      <div class="col-2">
        <input type="checkbox" class="form-check-input" [(ngModel)]="Is_Consignee" />
        <span>Consignee</span>
      </div>

      <div class="col-2">
        <input type="checkbox" class="form-check-input" [(ngModel)]="Is_Agent" />
        <span>Agent</span>
      </div>

      <div class="col-2">
        <input type="checkbox" class="form-check-input" [(ngModel)]="Is_Buy_Agent" />
        <span>Buying Agent</span>
      </div>

      <div class="col-1">
        <input type="checkbox" class="form-check-input" [(ngModel)]="Is_Others" />
        <span>Others</span>
      </div>
    </div>
  </div>
  <div class="page-body">
    <div class="row my-1">
      <label class="col-2">Search</label>
      <div class="col">
        <input type="text" class="col form-control form-control-sm" name="Search" [(ngModel)]="searchstring" />
      </div>
      <div class="col">
        <button (click)="List('NEW')" class="btn btn-info btn-sm mr-1">Search</button>
        <button *ngIf="bAdmin2" (click)="List('EXCEL')" class="btn btn-info btn-sm">EXCEL</button>
      </div>
    </div>
  </div>

  <div class="page-pagination">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm my-1 mx-1">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>

  <div class="page-body table-responsive" style="height: calc(100vh - 260px);">
    <table class="table  table-hover table-sm table-bordered fixedTableHead-ns  my-0 p-0">
      <thead class="page-body-thead">
        <tr>
          <th>EDIT</th>
          <th>CODE</th>
          <th>NAME</th>
          <th>TYPE</th>
          <th>KYC</th>
          <th>SALESMAN</th>
          <th>EDI-CODE</th>
          <th>TRADING-PARTNER</th>
          <th>DOCS</th>
          <th>CREATED.BY</th>
          <th>CREATED.DATE</th>
          <th *ngIf="bDelete" class='text-center'>DELETE</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr *ngFor="let rec of RecordList">
          <td (click)="ActionHandler('EDIT',rec.cust_pkid)" class="hlink"><i class="fa fa-pencil"></i></td>
          <td>{{rec.cust_code}}</td>
          <td>{{rec.cust_name}}</td>
          <td>{{rec.cust_group}}</td>
          <td>{{rec.cust_kyc_status}}</td>
          <td>{{rec.cust_sman_name}}</td>
          <td>{{rec.cust_edi_code}}</td>
          <td>{{rec.cust_trading_partner}}</td>
          <td>{{rec.cust_docs}}</td>
          <td>{{rec.rec_created_by}}</td>
          <td>{{rec.rec_created_date}}</td>
          <td *ngIf="bDelete" class="p-0 text-center"><i class="fa fa-trash  fa-lg pointer" aria-hidden="true"
              (click)="DeleteRow(rec)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="page-pagination line-bottom">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm my-1 mx-1">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>
</div>


<div *ngIf="currentTab=='DETAILS'" class="page-details">

  <ngb-tabset>
    <ngb-tab title="Basic Details">
      <ng-template ngbTabContent>
        <div class="page-body">


          <div class="row">

            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Code</label>
                <div class="col-8">
                  <input [disabled]="!canadd" type="text" class="form-control form-control-sm"
                    [(ngModel)]="Record.cust_code" required maxlength="15" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label  col-form-label-sm">Name</label>
                <div class="col-8">
                  <input type="text" [disabled]="!canadd" class="form-control form-control-sm"
                    [(ngModel)]="Record.cust_name" required maxlength="60" />
                </div>
              </div>

              <div class="form-group row">
                <label class="col-4 col-form-label  col-form-label-sm">IE-Code</label>
                <div class="col-8">
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_iecode" required
                    maxlength="10" />
                </div>
              </div>

              <div class="form-group row">
                <label class="col-4 col-form-label  col-form-label-sm">EDI Code</label>
                <div class="col-8">
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_edi_code" required
                    maxlength="20" />
                </div>
              </div>

              <div class="form-group row">
                <label class="col-4 col-form-label  col-form-label-sm">Trading Partner</label>
                <div class="col-8">
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_trading_partner"
                    required maxlength="20" />
                </div>
              </div>


              <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Salesman</label>
                <div class="col-8">


                  <app-autocomplete3 [controlname]="'SALESMAN'" [tabletype]="'PARAM'" [subtype]="'SALESMAN'"
                    [displaycolumn]="'NAME'" [displaydata]="Record.cust_sman_name" (ValueChanged)="LovSelected($event)">
                  </app-autocomplete3>


                </div>
              </div>

              <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Refer By</label>
                <div class="col-8">
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_referdby"
                    (blur)="OnBlur('cust_referdby')" maxlength="60" />
                </div>
              </div>

              <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Remarks</label>
                <div class="col-8">
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_remarks"
                    (blur)="OnBlur('cust_remarks')" maxlength="100" />
                </div>
              </div>

              <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Lock</label>
                <div class="col-8">
                  <input [disabled]="!canadd" type="checkbox" [(ngModel)]="Record.rec_locked" />
                  <span>Lock This Customer</span>
                </div>
              </div>


            </div>


            <div class="col-sm-6">
              <div class="col-8 offset-4">
                <input [disabled]="!canadd" type="checkbox" [(ngModel)]="Record.cust_is_shipper" />
                <span>Shipper</span>
              </div>
              <div class="col-8 offset-4">
                <input [disabled]="!canadd" type="checkbox" [(ngModel)]="Record.cust_is_consignee" />
                <span>Consignee</span>
              </div>
              <div class="col-8 offset-4">
                <input [disabled]="!canadd" type="checkbox" [(ngModel)]="Record.cust_is_agent" />
                <span>Agent</span>
              </div>
              <div class="col-8 offset-4">
                <input [disabled]="!canadd" type="checkbox" [(ngModel)]="Record.cust_is_buy_agent" />
                <span>Buying Agent</span>
              </div>
              <div class="col-8 offset-4">
                <input [disabled]="!canadd" type="checkbox" [(ngModel)]="Record.cust_is_others" />
                <span>Others</span>
              </div>
            </div>

          </div>


        </div>

        <div class="page-body">
          <app-addressm #addressComponent [RecordList]="Record.AddressList" [StateList]="StateList"
            [CountryList]="CountryList" [customer_id]="pkid" [bAdmin]="bAdmin2" [bDelete]="bDelete"
            [pan_no]="Record.cust_panno" [bShipper]="Record.cust_is_shipper" [bForeigner]="Record.cust_is_foreigner"
            [bUnregistered]="Record.cust_is_ungst"></app-addressm>
        </div>

        <div class="page-body line-bottom">
          <div class="form-group row">
            <div class="col-sm my-1">
              <button [hidden]="disableSave" (click)="Save()" class="btn btn-success btn-sm mr-1">Save</button>
              <button (click)="ActionHandler('LIST','')" class="btn btn-success btn-sm mr-1">Return</button>
              <button *ngIf="mode == 'EDIT'" (click)="ShowHistory(history)"
                class="btn btn-success btn-sm mr-1">History</button>
            </div>
          </div>
        </div>

      </ng-template>
    </ngb-tab>

    <ngb-tab title="Documents" *ngIf="mode == 'EDIT' && bDocs">
      <ng-template ngbTabContent>
        <app-upload [pkid]="pkid" [type]="'CUSTOMER'" [canupload]="bDocsUpload"></app-upload>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>
</div>
<!-- <br /> -->
<ng-template #history let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">History</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-history [pkid]="pkid" [type]="'CUSTOMER'"></app-history>
  </div>
</ng-template>
