<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button [disabled]="loading" (click)="ActionHandler('LIST','')" class="btn btn-primary btn-sm">List</button>
    <button [disabled]="loading" (click)="ActionHandler('ADD','')" class="btn btn-primary btn-sm">New</button>
    <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>

<div *ngIf="currentTab=='LIST'" class="page-list">

  <div class="page-search">
    <div class="row">

      <div class="col-2">
        <input type="checkbox" [(ngModel)]="Is_Shipper" />
        <span>Shipper</span>
      </div>

      <div class="col-2">
        <input type="checkbox" [(ngModel)]="Is_Consignee" />
        <span>Consignee</span>
      </div>

      <div class="col-2">
        <input type="checkbox" [(ngModel)]="Is_Agent" />
        <span>Agent</span>
      </div>

      <div class="col-2">
        <input type="checkbox" [(ngModel)]="Is_Cha_Forwarder" />
        <span>Cha/Forwarder</span>
      </div>

      <div class="col-1">
        <input type="checkbox" [(ngModel)]="Is_Creditor" />
        <span>Creditor</span>
      </div>

      <div class="col-1">
        <input type="checkbox" [(ngModel)]="Is_Others" />
        <span>Others</span>
      </div>

      <div *ngIf="bAdmin2" class="col-2">
        <input type="checkbox" [(ngModel)]="Last_Bill_date" />
        <span>Last Billed Date</span>
      </div>

    </div>
  </div>
  <div class="page-search">
    <div class="row">
      <label class="col-2">Search</label>
      <div class="col">
        <input type="text" class="col form-control form-control-sm" name="Search" [(ngModel)]="searchstring" />
      </div>
      <div class="col">
        <button [disabled]="loading" (click)="List('NEW')" class="btn btn-primary btn-sm">Search</button>
        <button *ngIf="bAdmin2" [disabled]="loading" (click)="List('EXCEL')"
          class="btn btn-primary btn-sm">EXCEL</button>
      </div>
    </div>
  </div>

  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>

  <div class="page-body table-responsive">
    <table class="table  table-hover table-sm">
      <thead class="page-body-thead">
        <tr>
          <th>CODE</th>
          <th>NAME</th>
          <th>TYPE</th>
          <th>KYC</th>
          <th>SALESMAN</th>
          <th>DOCS</th>
          <th>CREATED.BY</th>
          <th>CREATED.DATE</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
        <tr>
          <td (click)="ActionHandler('EDIT',rec.cust_pkid)">{{rec.cust_code}}</td>
          <td (click)="ActionHandler('EDIT',rec.cust_pkid)">{{rec.cust_name}}</td>
          <td (click)="ActionHandler('EDIT',rec.cust_pkid)">{{rec.cust_group}}</td>
          <td (click)="ActionHandler('EDIT',rec.cust_pkid)">{{rec.cust_kyc_status}}</td>
          <td (click)="ActionHandler('EDIT',rec.cust_pkid)">{{rec.cust_sman_name}}</td>
          <td>{{rec.cust_docs}}</td>
          <td>{{rec.rec_created_by}}</td>
          <td>{{rec.rec_created_date}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>
</div>


<div *ngIf="currentTab=='DETAILS'" class="page-details">

  <ngb-tabset>
    <ngb-tab title="Basic Details">
      <ng-template ngbTabContent>
        <div class="page-box">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-2 col-form-label col-form-label-sm" (click)="focus()">Code</label>
                <div class="col-4">
                  <input [disabled]="!canadd" type="text" class="form-control form-control-sm"
                    [(ngModel)]="Record.cust_code" required maxlength="15" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-2 col-form-label  col-form-label-sm">Name</label>
                <div class="col-10">
                  <input type="text" [disabled]="!canadd" class="form-control form-control-sm"
                    [(ngModel)]="Record.cust_name" required maxlength="60" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-2 col-form-label  col-form-label-sm">IE-Code</label>
                <div class="col-4">
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_iecode" required
                    maxlength="10" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-2 col-form-label  col-form-label-sm">Pan No</label>
                <div class="col-4">
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_panno" required
                    maxlength="15" [disabled]="!bAdmin" />
                </div>
              </div>



              <div class="form-group row">
                <label class="col-2 col-form-label  col-form-label-sm">Tan No</label>
                <div class="col-4">
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_tanno" required
                    maxlength="15" [disabled]="!bAdmin" />
                </div>

                <label class="col-2 col-form-label col-form-label-sm">Type</label>
                <div class="col-4">
                  <select class="form-control form-control-sm" [(ngModel)]="Record.cust_type">
                    <option [value]="'N'">NA</option>
                    <option [value]="'R'">Merchant</option>
                    <option [value]="'F'">Manufacturer</option>
                  </select>
                </div>
              </div>

              <div class=" form-group row">
                <label class="col-2 col-form-label col-form-label-sm">Class</label>
                <div class="col-4">
                  <select class="form-control form-control-sm" [(ngModel)]="Record.cust_class">
                    <option [value]="'N'">NA</option>
                    <option [value]="'P'">Private</option>
                    <option [value]="'G'">Government</option>
                  </select>
                </div>



                <label class="col-2 col-form-label col-form-label-sm"></label>
                <div class="col-4">
                  <input type="checkbox" [(ngModel)]="Record.cust_sepz_unit" />
                  <span>Sez Unit</span>
                </div>


              </div>

              <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm">This Branch Only</label>
                <div class="col-sm-4">
                  <app-autocomplete [disabled]="!canadd" #LinerLov [inputdata]="COMPRECORD"
                    (ValueChanged)="LovSelected($event)"></app-autocomplete>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Credit Days</label>
                <div class="col-8">
                  <input [disabled]="!canadd" type="text" class="form-control form-control-sm"
                    [(ngModel)]="Record.cust_crdays" (blur)="OnBlur('cust_crdays')" required maxlength="10" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Credit Limit</label>
                <div class="col-8">
                  <input [disabled]="!canadd" type="text" class="form-control form-control-sm"
                    [(ngModel)]="Record.cust_crlimit" (blur)="OnBlur('cust_crlimit')" required maxlength="15" />
                </div>
              </div>

              <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Credit-Date</label>

                <div class="col-8">
                  <app-date [disabled]="!canadd" [inputdate]="Record.cust_crdate"
                    (ValueChanged)="Record.cust_crdate=$event"></app-date>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Salesman</label>
                <div class="col-8">
                  <app-autocomplete2 #sman [disabled]="!canadd" [inputdata]="SMANREC"
                    (ValueChanged)="LovSelected($event)"></app-autocomplete2>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">CSD</label>
                <div class="col-8">
                  <app-autocomplete2 #csd [disabled]="!canadd" [inputdata]="CSDREC"
                    (ValueChanged)="LovSelected($event)"></app-autocomplete2>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Refer By</label>
                <div class="col-8">
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_referdby"
                    (blur)="OnBlur('cust_referdby')" maxlength="60" />
                </div>
              </div>

              <div class="form-group row">
                <label class="col-4 col-form-label col-form-label-sm">Remarks</label>
                <div class="col-8">
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_remarks"
                    (blur)="OnBlur('cust_remarks')" maxlength="100" />
                </div>
              </div>

            </div>


            <div class="col-sm-3">
              <div class="col-sm-12">
                <!-- <input [disabled]="!canadd" type="checkbox" [(ngModel)]="Record.cust_is_shipper" />
                <span>Shipper</span> -->
                <div class="form-check form-check-inline">
                  <input [disabled]="!canadd" type="checkbox" [(ngModel)]="Record.cust_is_shipper" />
                  <span>Shipper</span>
                </div>
                <div class="form-check form-check-inline">
                  <input [disabled]="!canadd" type="checkbox" [(ngModel)]="Record.cust_is_ungst" />
                  <span>Unregistered</span>
                </div>
              </div>

              <div class="col-12">
                <input [disabled]="!canadd" type="checkbox" [(ngModel)]="Record.cust_is_foreigner" />
                <span>Foreign Shipper</span>
              </div>

              <div class="col-12">
                <input [disabled]="!canadd" type="checkbox" [(ngModel)]="Record.cust_is_consignee" />
                <span>Consignee</span>
              </div>

              <div class="col-12">
                <input [disabled]="!canadd" type="checkbox" [(ngModel)]="Record.cust_is_agent" />
                <span>Agent</span>
              </div>

              <div class="col-12">
                <input [disabled]="!canadd" type="checkbox" [(ngModel)]="Record.cust_is_cha" />
                <span>Cha/Forwarder</span>
              </div>

              <div class="col-12">
                <input [disabled]="!canadd" type="checkbox" [(ngModel)]="Record.cust_is_creditor" />
                <span>Creditor</span>
              </div>

              <div class="col-12">
                <input [disabled]="!canadd" type="checkbox" [(ngModel)]="Record.cust_is_others" />
                <span>Others</span>
              </div>
            </div>
          </div>
        </div>

        <div class="page-box">
          <div class="row">
            <div class="col-sm-6">

              <div class="form-group row">
                <!-- <label class="col-2 col-form-label col-form-label-sm"></label> -->
                <div class="col-2">
                  <button *ngIf="gs.globalVariables.user_code == 'ADMIN'" [disabled]="loading" (click)="Unlink(Record.cust_pkid)"
                    class="btn btn-success btn-sm">Unlink</button>
                </div>
                <div class="col-4">
                  <input [disabled]="cust_linked || !canadd" type="checkbox" [(ngModel)]="Record.cust_linked" />
                  <span>Link To Accounts</span>
                </div>

                <label class="col-2 col-form-label col-form-label-sm"></label>
                <div class="col-4">
                  <input [disabled]="!canadd" type="checkbox" [(ngModel)]="Record.rec_locked" />
                  <span>Lock This Customer</span>
                </div>

              </div>

              <div *ngIf="Record.cust_linked">

                <div class="form-group row">
                  <label class="col-2 col-form-label col-form-label-sm">A/c Group</label>
                  <div class="col-10">
                    <select [disabled]="!Record.cust_linked || !canadd" class="form-control form-control-sm"
                      [(ngModel)]="Record.acc_group_id">
                      <option *ngFor="let rec of AcGrpList" [value]="rec.acgrp_pkid">{{rec.acgrp_name}}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-2 col-form-label col-form-label-sm">A/c Type</label>
                  <div class="col-10">
                    <select [disabled]="!Record.cust_linked || !canadd" class="form-control form-control-sm"
                      [(ngModel)]="Record.acc_type_id">
                      <option *ngFor="let rec of AcTypeList" [value]="rec.actype_pkid">{{rec.actype_name}}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-2 col-form-label col-form-label-sm">Alloc.Against</label>
                  <div class="col-10">
                    <select [disabled]="!Record.cust_linked || !canadd" class="form-control form-control-sm"
                      [(ngModel)]="Record.acc_against_invoice">
                      <option [value]="'N'">NA</option>
                      <option [value]="'D'">DEBIT</option>
                      <option [value]="'C'">CREDIT</option>
                    </select>
                  </div>
                </div>

              </div>


            </div>

            <div class="col-sm-6">

              <div class="form-group row">
                <label class="col-2 col-form-label col-form-label-sm">Nomination</label>
                <div class="col-4">
                  <select [disabled]="!canadd" class="form-control form-control-sm"
                    [(ngModel)]="Record.cust_nomination">
                    <option [value]="'NA'">NA</option>
                    <option [value]="'NOMINATION'">NOMINATION</option>
                    <option [value]="'MUTUAL'">MUTUAL</option>
                    <option [value]="'FREEHAND'">FREEHAND</option>
                  </select>
                </div>
              </div>

            </div>


          </div>
        </div>

        <div class="page-box">
          <app-addressm #addressComponent [RecordList]="Record.AddressList" [StateList]="StateList"
            [CountryList]="CountryList" [customer_id]="pkid" [bAdmin]="bAdmin2" [bDelete]="bDelete"
            [pan_no]="Record.cust_panno" [bShipper]="Record.cust_is_shipper" [bForeigner]="Record.cust_is_foreigner"
            [bUnregistered]="Record.cust_is_ungst"></app-addressm>
        </div>

        <div class="page-box">
          <div class="col">
            <button [hidden]="disableSave" [disabled]="loading" (click)="Save()"
              class="btn btn-success btn-sm">Save</button>
            <button [disabled]="loading" (click)="ActionHandler('LIST','')"
              class="btn btn-success btn-sm">Return</button>
            <button *ngIf="mode == 'EDIT'" [disabled]="loading" (click)="ShowHistory(history)"
              class="btn btn-success btn-sm">History</button>

              <button [disabled]="loading" *ngIf="mode == 'EDIT'"  class="btn btn-primary btn-sm" (click)="CheckCrLimit()">Check
                CR-Limit</button>

            <i *ngIf="loading" class="fa fa-spinner"></i>
          </div>
        </div>

      </ng-template>
    </ngb-tab>
    <ngb-tab title="Others">
      <ng-template ngbTabContent>

        <div class="page-box">
          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">DBK A/c#</label>
            <div class="col-4">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_dbkacno" required
                maxlength="50" />
            </div>
          </div>


          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Ad Code</label>
            <div class="col-4">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_adcode" required
                maxlength="50" />
            </div>
          </div>


          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Bank A/c#</label>
            <div class="col-4">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_acno" required
                maxlength="60" />

            </div>
          </div>


          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Forex A/c#</label>
            <div class="col-4">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_forexacno" required
                maxlength="60" />

            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Bank</label>
            <div class="col-4">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_bank" required
                maxlength="60" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Branch</label>
            <div class="col-4">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_bank_branch" required
                maxlength="60" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm">Address</label>
            <div class="col-4">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_bank_address1" required
                maxlength="60" />

            </div>
          </div>


          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm"></label>
            <div class="col-4">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_bank_address2" required
                maxlength="60" />

            </div>
          </div>

          <div class="form-group row">
            <label class="col-2 col-form-label  col-form-label-sm"></label>
            <div class="col-4">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.cust_bank_address3" required
                maxlength="60" />

            </div>
          </div>

        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Documents" *ngIf="mode == 'EDIT' && bDocs">
      <ng-template ngbTabContent>
        <app-upload [pkid]="pkid" [type]="'CUSTOMER'" [canupload]="bDocsUpload"></app-upload>
      </ng-template>
    </ngb-tab>


    <ngb-tab title="Salesman" *ngIf="mode == 'EDIT' && bAdmin">
      <ng-template ngbTabContent>
        <app-custdet [parentid]="pkid"></app-custdet>
      </ng-template>
    </ngb-tab>

    <ngb-tab *ngIf="mode == 'EDIT'" title="EDI">
      <ng-template ngbTabContent>
        <div class="page-box">
          <div class="col">
            <app-xmloms [pkid]="pkid" [filename]="Record.cust_name" [type]="'CUSTOMER'"></app-xmloms>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab *ngIf="mode == 'EDIT'" title="Beneficiary">
      <ng-template ngbTabContent>
        <div class="page-box">
          <div class="col">
            <app-benf [parentid]="pkid" [cust_code]="Record.cust_code" [cust_name]="Record.cust_name" [type]="type">
            </app-benf>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>
</div>
<br />




<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>



<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>
<ng-template #history let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">History</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-history [pkid]="pkid" [type]="'CUSTOMER'"></app-history>
  </div>
</ng-template>



