<div class="page-details">
  <!--<label>{{title}}</label>-->
  <div class="col">
    <font color="black">
      <strong>
        PO.ID#&nbsp;
      </strong>
    </font>
    <font color="red">
      {{poid}}
    </font>
    <font color="black">
      <strong>
        PO#&nbsp;
      </strong>
    </font>
    <font color="red">
      {{pono}}
    </font>
    <font color="black">
      <strong>
        STYLE&nbsp;
      </strong>
    </font>
    <font color="red">
      {{styleno}}
    </font>
    <!-- <button [disabled]="loading" (click)="CreateOrder('VALIDATE')" class="btn btn-primary btn-sm">Validate</button> -->
    <button [disabled]="loading" (click)="CreateOrder('CREATE-PO')" class="btn btn-primary btn-sm">Add To Order
      List</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="page-list">
      Order List
      <div class="row">
        <div class="col-sm-6">
          <div style="height: 300px; overflow-y: scroll;">
            <div class="page-body table-responsive">
              <table class="table  table-hover table-sm">
                <thead class="page-body-thead">
                  <tr>
                    <th>REF#</th>
                    <th>PO.ID</th>
                    <th>PO#</th>
                    <th>STYLE</th>
                    <th>COLOR</th>
                  </tr>
                </thead>
                <tbody class="page-body-tbody">
                  <tr *ngFor="let rec of RecordList; let i = index"  (click)="Getagentrefno(rec.ord_agentref_id)">
                    <td>{{rec.ord_agentref_id}}</td>
                    <td>{{rec.ord_uid}}</td>
                    <td>{{rec.ord_po}}</td>
                    <td>{{rec.ord_style}}</td>
                    <td>{{rec.ord_color}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-details">
      <div class="col-sm-6">
        <div class="form-group row" style="color:black">
          <label class="col-sm-1 col-form-label col-form-label-sm">REF#</label>
          <div class="col-sm-3">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="ord_agentref_id"
              (blur)="OnBlur('ord_agentref_id')" required maxlength="30" />
          </div>
          <div class="col-sm-8">
            <button [disabled]="loading" (click)="Save()" class="btn btn-primary btn-sm">Save</button>
            <i *ngIf="loading" class="fa fa-spinner"></i>
          </div>
        </div>
        <!-- <div class="form-group row">
          <div class="offset-sm-2 col-sm-6">
            <button [disabled]="loading" (click)="Save()" class="btn btn-primary btn-sm">Save</button>
            <i *ngIf="loading" class="fa fa-spinner"></i>
          </div>
        </div> -->
      </div>
    </div>

  </div>
</div>
<br />

<!--<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>-->

<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>