<div class="page-header">
  <h5>{{title}}</h5>
  <button [disabled]="loading" (click)="ActionHandler('LIST','')" class="btn btn-info btn-sm">List</button>
  <button [disabled]="loading" (click)="ActionHandler('ADD','')" class="btn btn-info btn-sm">New</button>
  <button class="btn btn-info btn-sm" (click)="Close()">Close</button>
</div>

<div *ngIf="currentTab=='LIST'">

  <div class="page-body">
    <div class="row">
      <label class="col-2">Search</label>
      <div class="col">
        <input type="text" class="col form-control form-control-sm" name="Search" [(ngModel)]="searchstring" />
      </div>
      <div class="col">
        <button [disabled]="loading" (click)="List('NEW')" class="btn btn-info btn-sm">Search</button>
      </div>
    </div>
  </div>
  <div *ngIf="page_count" class="page-pagination">
    <ul class="pagination pagination-sm my-1 mx-1">
      <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
      </li>
      <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
      <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
    </ul>
  </div>
  <div class="page-body">
    <div class="table-responsive  table-bordered fixedTableHead  my-0 p-0" style="height: calc(100vh - 238px);">
      <table class="table  table-hover table-sm">
        <thead class="page-body-thead">
          <tr>
            <th>EDIT</th>
            <th>CODE</th>
            <th>NAME</th>
            <th>PTC</th>
            <th>EMAIL</th>
            <th>TEL</th>
            <th>FAX</th>
            <th>TYPE</th>
            <th>ORDER</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
          <tr >
            <td (click)="ActionHandler('EDIT',rec.comp_pkid)" class="hlink"><i class="fa fa-pencil"></i></td>
            <td>{{rec.comp_code}}</td>
            <td>{{rec.comp_name}}</td>
            <td>{{rec.comp_ptc}}</td>
            <td>{{rec.comp_email}}</td>
            <td>{{rec.comp_tel}}</td>
            <td>{{rec.comp_fax}}</td>
            <td>{{rec.comp_branch_type}}</td>
            <td>{{rec.comp_order}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="page_count" class="page-pagination line-bottom">
    <ul class="pagination pagination-sm my-1 mx-1">
      <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
      </li>
      <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
      <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
    </ul>
  </div>
</div>


<div *ngIf="currentTab=='DETAILS'" class="page-details">
  <div class="page-body">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="col-2 col-form-label col-form-label-sm">Code</label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.comp_code"
              (blur)="OnBlur('comp_code')" required maxlength="10" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">Name</label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.comp_name"
              (blur)="OnBlur('comp_name')" required maxlength="60" />
          </div>
        </div>


        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">Address</label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.comp_address1"
              (blur)="OnBlur('comp_address1')" required maxlength="60" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm"></label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.comp_address2"
              (blur)="OnBlur('comp_address2')" required maxlength="60" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm"></label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.comp_address3"
              (blur)="OnBlur('comp_address3')" required maxlength="60" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">Telephone</label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.comp_tel"
              (blur)="OnBlur('comp_tel')" required maxlength="60" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">Fax</label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.comp_fax"
              (blur)="OnBlur('comp_fax')" required maxlength="60" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">Email</label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.comp_email"
              (blur)="OnBlur('comp_fax')" required maxlength="60" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">Web</label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.comp_web"
              (blur)="OnBlur('comp_fax')" required maxlength="60" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">PTC</label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.comp_ptc"
              (blur)="OnBlur('comp_ptc')" required maxlength="60" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">Mobile</label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.comp_mobile"
              (blur)="OnBlur('comp_mobile')" required maxlength="60" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">Reg.Address</label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.comp_reg_address" required
              maxlength="150" />
          </div>
        </div>

      </div>

      <div class="col-sm-6">
        <div class="form-group row">
          <label class="col-2 col-form-label col-form-label-sm">PAN#</label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.comp_panno"
              (blur)="OnBlur('comp_panno')" required maxlength="50" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">CIN#</label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.comp_cinno"
              (blur)="OnBlur('comp_cinno')" required maxlength="100" />
          </div>
        </div>


        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">GSTIN</label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.comp_gstin"
              (blur)="OnBlur('comp_gstin')" required maxlength="20" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">UAM#</label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.comp_uamno"
              (blur)="OnBlur('comp_uamno')" required maxlength="50" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">IATA.Code</label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.comp_iata_code"
              (blur)="OnBlur('comp_iata_code')" required maxlength="30" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">Location</label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.comp_location"
              (blur)="OnBlur('comp_location')" required maxlength="30" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">Prefix</label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.comp_prefix"
              (blur)="OnBlur('comp_prefix')" required maxlength="10" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">Branch Type</label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.comp_branch_type"
              (blur)="OnBlur('comp_branch_type')" required maxlength="10" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">Country Code</label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.comp_country_code"
              (blur)="OnBlur('comp_country_code')" required maxlength="2" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">Port Code</label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.comp_pol_code"
              (blur)="OnBlur('comp_pol_code')" required maxlength="6" />
          </div>
        </div>



        <div class="form-group row">
          <label class="col-2 col-form-label  col-form-label-sm">Order</label>
          <div class="col-10">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.comp_order" required
              maxlength="2" />
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="page-body line-bottom">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group row">
          <div class="offset-2 col-10">
            <button [disabled]="loading" (click)="Save()" class="btn btn-success btn-sm mr-1">Save</button>
            <button [disabled]="loading" (click)="ActionHandler('LIST','')"
              class="btn btn-success btn-sm">Return</button>
            <i *ngIf="loading" class="fa fa-spinner"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <br /> -->

<div *ngIf="ErrorMessage" class="alert alert-info">
  {{ErrorMessage}}
</div>