<!-- <div class="page-header">
  <div class="col">
    <label class="col-form-label mr-1">{{ms.title}}</label>
    <button [disabled]="ms.loading" (click)="ActionHandler('ADD','')" class="btn btn-primary btn-sm mr-1">New</button>
    <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
  </div>
</div> -->

<div class="page-header">
  <h5>{{ms.title}}</h5>
  <button [disabled]="ms.loading" (click)="ActionHandler('ADD','')" class="btn btn-info btn-sm">New</button>
  <button class="btn btn-info btn-sm" (click)="Close()">Return</button>
</div>

<!-- page-list -->
<div class="page-body">
  <!-- <div class="my-1"> -->
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label col-form-label-sm">Agent.Pol</label>
        <div class="col-sm-8">
          <app-autocomplete3 [controlname]="'AGENT-POL'" [tabletype]="'CUSTOMER'" [displaycolumn]="'NAME'"
            [displaydata]="ms.record.searchQuery.list_pol_agent_name" (ValueChanged)="LovSelected($event)"
            [where]="ms.where_agent">
          </app-autocomplete3>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label col-form-label-sm">Consignee</label>
        <div class="col-sm-8">
          <app-autocomplete3 [controlname]="'CONSIGNEE'" [tabletype]="'CUSTOMER'" [displaycolumn]="'NAME'"
            [displaydata]="ms.record.searchQuery.list_imp_name" (ValueChanged)="LovSelected($event)"
            [where]="ms.where_consignee">
          </app-autocomplete3>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label col-form-label-sm">Agent.Pod</label>
        <div class="col-sm-8">
          <app-autocomplete3 [controlname]="'AGENT-POD'" [tabletype]="'CUSTOMER'" [displaycolumn]="'NAME'"
            [displaydata]="ms.record.searchQuery.list_pod_agent_name" (ValueChanged)="LovSelected($event)"
            [where]="ms.where_agent">
          </app-autocomplete3>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label col-form-label-sm">{{ms.type=='SEA EXPORT'?'Vessel':'Airline'}}</label>
        <div class="col-sm-8">
          <app-autocomplete3 [controlname]="'VESSEL'" [tabletype]="'PARAM'"
            [subtype]="ms.type=='SEA EXPORT'?'VESSEL':'AIR CARRIER'" [displaycolumn]="'NAME'"
            [displaydata]="ms.record.searchQuery.list_vessel_name" (ValueChanged)="LovSelected($event)">
          </app-autocomplete3>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label col-form-label-sm">Status</label>
        <div class="col-sm-8">
          <select class="form-control form-control-sm" [(ngModel)]="ms.record.searchQuery.list_status">
            <option [value]="'ALL'">ALL</option>
            <option [value]="'IN PROGRESS'">IN PROGRESS</option>
            <option [value]="'COMPLETED'">COMPLETED</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label col-form-label-sm"></label>
        <div class="col-sm-8">
          <input type="checkbox" [(ngModel)]="ms.record.searchQuery.list_hide" id="_vphide" />
          <label class="col-form-label col-form-label-sm" for="_vphide">Show Hidden Records</label>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group row">
        <div class="col-sm-8  offset-4">
          <button [disabled]="ms.loading" (click)="ms.List('NEW')" class="btn btn-info btn-sm btn-block">Search</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">

    </div>
  </div>
  <!-- </div> -->
</div>
<div *ngIf="ms.record.searchQuery.page_count">
  <div class="page-pagination">
    <ul class="pagination pagination-sm my-1 mx-1">
      <li class="page-item"><a class="page-link">Page
          {{ms.record.searchQuery.page_current}}/{{ms.record.searchQuery.page_count}}
          (Records-{{ms.record.searchQuery.page_rowcount}})</a></li>
      <li class="page-item"><a class="page-link" (click)="ms.List('FIRST')"><span class="fa fa-backward"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="ms.List('PREV')"><span class="fa fa-arrow-left"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="ms.List('NEXT')"><span class="fa fa-arrow-right"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="ms.List('LAST')"><span class="fa fa-forward"></span></a>
      </li>
    </ul>
  </div>
</div>
<div class="page-body">
  <div class="table-responsive fixedTableHead  my-0 p-0" style="height: calc(100vh - 345px);">
    <table class="table  table-hover table-sm table-bordered">
      <thead class="table-success">
        <tr class="table-header">
          <th>CF#</th>
          <th>EDIT</th>
          <th>WEEK#</th>
          <th>DATE</th>
          <th>POL.AGENT</th>
          <th>CONSIGNEE</th>
          <th>POD.AGENT</th>
          <th>MASTER#</th>
          <th>POL</th>
          <th>ETD</th>
          <th>POD</th>
          <th>ETA</th>
          <th>{{ms.type=='SEA EXPORT'?'VESSEL':'AIRLINE'}}</th>
          <th>{{ms.type=='SEA EXPORT'?'VOYAGE':'FLIGHT#'}}</th>
          <th>STATUS</th>
          <th>COMMENTS</th>
          <th *ngIf="ms.bAdmin">{{ms.show_hide_caption}}</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr *ngFor="let rec of ms.record.records" (mousedown)="ms.selectRowId(rec.vp_pkid)"
          [ngClass]="{'table-info':rec.vp_pkid == ms.getRowId()}">
          <td>{{rec.vp_plan_no}}</td>
          <td (click)="ActionHandler('EDIT',rec.vp_pkid)" class="hlink"><i class="fa fa-pencil"></i>
          </td>
          <td>{{rec.vp_week_no}}</td>
          <td>{{rec.vp_plan_date}}</td>
          <td>{{rec.vp_pol_agent_name}}</td>
          <td>{{rec.vp_imp_name}}</td>
          <td>{{rec.vp_pod_agent_name}}</td>
          <td>{{rec.vp_mbl_no}}</td>
          <td>{{rec.vp_pol_name}}</td>
          <td>{{rec.vp_pol_etd}}</td>
          <td>{{rec.vp_pod_name}}</td>
          <td>{{rec.vp_pod_eta}}</td>
          <td>{{rec.vp_vessel_name}}</td>
          <td>{{rec.vp_voyage}}</td>
          <td>{{rec.vp_status}}</td>
          <td>{{rec.vp_comments}}</td>
          <td *ngIf="ms.bAdmin" class="p-0"><button class="btn btn-info btn-sm pt-0 pb-0"
              (click)="ms.ChangeShowHide(rec)">{{rec.vp_hide=='Y'?'SHOW':'HIDE'}}</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="ms.record.searchQuery.page_count">
  <div class="page-pagination line-bottom">
    <ul class="pagination pagination-sm my-1 mx-1">
      <li class="page-item"><a class="page-link">Page
          {{ms.record.searchQuery.page_current}}/{{ms.record.searchQuery.page_count}}
          (Records-{{ms.record.searchQuery.page_rowcount}})</a></li>
      <li class="page-item"><a class="page-link" (click)="ms.List('FIRST')"><span class="fa fa-backward"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="ms.List('PREV')"><span class="fa fa-arrow-left"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="ms.List('NEXT')"><span class="fa fa-arrow-right"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="ms.List('LAST')"><span class="fa fa-forward"></span></a>
      </li>
    </ul>
  </div>
</div>