<div class="page-header">
  <div class="col">
    <label class="col-form-label mr-1">{{title}}</label>
    <button class="btn btn-primary btn-sm" (click)="Close()">Return</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>
<div class="page-details">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-sm">Planning#</label>
        <div class="col-sm-4">
          <input type="text" style="color:red; font-weight:bold" class="form-control form-control-sm"
            [(ngModel)]="Record.vp_plan_no" [disabled]="true" required maxlength="15" />
        </div>
        <label class="col-sm-2 col-form-label col-form-label-sm">Date</label>
        <div class="col-sm-4">
          <app-date #vp_plan_date [inputdate]="Record.vp_plan_date"
            (ValueChanged)="Record.vp_plan_date=$event"></app-date>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-sm">Week#</label>
        <div class="col-sm-4">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.vp_week_no"
            (blur)="OnBlur('vp_week_no')" required maxlength="10" />
        </div>
        <label class="col-sm-2 col-form-label col-form-label-sm">ETD</label>
        <div class="col-sm-4">
          <app-date #vp_plan_date [inputdate]="Record.vp_plan_date"
            (ValueChanged)="Record.vp_plan_date=$event"></app-date>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-sm">Vessel</label>
        <div class="col-sm-4">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.vp_week_no"
            (blur)="OnBlur('vp_week_no')" required maxlength="10" />
        </div>
        <label class="col-sm-2 col-form-label col-form-label-sm">Voyage</label>
        <div class="col-sm-4">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.vp_week_no"
            (blur)="OnBlur('ord_po')" />
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-sm">Status</label>
        <div class="col-sm-10">
          <select class="form-control form-control-sm" [(ngModel)]="Record.vp_status">
            <option [value]="'IN PROGRESS'">IN PROGRESS</option>
            <option [value]="'COMPLETED'">COMPLETED</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-sm">Comments</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.vp_comments"
            (blur)="OnBlur('vp_comments')" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">Agent.Pol</label>
        <div class="col-10">
          <app-autocomplete2 [controlname]="'AGENT'" [tabletype]="'CUSTOMER'" [displaycolumn]="'NAME'"
            [displaydata]="Record.vp_pol_agent_name" (ValueChanged)="LovSelected($event)" [where]="ms.where_agent">
          </app-autocomplete2>
        </div>
      </div>

    </div>

    <div class="col-sm-4">
      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">Agent.Pod</label>
        <div class="col-10">
          <app-autocomplete2 [controlname]="'AGENT-POD'" [tabletype]="'CUSTOMER'" [displaycolumn]="'NAME'"
            [displaydata]="Record.vp_pod_agent_name" (ValueChanged)="LovSelected($event)" [where]="ms.where_agent">
          </app-autocomplete2>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">Consignee</label>
        <div class="col-10">
          <app-autocomplete2 [controlname]="'CONSIGNEE'" [tabletype]="'CUSTOMER'" [displaycolumn]="'NAME'"
            [displaydata]="Record.vp_imp_name" (ValueChanged)="LovSelected($event)" [where]="ms.where_consignee">
          </app-autocomplete2>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm"></label>
        <div class="col-10">
          <button [disabled]="loading" (click)="ms.List('NEW')" class="btn btn-primary btn-sm">Search</button>
        </div>
      </div>


    </div>

  </div>
</div>
<div class="page-body table-responsive">
  <table class="table table-hover table-sm">
    <thead class="page-body-thead">
      <tr>
        <!-- <th><input type="checkbox" (click)="SelectDeselect()" [(ngModel)]="ord_selected"></th> -->
        <th>STATUS</th>
        <th>INV#</th>
        <th>PO#</th>
        <th>STYLE</th>
        <th>COLOR</th>
        <th>CBM</th>
        <th>CFS</th>
        <th>STUF</th>
        <th>SOB</th>
      </tr>
    </thead>
    <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
      <tr>
        <!-- <td><input type="checkbox" [(ngModel)]="rec.ord_selected"></td> -->
        <td>{{rec.ord_status}}</td>
        <td>{{rec.ord_invno}}</td>
        <td>{{rec.ord_po}}</td>
        <td>{{rec.ord_style}}</td>
        <td>{{rec.ord_color}}</td>
        <td>{{rec.ord_cbm}}</td>
        <td>{{rec.ord_cargo_ready_date}}</td>
        <td>{{rec.ord_stuf_date}}</td>
        <td>{{rec.ord_whd_date}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="page-details">
  <div class="col">
    <button [hidden]="disableSave" [disabled]="loading" (click)="Save()" class="btn btn-success btn-sm mr-1">Save</button>
    <!-- <button *ngIf="mode != 'ADD'" [disabled]="loading" (click)="GetRecord(Record.vp_pkid,'EXCEL')"
      class="btn btn-success btn-sm mr-1">Excel</button> -->
    <button [disabled]="loading" (click)="Close()" class="btn btn-success btn-sm">Return</button>
  </div>
</div>