<div class="page-header" *ngIf="showHeading">
  <div class="col">
    <label>{{title}}</label>
    <button class="btn btn-primary btn-sm mx-1" (click)="Close()">Close</button>
    
  </div>
</div>

<div class="page-list">
  <div class="page-search">

    <div class="row">

      <!-- <div class="col-sm-3">
          <div class="form-group row">
            <label class="col-2 col-form-label col-form-label-sm">Partner</label>
            <div class="col-10">
              <select class="form-control form-control-sm" [(ngModel)]="ms.partnerid">
                <option *ngFor="let rec of ms.TradingPartners" value="{{rec.param_code}}">{{rec.param_code}}</option>
              </select>
            </div>
          </div>
  
          <div class="form-group row">
            <label class="col-2 col-form-label col-form-label-sm">Type</label>
            <div class="col-10">
              <select class="form-control form-control-sm" [(ngModel)]="ms.hblstatus">
                <option [value]="'ALL'">ALL</option>
                <option [value]="'HBL'">HBL</option>
              </select>
            </div>
          </div>
  
          <div class="form-group row">
            <label class="col-2 col-form-label col-form-label-sm">Show</label>
            <div class="col-10">
              <select class="form-control form-control-sm" [(ngModel)]="ms.rowstatus">
                <option [value]="'ALL'">ALL</option>
                <option [value]="'N'">PENDING</option>
                <option [value]="'Y'">UPDATED</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-2">File#</label>
            <div class="col-10">
              <input type="text" class="col form-control form-control-sm"  [(ngModel)]="ms.fileno" />
            </div>
          </div>
        </div> -->

      <div class="col-sm-3">
        <div class="form-group row">
          <label class="col-2">Master#</label>
          <div class="col-10">
            <input type="text" class="col form-control form-control-sm" [(ngModel)]="ms.masterno" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2">House#</label>
          <div class="col-10">
            <input type="text" class="col form-control form-control-sm" [(ngModel)]="ms.houseno" />
          </div>
        </div>
      </div>

      <div class="col-sm-6">

        <!-- <div class="form-group row">
            <label class="col-2"></label>
            <div class="col-10">
              <label class ="mr-1" >Show Deleted</label>
              <input type="checkbox" [(ngModel)]="ms.showdeleted"/>
            </div>
          </div>         -->

        <div class="form-group row">
          <label class="col-2"></label>
          <div class="col-10">
            <button  (click)="ms.List('NEW')" class="btn btn-info btn-sm mr-1">Search</button>
            <!-- <button [disabled]="loading" (click)="ms.Validate('NEW')" class="btn btn-info btn-sm mr-1">Validate</button>
              <button [disabled]="loading" (click)="ms.TransferBL('BL')" class="btn btn-info btn-sm mr-1">Transfer House </button> -->
            <!-- <button [disabled]="loading" (click)="ms.TransferPOTracking('TRACKING')" class="btn btn-info btn-sm">Transfer PO Tracking </button> -->
          </div>
        </div>
      </div>


    </div>
  </div>
</div>


<div class="page-pager">
  <div *ngIf="ms.page_count">
    <ul class="pagination pagination-sm">
      <li class="page-item"><a class="page-link">Page {{ms.page_current}}/{{ms.page_count}}
          (Records-{{ms.page_rowcount}})</a>
      </li>
      <li class="page-item"><a class="page-link" (click)="ms.List('FIRST')"><span class="fa fa-backward"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="ms.List('PREV')"><span class="fa fa-arrow-left"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="ms.List('NEXT')"><span class="fa fa-arrow-right"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="ms.List('LAST')"><span class="fa fa-forward"></span></a>
      </li>
    </ul>
  </div>
</div>



<div class="page-body table-responsive">
  <table class="table  table-hover table-sm">
    <thead class="page-body-thead">
      <tr>
        <th>MBL#</th>
        <th>HBL#</th>
        <th>VESSEL</th>
        <th>VOYAGE</th>
        <th>ETD</th>
        <th>ETA</th>
        <th>CARRIER</th>
        <th>SHIPPER</th>
        <th>CONSIGNEE</th>
        <th>POL</th>
        <th>POD</th>
      </tr>
    </thead>
    <tbody class="page-body-tbody">
      <tr [style.color]="rec.row_colour" *ngFor="let rec of ms.RecordList; let i = index"
        [class.active]="i == selectedRowIndex">
        <td >{{rec.bl_mbl_no}}</td>
        <td (click)="editPage(rec)" class="hlink" >{{rec.bl_bl_no}}</td>
        <td>{{rec.bl_vsl_name}}</td>
        <td>{{rec.bl_vsl_voy_no}}</td>
        <td>{{rec.bl_pol_etd}}</td>
        <td>{{rec.bl_pod_eta}}</td>
        <td>{{rec.bl_carrier_name}}</td>
        <td>{{rec.bl_shipper_name}}</td>
        <td>{{rec.bl_consignee_name}}</td>
        <td>{{rec.bl_pol}}</td>
        <td>{{rec.bl_pod}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="page-pager">
  <div *ngIf="ms.page_count">
    <ul class="pagination pagination-sm">
      <li class="page-item"><a class="page-link">Page {{ms.page_current}}/{{ms.page_count}}
          (Records-{{ms.page_rowcount}})</a>
      </li>
      <li class="page-item"><a class="page-link" (click)="ms.List('FIRST')"><span class="fa fa-backward"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="ms.List('PREV')"><span class="fa fa-arrow-left"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="ms.List('NEXT')"><span class="fa fa-arrow-right"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="ms.List('LAST')"><span class="fa fa-forward"></span></a>
      </li>
    </ul>
  </div>
</div>

<br />

<div *ngIf="ms.InfoMessage" class="alert alert-success">
  {{ms.InfoMessage}}
</div>
<div *ngIf="ms.ErrorMessage" class="alert alert-danger">
  {{ms.ErrorMessage}}
</div>