<!-- <div class="page-header">
  <div class="col">
    <label class="col-form-label mr-1">{{title}}</label>
    <button class="btn btn-primary btn-sm" (click)="Close()">Return</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div> -->

<div class="page-header">
  <h5>{{title}}</h5>
  <button class="btn btn-info btn-sm" (click)="Close()">Return</button>
</div>

<div class="page-body">
  <div class="row my-1">
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">CF#</label>
        <div class="col-sm-2 pr-0">
          <input type="text" style="color:red; font-weight:bold" class="form-control form-control-sm"
            [(ngModel)]="Record.vp_plan_no" [disabled]="true" required maxlength="15" />
        </div>
        <label class="col-sm-1 col-form-label col-form-label-sm pr-0">Week#</label>
        <div class="col-sm-2 pr-0">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.vp_week_no"
            (blur)="OnBlur('vp_week_no')" required maxlength="10" />
        </div>
        <label class="col-sm-1 col-form-label col-form-label-sm pr-0">Date</label>
        <div class="col-sm-3 pr-0">
          <app-date #vp_plan_date [inputdate]="Record.vp_plan_date"
            (ValueChanged)="Record.vp_plan_date=$event"></app-date>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">Agent.Pol</label>
        <div class="col-sm-9 pr-0">
          <app-autocomplete3 [disabled]="ctrlDisable" [controlname]="'AGENT-POL'" [tabletype]="'CUSTOMER'"
            [displaycolumn]="'NAME'" [displaydata]="Record.vp_pol_agent_name" (ValueChanged)="LovSelected($event)"
            [where]="ms.where_agent">
          </app-autocomplete3>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">Consignee</label>
        <div class="col-sm-9 pr-0">
          <app-autocomplete3 [disabled]="ctrlDisable" [controlname]="'CONSIGNEE'" [tabletype]="'CUSTOMER'"
            [displaycolumn]="'NAME'" [displaydata]="Record.vp_imp_name" (ValueChanged)="LovSelected($event)"
            [where]="ms.where_consignee">
          </app-autocomplete3>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">Agent.Pod</label>
        <div class="col-sm-9 pr-0">
          <app-autocomplete3 [disabled]="ctrlDisable" [controlname]="'AGENT-POD'" [tabletype]="'CUSTOMER'"
            [displaycolumn]="'NAME'" [displaydata]="Record.vp_pod_agent_name" (ValueChanged)="LovSelected($event)"
            [where]="ms.where_agent">
          </app-autocomplete3>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">Master#</label>
        <div class="col-sm-9 pr-0">
          <!-- <app-autocomplete2 [controlname]="'MASTER-NO'" [tabletype]="'MASTER-BL-NOS'"
            [displaycolumn]="'NAME'" [displaydata]="Record.vp_mbl_no" (ValueChanged)="LovSelected($event)"
            [where]="">
          </app-autocomplete2> -->
          <app-autocomplete3 [controlname]="'MASTER-NO'" [tabletype]="'MASTER-BL-NOS'" [displaycolumn]="'NAME'"
            [displaydata]="Record.vp_mbl_no" (ValueChanged)="LovSelected($event)" [where]="sWhere">
          </app-autocomplete3>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">POL</label>
        <div class="col-sm-5 pr-0">
          <app-autocomplete3 [controlname]="'POL'" [tabletype]="'PARAM'"
            [subtype]="type=='SEA EXPORT'?'SEA PORT':'AIR PORT'" [displaycolumn]="'NAME'"
            [displaydata]="Record.vp_pol_name" (ValueChanged)="LovSelected($event)">
          </app-autocomplete3>
        </div>
        <!-- <div class="col-sm-2 pr-0">
          <InputBox [disabled]=true [(inputModel)]="Record.vp_pol_code" [maxlength]=60 [uppercase]=true></InputBox>
        </div> -->
        <label class="col-sm-1 col-form-label col-form-label-sm pr-0">ETD</label>
        <div class="col-sm-3 pr-0">
          <app-date #vp_etd [inputdate]="Record.vp_pol_etd" (ValueChanged)="Record.vp_pol_etd=$event"></app-date>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">POD</label>
        <div class="col-sm-5 pr-0">
          <app-autocomplete3 [controlname]="'POD'" [tabletype]="'PARAM'"
            [subtype]="type=='SEA EXPORT'?'SEA PORT':'AIR PORT'" [displaycolumn]="'NAME'"
            [displaydata]="Record.vp_pod_name" (ValueChanged)="LovSelected($event)">
          </app-autocomplete3>
        </div>
        <!-- <div class="col-sm-2 pr-0">
          <InputBox [disabled]=true [(inputModel)]="Record.vp_pod_code" [maxlength]=60 [uppercase]=true></InputBox>
        </div> -->
        <label class="col-sm-1 col-form-label col-form-label-sm pr-0">ETA</label>
        <div class="col-sm-3 pr-0">
          <app-date #vp_etd [inputdate]="Record.vp_pod_eta" (ValueChanged)="Record.vp_pod_eta=$event"></app-date>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">{{type=='SEA EXPORT'?'Vessel':'Airline'}}</label>
        <div class="col-sm-9 pr-0">
          <app-autocomplete3 [controlname]="'VESSEL'" [tabletype]="'PARAM'"
            [subtype]="type=='SEA EXPORT'?'VESSEL':'AIR CARRIER'" [displaycolumn]="'NAME'"
            [displaydata]="Record.vp_vessel_name" (ValueChanged)="LovSelected($event)">
          </app-autocomplete3>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm pr-0">{{type=='SEA EXPORT'?'Voyage':'Flight#'}}</label>
        <div class="col-sm-3 pr-0">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.vp_voyage"
            (blur)="OnBlur('vp_voyage')" required maxlength="25" />
        </div>
        <label class="col-sm-2 col-form-label col-form-label-sm pr-0">Status</label>
        <div class="col-sm-4 pr-0">
          <select class="form-control form-control-sm" [(ngModel)]="Record.vp_status">
            <option [value]="'PENDING APPROVAL'">PENDING APPROVAL</option>
            <option [value]="'IN PROGRESS'">IN PROGRESS</option>
            <option [value]="'COMPLETED'">COMPLETED</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm pr-0">Comments</label>
        <div class="col-sm-9 pr-0">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.vp_comments"
            (blur)="OnBlur('vp_comments')" required maxlength="250" />
        </div>
      </div>
    </div>

    <div *ngIf="mode=='EDIT'" class="col-md-4">
      <div class="form-group row">
        <div class="offset-sm-3 col-sm-7 pr-0">
          <button [disabled]="loading" (click)="OrderList()" class="btn btn-info btn-sm btn-block">Search</button>
        </div>
      </div>
      <div *ngIf="colHblCntrVisible && Record.vp_locked && ms.bUpdateHouse" class="form-group row">
        <div class="offset-sm-3 col-sm-7 pr-0">
          <button (click)="UpdateHouseContainer(linkhblcntr)" class="btn btn-info btn-sm btn-block">{{type=='SEA
            EXPORT'?'Update House/Container':'Update House'}}
            <span *ngIf="total_hblcntr>0" class="badge badge-light">{{total_hblcntr}}</span>
          </button>
        </div>
      </div>
      <div *ngIf="ms.bStatus" class="form-group row">
        <div class="offset-sm-3 col-sm-7 pr-0">
          <button (click)="ShowStatus(changestatus)" class="btn btn-info btn-sm btn-block">Change PO Status
            <span *ngIf="total>0" class="badge badge-light">{{total}}</span>
          </button>
        </div>
      </div>
      <div *ngIf="ms.bTrack" class="form-group row">
        <div class="offset-sm-3 col-sm-7 pr-0">
          <button (click)="ShowTracking(trackorder)" class="btn btn-info btn-sm btn-block">Tracking
            <span *ngIf="total>0" class="badge badge-light">{{total}}</span>
          </button>
        </div>
      </div>
      <div class="form-group row">
        <div *ngIf="bPrint" class="offset-sm-3 col-sm-7 pr-0">
          <button (click)="getRecord(Record.vp_pkid,'EXCEL')" class="btn btn-info btn-sm btn-block">Excel</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div *ngIf="mode=='EDIT'" class="page-body">
  <div class="row mx-0">
    <div [ngClass]="hidetrkevent ? 'col-md-12' : 'col-md-8'" class="col-md-8 mx-0 p-0">
      <div class="page-body line-bottom">
        <div class="table-responsive fixedTableHead  my-0 p-0" style="height: calc(100vh - 335px);">
          <table class="table table-hover table-sm table-bordered">
            <thead>
              <tr class="table-header">
                <th><input type="checkbox" (click)="SelectDeselect()" [(ngModel)]="ord_selected"></th>
                <th>UID</th>
                <th>STATUS</th>
                <th>STATUS.BY</th>
                <th>STATUS.DT</th>
                <th>CARGO.STATUS</th>
                <th>CARGO.STATUS.BY</th>
                <th>CARGO.STATUS.DT</th>
                <th>AGENT.POL</th>
                <th>SHIPPER</th>
                <th>CONSIGNEE</th>
                <th>BUYING.AGENT</th>
                <th>AGENT.POD</th>
                <th>INV#</th>
                <th>PO#</th>
                <th>STYLE</th>
                <th>COLOR</th>
                <th class="text-right">PKGS</th>
                <th class="text-right">PCS</th>
                <th class="text-right">CBM</th>
                <th>POL</th>
                <th>POD</th>
                <th *ngIf="colHblCntrVisible && Record.vp_locked && ms.bUpdateHouse"><input type="checkbox"
                    (click)="SelectDeselectHblCntr()" [(ngModel)]="ord_hblcntrselected"></th>
                <th *ngIf="colHblCntrVisible && Record.vp_locked">VIEW</th>
                <th>MASTER</th>
                <th>HOUSE</th>
                <th *ngFor="let col of trkCaptionList">
                  {{col.trk_caption_code}}
                </th>
                <th>HISTORY</th>
              </tr>
            </thead>
            <tbody class="page-body-tbody" *ngFor="let rec of Record.OrderList; let i = index">
              <tr [style.color]="rec.ord_status_color" (mousedown)="selectRowId(rec.ord_pkid)"
                [ngClass]="{'table-info':rec.ord_pkid == getRowId()}"
                (click)="ShowTrackingEvents(rec,hidetrkevent)">
                <td><input type="checkbox" (change)="OnChange('ord_selected')" [(ngModel)]="rec.ord_selected"></td>
                <td>{{rec.ord_uid}}</td>
                <td>{{rec.ord_status}}</td>
                <td>{{rec.ord_status_edited_by}}</td>
                <td>{{rec.ord_status_edited_date}}</td>
                <td>{{rec.ord_cargo_status}}</td>
                <td>{{rec.ord_cargo_status_edited_by}}</td>
                <td>{{rec.ord_cargo_status_date}}</td>
                <td>{{rec.ord_agent_name}}</td>
                <td>{{rec.ord_exp_name}}</td>
                <td>{{rec.ord_imp_name}}</td>
                <td>{{rec.ord_buy_agent_name}}</td>
                <td>{{rec.ord_pod_agent_name}}</td>
                <td>{{rec.ord_invno}}</td>
                <td>{{rec.ord_po}}</td>
                <td>{{rec.ord_style}}</td>
                <td>{{rec.ord_color}}</td>
                <td align='right'>{{rec.ord_pkg | number : '1.2-2'}}</td>
                <td align='right'>{{rec.ord_pcs | number : '1.2-2'}}</td>
                <td align='right'>{{rec.ord_cbm | number : '1.3-3'}}</td>
                <td>{{rec.ord_pol}}</td>
                <td>{{rec.ord_pod}}</td>
                <td *ngIf="colHblCntrVisible && Record.vp_locked && ms.bUpdateHouse">
                  <input *ngIf="rec.ord_plan_id" type="checkbox" (change)="OnChange('ord_hblcntrselected')"
                    [(ngModel)]="rec.ord_hblcntrselected">
                </td>
                <td *ngIf="colHblCntrVisible && Record.vp_locked" class="hlink" (click)="ShowHideRecord(rec)"><i
                    *ngIf="rec.ord_mbl_no" class="fa fa-eye"></i></td>
                <td>{{rec.ord_mbl_no}}</td>
                <td>{{rec.ord_hbl_cntr_nos}}</td>
                <td *ngFor="let col of trkCaptionList">
                  {{rec[col.trk_field_name]}}
                </td>
                <td (click)="ShowHistory(history,'',rec.ord_pkid)" class="hlink"><i
                    class="fa fa-history fa-lg pointer"></i>
                </td>
              </tr>
              <tr *ngIf="rec.row_displayed" style="border: 2px solid green;">
                <td colspan="100%">
                  <div class="table-responsive my-0 p-0">
                    <table class="table table-hover table-sm table-bordered">
                      <thead>
                        <tr class="table-header">
                          <th width="10%">SL#</th>
                          <th width="20%">MASTER#</th>
                          <th width="20%">HOUSE#</th>
                          <th width="20%" *ngIf="type=='SEA EXPORT'">CNTR#</th>
                          <th width="30%" *ngIf="type=='SEA EXPORT'">TYPE</th>
                        </tr>
                      </thead>
                      <tbody class="page-body-tbody">
                        <tr *ngFor="let rec of rec.LinkHblCntrList; let i = index">
                          <td>{{i+1}}</td>
                          <td>{{rec.cntrd_mbl_no}}</td>
                          <td>{{rec.cntrd_hbl_no}}</td>
                          <td *ngIf="type=='SEA EXPORT'">{{rec.cntrd_cntr_no}}</td>
                          <td *ngIf="type=='SEA EXPORT'">{{rec.cntrd_cntr_type}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="!hidetrkevent" class="col-md-4 mx-0 p-0" style="height: calc(100vh - 329px);overflow: auto;" >
      <app-trkevent #trkcompnent [RecordList]="trkEventList" [trkRec]="trkRec" [trkCaptionList]="trkCaptionList" [iHistoryHt]="'338px'"></app-trkevent>
    </div>
  </div>
</div>
<div class="page-body line-bottom">
  <div class="form-group row">
    <div class="col-sm-8 my-1">
      <button [hidden]="disableSave" [disabled]="loading||Record.vp_locked" (click)="Save()"
        class="btn btn-success btn-sm mr-1">Save</button>
      <button *ngIf="Record.vp_locked&&ms.bUnlock" [disabled]="loading" (click)="Unlock()"
        class="btn btn-success btn-sm mr-1">Unlock Master</button>
      <button [disabled]="loading" (click)="Close()" class="btn btn-success btn-sm">Return</button>
    </div>
    <div *ngIf="Record.OrderList?.length>0" class="col-sm-4 ml-auto pt-2 text-right">
      <a href="javascript:void(0)" (click)="hidetrkevent = !hidetrkevent">
        {{ hidetrkevent
        ? 'Show Tracking Events'
        : 'Hide Tracking Events' }}
      </a>
    </div>
  </div>
</div>

<ng-template #changestatus let-c="close" let-d="dismiss">
  <div class="modal-body p-2">
    <app-status [ord_pkids]="ord_trkids" [ord_pos]="ord_trkpos" [ord_header_id]="''"
      (closeModalWindow)="CloseModal1($event)"></app-status>
  </div>
</ng-template>

<ng-template #trackorder let-c="close" let-d="dismiss">
  <div class="modal-body">
    <app-trackorder [ord_pkids]="ord_trkids" [ord_pos]="ord_trkpos" [ord_imp_grp_id]="ord_imp_grp_id" [ord_imp_id]="trk_ord_imp_id"
      (closeModalWindow)="CloseModal1($event)"></app-trackorder>
  </div>
</ng-template>

<ng-template #linkhblcntr let-c="close" let-d="dismiss">
  <div class="modal-body">
    <app-link-ord-hbl-cntr [mblid]="mblid" [planid]="pkid" [orderid]="orderids" [type]="type" [menuid]="menuid"
      (closeModalWindow)="CloseModal2($event)"></app-link-ord-hbl-cntr>
  </div>
</ng-template>
<ng-template #history let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">History</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-userhistory [pkid]="orderHeaderPkid" [subid]="orderPkid" [filterList]="ms.HistoryFilterList"></app-userhistory>
  </div>
</ng-template>