<div class="page-header">
  <div class="col">
    <label>Order List</label>
    <button class="btn btn-primary btn-sm mx-1" (click)="ActionHandler('ADD')">New</button>
    <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
  </div>
</div>

<div class="page-details" >
  <div class="row">
          
        <div class="col-md-5">

          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">From</label>
            <div class="col-4">
              <app-date [inputdate]="query.from_date" (ValueChanged)="query.from_date=$event"></app-date>
            </div>
            <label class="col-1 col-form-label col-form-label-sm">To</label>
            <div class="col-4">
              <app-date [inputdate]="query.to_date" (ValueChanged)="query.to_date=$event"></app-date>
            </div>            
          </div>


          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">Agent.Pol</label>
            <div class="col-9">
              <app-autocomplete2 [controlname]="'AGENT'" [tabletype]="'CUSTOMER'" [displaycolumn]="'NAME'"
                [displaydata]="query.list_agent_name" (ValueChanged)="LovSelected($event)" [where]="ms.where_agent">
              </app-autocomplete2>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">Shipper</label>
            <div class="col-9">

              <app-autocomplete2 [controlname]="'SHIPPER'" [tabletype]="'CUSTOMER'" [displaycolumn]="'NAME'"
                [displaydata]="query.list_exp_name" (ValueChanged)="LovSelected($event)" [where]="ms.where_shipper">
              </app-autocomplete2>

            </div>
          </div>
          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">Consignee</label>
            <div class="col-9">
              <app-autocomplete2 [controlname]="'CONSIGNEE'" [tabletype]="'CUSTOMER'" [displaycolumn]="'NAME'"
                [displaydata]="query.list_imp_name" (ValueChanged)="LovSelected($event)" [where]="ms.where_consignee">
              </app-autocomplete2>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">Buy.Agent</label>
            <div class="col-9">
              <app-autocomplete2 [controlname]="'BUY-AGENT'" [tabletype]="'CUSTOMER'" [displaycolumn]="'NAME'"
                [displaydata]="query.list_buy_agent_name" (ValueChanged)="LovSelected($event)" [where]="ms.where_buy_agent">
              </app-autocomplete2>
            </div>
          </div>          

          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">Agent.Pod</label>
            <div class="col-9">
              <app-autocomplete2 [controlname]="'AGENT-POD'" [tabletype]="'CUSTOMER'" [displaycolumn]="'NAME'"
                [displaydata]="query.list_pod_agent_name" (ValueChanged)="LovSelected($event)" [where]="ms.where_agent">
              </app-autocomplete2>
            </div>
          </div>          


        </div>

        <div class="col-md-4">

          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">Invoice#</label>
            <div class="col-9">
              <InputBox [(inputModel)]="query.ord_invoice" [maxlength]="30" [uppercase]=true></InputBox>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">Po#</label>
            <div class="col-9">
              <InputBox [(inputModel)]="query.ord_po" [maxlength]="1000" [uppercase]=true></InputBox>
            </div>
          </div>


          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">Status</label>
            <div class="col-9">
              <select class="form-control form-control-sm" [(ngModel)]="query.ord_status">
                <option [value]="'ALL'">ALL</option>
                <option [value]="'REPORTED'">REPORTED</option>
                <option [value]="'APPROVED'">APPROVED</option>
                <option [value]="'REPORTED-APPROVED'">REPORTED + APPROVED</option>
                <option [value]="'CANCELLED'">CANCELLED</option>
                <option [value]="'ON HOLD'">ON HOLD</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">Pending</label>
            <div class="col-9">
              <select class="form-control form-control-sm" [(ngModel)]="query.ord_showpending">
                <!-- <option [value]="'Y'">SHOW PENDING ONLY</option> -->
                <option [value]="'SOB-CONFIRMED'">SOB CONFIRMED</option>
                <option [value]="'SOB-NOT-CONFIRMED'">SOB NOT CONFIRMED</option>
                <option [value]="'N'">NA</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-3 col-form-label col-form-label-sm">Sort</label>
            <div class="col-9">
              <select class="form-control form-control-sm" [(ngModel)]="query.sort_colname">
                <option *ngFor="let rec of SortList" [value]="rec.colheadername">{{rec.colheadername}}</option>
              </select>
            </div>
          </div>

        </div>

        <div class="col-md-3">

          <div class="form-group row">
            <div class="col-9 offset-3">
              <button (click)="ms.List('NEW',query)" class="btn btn-info btn-sm btn-block">Search</button>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-9 offset-3">
              <button (click)="ShowTracking(trackorder)" class="btn btn-info btn-sm btn-block">Tracking
                <!-- <span *ngIf="selectedRecordsCount$ | async" class="badge badge-light">{{total}}</span> -->
              </button>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-9 offset-3">
              <button (click)="ShowStatus(changestatus)" class="btn btn-info btn-sm btn-block">Change PO Status
                <!-- <span *ngIf="selectedRecordsCount$ | async" class="badge badge-light">{{total}}</span> -->
              </button>
            </div>
          </div>


          <div class="form-group row">
            <div class="col-9 offset-3">
              <button (click)="List('EXCEL')" class="btn btn-info btn-sm btn-block">Excel</button>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-9 offset-3">
              <button (click)="ShowHistory(history)" class="btn btn-info btn-sm btn-block">History</button>
            </div>
          </div>
        </div>

  </div>
</div>
<App-Page [pageQuery]="pageQuery" (pageEvents)="pageEvents($event)"></App-Page>

<div class="page-body table-responsive fixedTableHead  my-0 p-0" style="height: calc(100vh - 321px);">
  <table class="table table-hover table-sm table-bordered">
    <thead class="page-body-thead">
      <tr>
        <th><input type="checkbox" [(ngModel)]="selectcheck" (change)="SelectCheckbox(selectcheck)"></th>
        <th>UID</th>
        <th>EDIT</th>
        <th>STATUS</th>
        <th>CARGO.STATUS</th>
        <th>CARGO.STATUS.DT</th>
        <th>AGENT.POL</th>
        <th>SHIPPER</th>
        <th>CONSIGNEE</th>
        <th>BUYING.AGENT</th>
        <th>AGENT.POD</th>
        <th>INV#</th>
        <th>PO#</th>
        <th>STYLE</th>
        <th>COLOR</th>
        <th class="text-right">PKGS</th>
        <th class="text-right">PCS</th>
        <th class="text-right">CBM</th>
        <th>POL</th>
        <th>POD</th>
        <!-- <th>BOARDING1</th>
        <th>BOARDING2</th>
        <th>INSTOCK1</th>
        <th>INSTOCK2</th>
        <th>TRACK.STATUS</th> -->
        <th *ngIf="GetCaptionCode('BKD')">{{GetCaptionCode('BKD')}}</th>
        <th *ngIf="GetCaptionCode('RND')">{{GetCaptionCode('RND')}}</th>
        <th *ngIf="GetCaptionCode('POR')">{{GetCaptionCode('POR')}}</th>
        <th *ngIf="GetCaptionCode('CFS')">{{GetCaptionCode('CFS')}}</th>
        <th *ngIf="GetCaptionCode('FCR')">{{GetCaptionCode('FCR')}}</th>
        <th *ngIf="GetCaptionCode('INSP')">{{GetCaptionCode('INSP')}}</th>
        <th *ngIf="GetCaptionCode('STUF')">{{GetCaptionCode('STUF')}}</th>
        <th *ngIf="GetCaptionCode('WHD')">{{GetCaptionCode('WHD')}}</th>
        <th *ngIf="GetCaptionCode('SOB')">{{GetCaptionCode('SOB')}}</th>
        <th *ngIf="GetCaptionCode('DPOD')">{{GetCaptionCode('DPOD')}}</th>
        <th>CREATED.BY</th>
        <th>CREATED.DT</th>
      </tr>
    </thead>
    <tbody class="page-body-tbody" *ngFor="let rec of records">
      <tr [style.color]="rec.ord_status_color">

        <td><input type="checkbox" [(ngModel)]="rec.ord_selected" (change)="handleChange(rec)"></td>
        <td>{{rec.ord_uid}}</td>
        <td (click)="ActionHandler('EDIT',rec.ord_pkid)" class="hlink"><i class="fa fa-pencil"></i></td>
        <td>{{rec.ord_status}}</td>
        <td>{{rec.ord_cargo_status}}</td>
        <td>{{rec.ord_cargo_status_date}}</td>
        <td>{{rec.ord_agent_name}}</td>
        <td>{{rec.ord_exp_name}}</td>
        <td>{{rec.ord_imp_name}}</td>
        <td>{{rec.ord_buy_agent_name}}</td>
        <td>{{rec.ord_pod_agent_name}}</td>
        <td>{{rec.ord_invno}}</td>
        <td>{{rec.ord_po}}</td>
        <td>{{rec.ord_style}}</td>
        <td>{{rec.ord_color}}</td>
        <td align='right'>{{rec.ord_pkg | number : '1.2-2'}}</td>
        <td align='right'>{{rec.ord_pcs | number : '1.2-2'}}</td>
        <td align='right'>{{rec.ord_cbm | number : '1.3-3'}}</td>
        <td>{{rec.ord_pol}}</td>
        <td>{{rec.ord_pod}}</td>
        <!-- <td>{{rec.ord_boarding1}}</td>
        <td>{{rec.ord_boarding2}}</td>
        <td>{{rec.ord_instock1}}</td>
        <td>{{rec.ord_instock2}}</td>
        <td>{{rec.ord_track_status}}</td>                 -->
        <td *ngIf="GetCaptionCode('BKD')">{{rec.ord_booking_date}}</td>
        <td *ngIf="GetCaptionCode('RND')">{{rec.ord_rnd_insp_date}}</td>
        <td *ngIf="GetCaptionCode('POR')">{{rec.ord_po_rel_date}}</td>
        <td *ngIf="GetCaptionCode('CFS')">{{rec.ord_cargo_ready_date}}</td>
        <td *ngIf="GetCaptionCode('FCR')">{{rec.ord_fcr_date}}</td>
        <td *ngIf="GetCaptionCode('INSP')">{{rec.ord_insp_date}}</td>
        <td *ngIf="GetCaptionCode('STUF')">{{rec.ord_stuf_date}}</td>
        <td *ngIf="GetCaptionCode('WHD')">{{rec.ord_whd_date}}</td>
        <td *ngIf="GetCaptionCode('SOB')">{{rec.ord_dlv_pol_date}}</td>
        <td *ngIf="GetCaptionCode('DPOD')">{{rec.ord_dlv_pod_date}}</td>
        <td>{{rec.rec_created_by}}</td>
        <td>{{rec.rec_created_date}}</td>
      </tr>
    </tbody>
  </table>
</div>

<App-Page [pageQuery]="pageQuery" (pageEvents)="pageEvents($event)"></App-Page>

<ng-template #changestatus let-c="close" let-d="dismiss">
  <div class="modal-body">
    <app-status (closeModalWindow)="CloseModal1()"></app-status>
  </div>
</ng-template>

<ng-template #trackorder let-c="close" let-d="dismiss">
  <div class="modal-body">
    <app-trackorder (closeModalWindow)="CloseModal1()"></app-trackorder>
  </div>
</ng-template>

<ng-template #history let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">History</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-history [pkid]="orderid" ></app-history>
  </div>
</ng-template>