<!-- <div class="page-box py-2">
  <div class="col">
    <label style="color: chocolate;font-size: medium;">Order List</label>
    <button class="btn btn-primary btn-sm mx-1" (click)="ActionHandler('ADD','')">New</button>
    <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
  </div>
</div> -->

<div class="page-header">
  <h5>Order List</h5>
  <button class="btn btn-info btn-sm" (click)="ActionHandler('ADD','')">New</button>
  <button class="btn btn-info btn-sm" (click)="Close()">Return</button>
</div>

<div class="page-body">
  <div class="row">

    <div class="col-sm-4">

      <div class="form-group row">
        <label class="col-sm-3 form-label form-label-sm">From</label>
        <div class="col-sm-9">
          <app-date [inputdate]="ms.record.searchQuery.from_date"
            (ValueChanged)="ms.record.searchQuery.from_date=$event"></app-date>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 form-label form-label-sm">To</label>
        <div class="col-sm-9">
          <app-date [inputdate]="ms.record.searchQuery.to_date"
            (ValueChanged)="ms.record.searchQuery.to_date=$event"></app-date>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 form-label form-label-sm">Shipper</label>
        <div class="col-sm-9">
          <app-autocomplete3 [controlname]="'SHIPPER'" [tabletype]="'CUSTOMER'" [displaycolumn]="'NAME'"
            [displaydata]="ms.record.searchQuery.list_exp_name" (ValueChanged)="LovSelected($event)"
            [where]="ms.where_shipper">
          </app-autocomplete3>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 form-label form-label-sm">Consignee</label>
        <div class="col-sm-9">
          <app-autocomplete3 [controlname]="'CONSIGNEE'" [tabletype]="'CUSTOMER'" [displaycolumn]="'NAME'"
            [displaydata]="ms.record.searchQuery.list_imp_name" (ValueChanged)="LovSelected($event)"
            [where]="ms.where_consignee">
          </app-autocomplete3>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 form-label form-label-sm">Buy.Agent</label>
        <div class="col-sm-9">
          <app-autocomplete3 [controlname]="'BUY-AGENT'" [tabletype]="'CUSTOMER'" [displaycolumn]="'NAME'"
            [displaydata]="ms.record.searchQuery.list_buy_agent_name" (ValueChanged)="LovSelected($event)"
            [where]="ms.where_buy_agent">
          </app-autocomplete3>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 form-label form-label-sm">Agent.Pol</label>
        <div class="col-sm-9">
          <app-autocomplete3 [controlname]="'AGENT'" [tabletype]="'CUSTOMER'" [displaycolumn]="'NAME'"
            [displaydata]="ms.record.searchQuery.list_agent_name" (ValueChanged)="LovSelected($event)"
            [where]="ms.where_agent">
          </app-autocomplete3>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 form-label form-label-sm">Agent.Pod</label>
        <div class="col-sm-9">
          <app-autocomplete3 [controlname]="'AGENT-POD'" [tabletype]="'CUSTOMER'" [displaycolumn]="'NAME'"
            [displaydata]="ms.record.searchQuery.list_pod_agent_name" (ValueChanged)="LovSelected($event)"
            [where]="ms.where_agent">
          </app-autocomplete3>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group row">
        <label class="col-sm-3 form-label form-label-sm">Invoice#</label>
        <div class="col-sm-9">
          <InputBox [(inputModel)]="ms.record.searchQuery.ord_invoice" [maxlength]="30" [uppercase]=true></InputBox>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 form-label form-label-sm">Po#</label>
        <div class="col-sm-9">
          <InputBox [(inputModel)]="ms.record.searchQuery.ord_po" [maxlength]="1000" [uppercase]=true></InputBox>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-sm-3 form-label form-label-sm">Status</label>
        <div class="col-sm-9">
          <select class="form-control form-control-sm" [(ngModel)]="ms.record.searchQuery.ord_status">
            <option [value]="'ALL'">ALL</option>
            <option [value]="'REPORTED'">REPORTED</option>
            <option [value]="'APPROVED'">APPROVED</option>
            <option [value]="'REPORTED-APPROVED'">REPORTED + APPROVED</option>
            <option [value]="'SENT FOR APPROVAL'">SENT FOR APPROVAL</option>
            <option [value]="'CANCELLED'">CANCELLED</option>
            <option [value]="'ON HOLD'">ON HOLD</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 form-label form-label-sm">Pending</label>
        <div class="col-sm-9">
          <select class="form-control form-control-sm" [(ngModel)]="ms.record.searchQuery.ord_showpending">
            <!-- <option [value]="'Y'">SHOW PENDING ONLY</option> -->
            <option [value]="'SOB-CONFIRMED'">SOB CONFIRMED</option>
            <option [value]="'SOB-NOT-CONFIRMED'">SOB NOT CONFIRMED</option>
            <option [value]="'N'">NA</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 form-label form-label-sm">Sort</label>
        <div class="col-sm-9">
          <select class="form-control form-control-sm" [(ngModel)]="ms.record.searchQuery.sort_colname">
            <option *ngFor="let rec of ms.SortList" [value]="rec.colheadername">{{rec.colheadername}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 form-label form-label-sm"></label>
        <div class="col-sm-5">
          <input type="checkbox" [(ngModel)]="ms.record.searchQuery.list_hide" id="_ordhide" />
          <label class="col-form-label col-form-label-sm" for="_ordhide">Show Hidden Records</label>
        </div>
        <div class="col-sm-4">
          <input type="checkbox" [(ngModel)]="ms.record.searchQuery.list_orderwise" id="_orddet" />
          <label class="col-form-label col-form-label-sm" for="_orddet">Show Order wise</label>
        </div>
      </div>

    </div>

    <div class="col-sm-4">

      <div class="form-group row">
        <div class="col-sm-9 offset-3">
          <button (click)="ms.List('NEW')" class="btn btn-info btn-sm btn-block">Search</button>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-9 offset-3">
          <button (click)="ms.ShowTracking(trackorder)" class="btn btn-info btn-sm btn-block">Tracking
            <span *ngIf="ms.total>0" class="badge badge-light">{{ms.total}}</span>
          </button>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-9 offset-3">
          <button (click)="ms.ShowStatus(changestatus)" class="btn btn-info btn-sm btn-block">Change PO Status
            <span *ngIf="ms.total>0" class="badge badge-light">{{ms.total}}</span>
          </button>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-9 offset-3">
          <button (click)="ms.List('EXCEL')" class="btn btn-info btn-sm btn-block">Excel</button>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-9 offset-3">
          <button (click)="ms.ShowHistory(history)" class="btn btn-info btn-sm btn-block">History</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div *ngIf="ms.record.searchQuery.page_count">
  <div class="page-pagination">
    <ul class="pagination pagination-sm my-1 mx-1">
      <li class="page-item"><a class="page-link">Page
          {{ms.record.searchQuery.page_current}}/{{ms.record.searchQuery.page_count}}
          (Records-{{ms.record.searchQuery.page_rowcount}})</a></li>
      <li class="page-item"><a class="page-link" (click)="ms.List('FIRST')"><span class="fa fa-backward"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="ms.List('PREV')"><span class="fa fa-arrow-left"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="ms.List('NEXT')"><span class="fa fa-arrow-right"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="ms.List('LAST')"><span class="fa fa-forward"></span></a>
      </li>
    </ul>
  </div>
</div>

<div class="page-body" *ngIf="ms.ord_list_type=='SUMMARY'">
  <div class="table-responsive fixedTableHead  my-0 p-0" style="height: calc(100vh - 350px);">
    <table class="table table-hover table-sm table-bordered">
      <thead >
        <tr class="table-header">
          <th><input type="checkbox" [(ngModel)]="ms.selectcheck" (change)="SelectCheckbox(ms.selectcheck)"></th>
          <th>EDIT</th>
          <th>DATE</th>
          <th>SHIPPER</th>
          <th>CONSIGNEE</th>
          <th>BUYING.AGENT</th>
          <th>POL</th>
          <th>POD</th>
          <th>AGENT.POL</th>
          <th>AGENT.POD</th>
          <th>REMARKS</th>
          <th *ngIf="ms.canDelete" class='text-center'>DELETE</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr *ngFor="let rec of ms.record.records" (mousedown)="ms.selectRowId(rec.ord_header_id)"
          [ngClass]="{'table-info':rec.ord_header_id == ms.getRowId()}">
          <td><input type="checkbox" [(ngModel)]="rec.ord_selected" (change)="handleChange(rec)"></td>
          <td (click)="ActionHandler('EDIT',rec.ord_header_id)" class="hlink"><i class="fa fa-pencil"></i></td>
          <td>{{rec.ord_date}}</td>
          <td>{{rec.ord_exp_name}}</td>
          <td>{{rec.ord_imp_name}}</td>
          <td>{{rec.ord_buy_agent_name}}</td>
          <td>{{rec.ord_pol}}</td>
          <td>{{rec.ord_pod}}</td>
          <td>{{rec.ord_agent_name}}</td>
          <td>{{rec.ord_pod_agent_name}}</td>
          <td>{{rec.ord_remarks}}</td>
          <td *ngIf="ms.canDelete" class="p-0 text-center"><i class="fa fa-trash  fa-lg pointer" aria-hidden="true"
            (click)="ms.DeleteRow(rec,'SUMMARY')"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="page-body" *ngIf="ms.ord_list_type=='DETAILS'">
  <div class="table-responsive fixedTableHead  my-0 p-0" style="height: calc(100vh - 397px);">
    <table class="table table-hover table-sm table-bordered">
      <thead class="table-success">
        <tr class="table-header">
          <th><input type="checkbox" [(ngModel)]="ms.selectcheck" (change)="SelectCheckbox(ms.selectcheck)"></th>
          <th>UID</th>
          <th>EDIT</th>
          <th>DATE</th>
          <th>STATUS</th>
          <th>CARGO.STATUS</th>
          <th>CARGO.STATUS.DT</th>
          <th>SHIPPER</th>
          <th>CONSIGNEE</th>
          <th>BUYING.AGENT</th>
          <th>POL</th>
          <th>POD</th>
          <th>AGENT.POL</th>
          <th>AGENT.POD</th>
          <th>INV#</th>
          <th>PO#</th>
          <th>STYLE</th>
          <th>COLOR</th>
          <th class="text-right">PKGS</th>
          <th class="text-right">PCS</th>
          <th class="text-right">CBM</th>
          <!-- <th>BOARDING1</th>
        <th>BOARDING2</th>
        <th>INSTOCK1</th>
        <th>INSTOCK2</th>
        <th>TRACK.STATUS</th> -->
          <th>PLAN#</th>
          <th>VIEW</th>
          <th>MASTER</th>
          <th>HOUSE</th>
          <th *ngIf="ms.bDocs">DOCS</th>
          <th *ngIf="gs.getTrackDate('BKD')||ms.trkdt_alldisplay=='Y'">BKD</th>
          <th *ngIf="gs.getTrackDate('RND')||ms.trkdt_alldisplay=='Y'">RND</th>
          <th *ngIf="gs.getTrackDate('POR')||ms.trkdt_alldisplay=='Y'">POR</th>
          <th *ngIf="gs.getTrackDate('CFS')||ms.trkdt_alldisplay=='Y'">CFS</th>
          <th *ngIf="gs.getTrackDate('FCR')||ms.trkdt_alldisplay=='Y'">FCR</th>
          <th *ngIf="gs.getTrackDate('INSP')||ms.trkdt_alldisplay=='Y'">INSP</th>
          <th *ngIf="gs.getTrackDate('STUF')||ms.trkdt_alldisplay=='Y'">STUF</th>
          <th *ngIf="gs.getTrackDate('WHD')||ms.trkdt_alldisplay=='Y'">WHD</th>
          <th *ngIf="gs.getTrackDate('SOB')||ms.trkdt_alldisplay=='Y'">SOB</th>
          <th *ngIf="gs.getTrackDate('DPOD')||ms.trkdt_alldisplay=='Y'">DPOD</th>
          <th>CREATED.BY</th>
          <th>CREATED.DT</th>
          <th *ngIf="ms.canDelete" class='text-center'>DELETE</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody" *ngFor="let rec of ms.record.records; let i = index">
        <tr [style.color]="rec.ord_status_color" (mousedown)="ms.selectRowId(rec.ord_pkid)"
          [ngClass]="{'table-info':rec.ord_pkid == ms.getRowId()}">
          <td><input type="checkbox" [(ngModel)]="rec.ord_selected" (change)="handleChange(rec)"></td>
          <td>{{rec.ord_uid}}</td>
          <td (click)="ActionHandler('EDIT',rec.ord_header_id)" class="hlink"><i class="fa fa-pencil"></i></td>
          <td>{{rec.ord_date}}</td>
          <td>{{rec.ord_status}}</td>
          <td>{{rec.ord_cargo_status}}</td>
          <td>{{rec.ord_cargo_status_date}}</td>
          <td>{{rec.ord_exp_name}}</td>
          <td>{{rec.ord_imp_name}}</td>
          <td>{{rec.ord_buy_agent_name}}</td>
          <td>{{rec.ord_pol}}</td>
          <td>{{rec.ord_pod}}</td>
          <td>{{rec.ord_agent_name}}</td>
          <td>{{rec.ord_pod_agent_name}}</td>
          <td>{{rec.ord_invno}}</td>
          <td>{{rec.ord_po}}</td>
          <td>{{rec.ord_style}}</td>
          <td>{{rec.ord_color}}</td>
          <td align='right'>{{rec.ord_pkg | number : '1.2-2'}}</td>
          <td align='right'>{{rec.ord_pcs | number : '1.2-2'}}</td>
          <td align='right'>{{rec.ord_cbm | number : '1.3-3'}}</td>
          <!-- <td>{{rec.ord_boarding1}}</td>
        <td>{{rec.ord_boarding2}}</td>
        <td>{{rec.ord_instock1}}</td>
        <td>{{rec.ord_instock2}}</td>
        <td>{{rec.ord_track_status}}</td>                 -->
          <td>{{rec.ord_plan_no>0?rec.ord_plan_no:''}}</td>
          <td class="hlink" (click)="ShowHideRecord(rec)"><i *ngIf="rec.ord_mbl_no" class="fa fa-eye"></i></td>
          <td>{{rec.ord_mbl_no}}</td>
          <td>{{rec.ord_hbl_cntr_nos}}</td>
          <td *ngIf="ms.bDocs" class="hlink" (click)="ShowDocuments(rec.ord_mbl_id,rec.ord_hbl_id,doc)"><i
              *ngIf="rec.ord_mbl_id" class="fa fa-file fa-lg pointer ml-1"></i></td>
          <td *ngIf="gs.getTrackDate('BKD')||ms.trkdt_alldisplay=='Y'">{{rec.ord_booking_date}}</td>
          <td *ngIf="gs.getTrackDate('RND')||ms.trkdt_alldisplay=='Y'">{{rec.ord_rnd_insp_date}}</td>
          <td *ngIf="gs.getTrackDate('POR')||ms.trkdt_alldisplay=='Y'">{{rec.ord_po_rel_date}}</td>
          <td *ngIf="gs.getTrackDate('CFS')||ms.trkdt_alldisplay=='Y'">{{rec.ord_cargo_ready_date}}</td>
          <td *ngIf="gs.getTrackDate('FCR')||ms.trkdt_alldisplay=='Y'">{{rec.ord_fcr_date}}</td>
          <td *ngIf="gs.getTrackDate('INSP')||ms.trkdt_alldisplay=='Y'">{{rec.ord_insp_date}}</td>
          <td *ngIf="gs.getTrackDate('STUF')||ms.trkdt_alldisplay=='Y'">{{rec.ord_stuf_date}}</td>
          <td *ngIf="gs.getTrackDate('WHD')||ms.trkdt_alldisplay=='Y'">{{rec.ord_whd_date}}</td>
          <td *ngIf="gs.getTrackDate('SOB')||ms.trkdt_alldisplay=='Y'">{{rec.ord_dlv_pol_date}}</td>
          <td *ngIf="gs.getTrackDate('DPOD')||ms.trkdt_alldisplay=='Y'">{{rec.ord_dlv_pod_date}}</td>
          <td>{{rec.rec_created_by}}</td>
          <td>{{rec.rec_created_date}}</td>
          <td *ngIf="ms.canDelete" class="p-0 text-center"><i class="fa fa-trash  fa-lg pointer" aria-hidden="true"
              (click)="ms.DeleteRow(rec,'DETAIL')"></i></td>
        </tr>
        <tr *ngIf="rec.row_displayed" style="border: 2px solid green;">
          <td colspan="100%">
            <div class="table-responsive my-0 p-0">
              <table class="table table-hover table-sm table-bordered">
                <thead class="table-success">
                  <tr class="table-header">
                    <th width="10%">SL#</th>
                    <th width="20%">MASTER#</th>
                    <th width="20%">HOUSE#</th>
                    <th width="20%" *ngIf="rec.rec_category=='SEA EXPORT'">CNTR#</th>
                    <th width="30%" *ngIf="rec.rec_category=='SEA EXPORT'">TYPE</th>
                  </tr>
                </thead>
                <tbody class="page-body-tbody">
                  <tr *ngFor="let rec1 of rec.LinkHblCntrList; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{rec1.cntrd_mbl_no}}</td>
                    <td>{{rec1.cntrd_hbl_no}}</td>
                    <td *ngIf="rec.rec_category=='SEA EXPORT'">{{rec1.cntrd_cntr_no}}</td>
                    <td *ngIf="rec.rec_category=='SEA EXPORT'">{{rec1.cntrd_cntr_type}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="ms.record.searchQuery.page_count">
  <div class="page-pagination line-bottom">
    <ul class="pagination page-pagination-sm  my-1 mx-1">
      <li class="page-item"><a class="page-link">Page
          {{ms.record.searchQuery.page_current}}/{{ms.record.searchQuery.page_count}}
          (Records-{{ms.record.searchQuery.page_rowcount}})</a></li>
      <li class="page-item"><a class="page-link" (click)="ms.List('FIRST')"><span class="fa fa-backward"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="ms.List('PREV')"><span class="fa fa-arrow-left"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="ms.List('NEXT')"><span class="fa fa-arrow-right"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="ms.List('LAST')"><span class="fa fa-forward"></span></a>
      </li>
    </ul>
  </div>
</div>

<ng-template #changestatus let-c="close" let-d="dismiss">
  <div class="modal-body p-2">
    <app-status [ord_pkids]="ms.ord_trkids" [ord_pos]="ms.ord_trkpos" [ord_header_id]="ms.ord_trkheaderid"
      (closeModalWindow)="CloseModal1($event)"></app-status>
  </div>
</ng-template>

<ng-template #trackorder let-c="close" let-d="dismiss">
  <div class="modal-body p-2">
    <app-trackorder [ord_pkids]="ms.ord_trkids" [ord_pos]="ms.ord_trkpos" [ord_imp_grp_id]="ms.ord_imp_grp_id"
      [ord_header_id]="ms.ord_trkheaderid" (closeModalWindow)="CloseModal1($event)"></app-trackorder>
  </div>
</ng-template>

<ng-template #historyold let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">History</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-history [pkid]="ms.orderid"></app-history>
  </div>
</ng-template>

<ng-template #history let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">History</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-userhistory [pkid]="ms.ord_trkheaderid" [subid]="ms.ord_trkids"></app-userhistory>
  </div>
</ng-template>
<ng-template #doc let-c="close" let-d="dismiss">
  <!-- <div class="modal-header">
    <h4 class="modal-title">Documents</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  <div class="modal-body">
    <app-upload [pkid]="mblid" [groupid]="hblids" [type]="'ORD-DOCUMENTS'" [canupload]=false
      (closeModalWindow)="CloseModal2($event)"></app-upload>
  </div>
  <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Close</button>
  </div> -->
</ng-template>