<div class="page-header">
  <div class="col">
    <label>Order List</label>
    <button class="btn btn-primary btn-sm mx-1" (click)="ActionHandler('ADD')">New</button>
    <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Return</button>
  </div>
</div>

<div *ngIf="errorMessage$ | async as msg">
  <div class="page-list">
    <div class="alert alert-info">
      <p class="mb-0">{{msg}}</p>
    </div>
  </div>
</div>

<div>

  <app-orderlist-header [_query]="searchQuery$ | async" (searchEvents)="searchEvents($event)">
  </app-orderlist-header>

  <App-Page [pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page>

  <app-orderlist-detail [_records]="recordlist$ | async" (EditRecord)="ActionHandler($event)"></app-orderlist-detail>

  <App-Page [pageQuery]="pageQuery$ | async" (pageEvents)="pageEvents($event)"></App-Page>

</div>