<div class="row page-header-ns">
  <h5>{{title}}</h5>
  <button class="btn btn-info btn-sm mr-1" (click)="ActionHandler('ADD')">New</button>
  <button class="btn btn-info btn-sm mr-1" (click)="Close()">Return</button>
</div>
<div class="row page-body-ns-mtrl">
  <div class="col-md-3">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">Sl#</label>
      <div class="col-sm-9">
        <input type="text" style="color:red; font-weight:bold" class="form-control form-control-sm"
          [(ngModel)]="Record.bl_slno" [disabled]="true" required maxlength="15" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">Date</label>
      <div class="col-sm-9">
        <app-date [inputdate]="Record.bl_date" (ValueChanged)="Record.bl_date=$event"></app-date>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">Booking#</label>
      <div class="col-sm-9">
        <InputBox [(inputModel)]="Record.bl_book_no" [maxlength]="60" [uppercase]=true></InputBox>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">Master#</label>
      <div class="col-sm-9">
        <InputBox [(inputModel)]="Record.bl_no" [maxlength]="60" [uppercase]=true></InputBox>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm">Carrier</label>
      <div class="col-sm-9">
        <app-autocomplete3 [controlname]="'CARRIER'" [tabletype]="'PARAM'"
          [subtype]="type=='SEA EXPORT'?'SEA CARRIER':'AIR CARRIER'" [displaycolumn]="'NAME'"
          [displaydata]="Record.bl_carrier_name" (ValueChanged)="LovSelected($event)" [where]="">
        </app-autocomplete3>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 form-label form-label-sm">Tracking</label>
      <div class="col-md-9">
        <select class="form-control form-control-sm" [(ngModel)]="Record.bl_track_type">
          <option [value]="'MANUAL'">MANUAL</option>
          <option [value]="'MBL WISE'">MBL WISE</option>
          <option [value]="'CNTR WISE'">CNTR WISE</option>
        </select>
      </div>
    </div>

  </div>

  <div class="col-md-3">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label col-form-label-sm"></label>
      <div class="col-sm-9">
        <button [hidden]="disableSave" (click)="Save()"
          class="btn btn-success btn-md mr-1">{{mode==='ADD'?'Save':'Update'}}</button>
        <button [hidden]="disableSave" *ngIf="mode == 'EDIT' && bDocs" (click)="ShowDocuments(doc)"
          class="btn btn-success btn-md">Documents</button>
      </div>
    </div>
  </div>
</div>



<div class="row" *ngIf="type =='SEA EXPORT' && mode=='EDIT'">

  <div class="col-md-6 p-0">
    <div class="page-body-ns-mtl">
      <app-cntr [parentid]="pkid" [type]="type" [menuid]="menuid" [RecordList]="CntrList"></app-cntr>
    </div>
  </div>

  <div class="col-md-6 p-0">
    <div class="page-body-ns-mtrl">
      <app-trk-list [parentid]="pkid" [type]="type" [menuid]="menuid" [RecordList]="TrackList"
        (RefreshTracking)="refreshTracking()"></app-trk-list>
    </div>
  </div>

  <div class="col-md-6 p-0">
    <div class="page-body-ns-mtl">
      <app-hbl [parentid]="pkid" [type]="type" [menuid]="menuid" [RecordList]="HblList"></app-hbl>
    </div>
  </div>
  <div class="col-md-6 p-0">
    <div class="page-body-ns-mtrl">
      <app-link-cntr-hbl [parentid]="pkid" [type]="type" [menuid]="menuid" [RecordList]="LinkList"></app-link-cntr-hbl>
    </div>
  </div>

</div>

<div class="row" *ngIf="type =='AIR EXPORT' && mode=='EDIT'">

  <div class="col-md-12 p-0">
    <div class="page-body-ns-mtrl">
      <app-hbl [parentid]="pkid" [type]="type" [menuid]="menuid" [RecordList]="HblList"></app-hbl>
    </div>
  </div>

  <div class="col-md-12 p-0">
    <div class="page-body-ns-mtrl">
      <app-trk-list [parentid]="pkid" [type]="type" [menuid]="menuid" [RecordList]="TrackList"></app-trk-list>
    </div>
  </div>


</div>


<!-- <div class="row" *ngIf="mode=='EDIT'">
  <div class="col-md-6 p-0">
    <div class="page-body-ns-mtl">
      <app-trk-list [parentid]="pkid" [type]="type" [menuid]="menuid" [RecordList]="TrackList"></app-trk-list>
    </div>
  </div>
  <div *ngIf="type=='SEA EXPORT'" class="col-md-6 p-0">
    <div class="page-body-ns-mtrl">
      <app-cntr [parentid]="pkid" [type]="type" [menuid]="menuid" [RecordList]="CntrList"></app-cntr>
    </div>
  </div>
</div>

<div class="row" *ngIf="mode=='EDIT'">
  <div class="col-md-6 p-0">
    <div class="page-body-ns-mtl">
      <app-hbl [parentid]="pkid" [type]="type" [menuid]="menuid" [RecordList]="HblList"></app-hbl>
    </div>
  </div>

  <div *ngIf="type=='SEA EXPORT'" class="col-md-6 p-0">
    <div class="page-body-ns-mtrl">
      <app-link-cntr-hbl [parentid]="pkid" [type]="type" [menuid]="menuid" [RecordList]="LinkList"></app-link-cntr-hbl>
    </div>
  </div>
</div> -->


<ng-template #doc let-c="close" let-d="dismiss">
  <div class="modal-body">
    <app-upload [pkid]="pkid" [type]="'MBL-DOCUMENTS'" (closeModalWindow)="CloseModal2($event)"></app-upload>
  </div>
</ng-template>
