<div class="page-box">
  <div class="col">
    <label class="col-form-label col-form-label-sm mr-1"><strong>TRACKING</strong></label>
    <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Close</button>
  </div>
</div>
<div *ngIf="ord_pos" class="page-box">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm"><strong>PO#</strong></label>
        <div class="col-sm-9" *ngIf="ord_pos">
          <textarea disabled rows="2" style="color:red; font-weight:bold" class="form-control form-control-sm"
            [(ngModel)]="ord_pos"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-box">
  <div class="row">
    <div class="col-sm-12">
      <div *ngIf="GetTrkEnabled('BKD')" class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">{{GetCaptionName('BKD')}}</label>
        <div class="col-sm-2">
          <app-date [disabled]="IsDisableSave('BKD')" [inputdate]="Record.ord_booking_date"
            (ValueChanged)="Record.ord_booking_date=$event"></app-date>
        </div>
        <div class="col-sm-2">
          <button [disabled]="IsDisableSave('BKD')" (click)="Update('BKD')"
            class="btn btn-primary btn-sm">Update</button>
        </div>
      </div>

      <div *ngIf="GetTrkEnabled('RND')" class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">{{GetCaptionName('RND')}}</label>
        <div class="col-sm-2">
          <app-date [disabled]="IsDisableSave('RND')" [inputdate]="Record.ord_rnd_insp_date"
            (ValueChanged)="Record.ord_rnd_insp_date=$event"></app-date>
        </div>
        <div class="col-sm-2">
          <button [disabled]="IsDisableSave('RND')" (click)="Update('RND')"
            class="btn btn-primary btn-sm">Update</button>
        </div>
      </div>

      <div *ngIf="GetTrkEnabled('POR')" class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">{{GetCaptionName('POR')}}</label>
        <div class="col-sm-2">
          <app-date [disabled]="IsDisableSave('POR')" [inputdate]="Record.ord_po_rel_date"
            (ValueChanged)="Record.ord_po_rel_date=$event"></app-date>
        </div>
        <div class="col-sm-2">
          <button [disabled]="IsDisableSave('POR')" (click)="Update('POR')"
            class="btn btn-primary btn-sm">Update</button>
        </div>
      </div>

      <div *ngIf="GetTrkEnabled('CFS')" class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">{{GetCaptionName('CFS')}}</label>
        <div class="col-sm-2">
          <app-date [disabled]="IsDisableSave('CFS')" [inputdate]="Record.ord_cargo_ready_date"
            (ValueChanged)="Record.ord_cargo_ready_date=$event">
          </app-date>
        </div>
        <div class="col-sm-2">
          <button [disabled]="IsDisableSave('CFS')" (click)="Update('CFS')" class="btn btn-primary btn-sm">Update</button>
        </div>
      </div>

      <div *ngIf="GetTrkEnabled('FCR')" class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">{{GetCaptionName('FCR')}}</label>
        <div class="col-sm-2">
          <app-date [disabled]="IsDisableSave('FCR')" [inputdate]="Record.ord_fcr_date"
            (ValueChanged)="Record.ord_fcr_date=$event"></app-date>
        </div>
        <div class="col-sm-2">
          <button [disabled]="IsDisableSave('FCR')" (click)="Update('FCR')"
            class="btn btn-primary btn-sm">Update</button>
        </div>
      </div>

      <div *ngIf="GetTrkEnabled('INSP')" class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">{{GetCaptionName('INSP')}}</label>
        <div class="col-sm-2">
          <app-date [disabled]="IsDisableSave('INSP')" [inputdate]="Record.ord_insp_date"
            (ValueChanged)="Record.ord_insp_date=$event"></app-date>
        </div>
        <div class="col-sm-2">
          <button [disabled]="IsDisableSave('INSP')" (click)="Update('INSP')"
            class="btn btn-primary btn-sm">Update</button>
        </div>
      </div>

      <div *ngIf="GetTrkEnabled('STUF')" class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">{{GetCaptionName('STUF')}}</label>
        <div class="col-sm-2">
          <app-date [disabled]="IsDisableSave('STUF')" [inputdate]="Record.ord_stuf_date"
            (ValueChanged)="Record.ord_stuf_date=$event"></app-date>
        </div>
        <div class="col-sm-2">
          <button [disabled]="IsDisableSave('STUF')" (click)="Update('STUF')"
            class="btn btn-primary btn-sm">Update</button>
        </div>
      </div>


      <div *ngIf="GetTrkEnabled('WHD')" class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">{{GetCaptionName('WHD')}}</label>
        <div class="col-sm-2">
          <app-date [disabled]="IsDisableSave('WHD')" [inputdate]="Record.ord_whd_date"
            (ValueChanged)="Record.ord_whd_date=$event"></app-date>
        </div>
        <div class="col-sm-2">
          <button [disabled]="IsDisableSave('WHD')" (click)="Update('WHD')"
            class="btn btn-primary btn-sm">Update</button>
        </div>
      </div>

      <!-- </div>
    <div class="col-sm-4"> -->
      <div *ngIf="GetTrkEnabled('SOB')" class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">{{GetCaptionName('SOB')}}</label>
        <div class="col-sm-2">
          <app-date [disabled]="IsDisableSave('SOB')" [inputdate]="Record.ord_dlv_pol_date"
            (ValueChanged)="Record.ord_dlv_pol_date=$event"></app-date>
        </div>
        <div class="col-sm-2">
          <button [disabled]="IsDisableSave('SOB')" (click)="Update('SOB')"
            class="btn btn-primary btn-sm">Update</button>
        </div>
      </div>
      <div *ngIf="GetTrkEnabled('DPOD')" class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">{{GetCaptionName('DPOD')}}</label>
        <div class="col-sm-2">
          <app-date [disabled]="IsDisableSave('DPOD')" [inputdate]="Record.ord_dlv_pod_date"
            (ValueChanged)="Record.ord_dlv_pod_date=$event"></app-date>
        </div>
        <div class="col-sm-2">
          <button [disabled]="IsDisableSave('DPOD')" (click)="Update('DPOD')"
            class="btn btn-primary btn-sm">Update</button>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="page-box">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button *ngIf="lastDateCode" class="btn btn-primary btn-sm mr-1" (click)="EnableLastdate()">Edit Last
            Tracking</button>
          <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="page-box">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button [disabled]="loading" (click)="Update()" class="btn btn-primary btn-sm">Save</button>
          <i *ngIf="loading" class="fa fa-spinner"></i>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <hr>
<div class="page-box">
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label col-form-label-sm"><strong>Cargo Status</strong></label>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <textarea rows="3" class="form-control form-control-sm" [(ngModel)]="Record.ord_cargo_status"
            (blur)="OnBlur('ord_cargo_status')" required maxlength="250"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-1 col-sm-10">
          <button [disabled]="loading" (click)="SearchRecord('updatejoborderm')"
            class="btn btn-primary btn-sm">Update</button>
          <i *ngIf="loading" class="fa fa-spinner"></i>
        </div>
      </div>
    </div>
  </div>
</div> -->



<!-- <br /> -->

<!--<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>-->

<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>