<div class="page-header">
  <div class="col">
    <label class="col-form-label col-form-label-sm mr-1"><strong>TRACKING</strong></label>
    <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Close</button>
  </div>
</div>


<div *ngIf="pkid$ | async">
</div>


<div class="page-box">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm"><strong>PO#</strong></label>
        <div class="col-sm-9" *ngIf="refno$ | async">
          <textarea disabled rows="2" style="color:red; font-weight:bold" class="form-control form-control-sm"
            [(ngModel)]="refno"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-box">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group row">
        <label
          class="col-sm-3 col-form-label col-form-label-sm">{{GteCaptionName('BKD')}}</label>
        <div class="col-sm-2">
          <app-date [disabled]="disableSave0" [inputdate]="Record.ord_booking_date" (ValueChanged)="Record.ord_booking_date=$event"></app-date>
        </div>
        <div class="col-sm-2">
          <button [disabled]="disableSave0" (click)="Update('BKD')" class="btn btn-primary btn-sm">Update</button>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">{{GteCaptionName('RND')}}</label>
        <div class="col-sm-2">
          <app-date [disabled]="disableSave1" [inputdate]="Record.ord_rnd_insp_date" (ValueChanged)="Record.ord_rnd_insp_date=$event"></app-date>
        </div>
        <div class="col-sm-2">
          <button [disabled]="disableSave1" (click)="Update('RND')" class="btn btn-primary btn-sm">Update</button>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">{{GteCaptionName('POR')}}</label>
        <div class="col-sm-2">
          <app-date [disabled]="disableSave2" [inputdate]="Record.ord_po_rel_date" (ValueChanged)="Record.ord_po_rel_date=$event"></app-date>
        </div>
        <div class="col-sm-2">
          <button [disabled]="disableSave2" (click)="Update('POR')" class="btn btn-primary btn-sm">Update</button>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">{{GteCaptionName('CR')}}</label>
        <div class="col-sm-2">
          <app-date [disabled]="disableSave3" [inputdate]="Record.ord_cargo_ready_date" (ValueChanged)="Record.ord_cargo_ready_date=$event">
          </app-date>
        </div>
        <div class="col-sm-2">
          <button [disabled]="disableSave3" (click)="Update('CR')" class="btn btn-primary btn-sm">Update</button>
        </div>
      </div>

      <!-- </div>
    <div class="col-sm-4"> -->
      <div class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">{{GteCaptionName('FCR')}}</label>
        <div class="col-sm-2">
          <app-date [disabled]="disableSave4" [inputdate]="Record.ord_fcr_date" (ValueChanged)="Record.ord_fcr_date=$event"></app-date>
        </div>
        <div class="col-sm-2">
          <button [disabled]="disableSave4" (click)="Update('FCR')" class="btn btn-primary btn-sm">Update</button>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">{{GteCaptionName('INSP')}}</label>
        <div class="col-sm-2">
          <app-date [disabled]="disableSave5" [inputdate]="Record.ord_insp_date" (ValueChanged)="Record.ord_insp_date=$event"></app-date>
        </div>
        <div class="col-sm-2">
          <button [disabled]="disableSave5" (click)="Update('INSP')" class="btn btn-primary btn-sm">Update</button>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">{{GteCaptionName('STUF')}}</label>
        <div class="col-sm-2">
          <app-date [disabled]="disableSave6" [inputdate]="Record.ord_stuf_date" (ValueChanged)="Record.ord_stuf_date=$event"></app-date>
        </div>
        <div class="col-sm-2">
          <button [disabled]="disableSave6" (click)="Update('STUF')" class="btn btn-primary btn-sm">Update</button>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">{{GteCaptionName('WHD')}}</label>
        <div class="col-sm-2">
          <app-date [disabled]="disableSave7" [inputdate]="Record.ord_whd_date" (ValueChanged)="Record.ord_whd_date=$event"></app-date>
        </div>
        <div class="col-sm-2">
          <button [disabled]="disableSave7" (click)="Update('WHD')" class="btn btn-primary btn-sm">Update</button>
        </div>
      </div>

      <!-- </div>
    <div class="col-sm-4"> -->
      <div class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">{{GteCaptionName('DLV.POL')}}</label>
        <div class="col-sm-2">
          <app-date [disabled]="disableSave8" [inputdate]="Record.ord_dlv_pol_date" (ValueChanged)="Record.ord_dlv_pol_date=$event"></app-date>
        </div>
        <div class="col-sm-2">
          <button [disabled]="disableSave8" (click)="Update('DLV.POL')" class="btn btn-primary btn-sm">Update</button>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label col-form-label-sm">{{GteCaptionName('DLV.POD')}}</label>
        <div class="col-sm-2">
          <app-date [disabled]="disableSave9" [inputdate]="Record.ord_dlv_pod_date" (ValueChanged)="Record.ord_dlv_pod_date=$event"></app-date>
        </div>
        <div class="col-sm-2">
          <button [disabled]="disableSave9" (click)="Update('DLV.POD')" class="btn btn-primary btn-sm mr-1">Update</button>
          <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- <div class="page-box">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button [disabled]="loading" (click)="Update()" class="btn btn-primary btn-sm">Save</button>
          <i *ngIf="loading" class="fa fa-spinner"></i>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <hr>
<div class="page-box">
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label col-form-label-sm"><strong>Cargo Status</strong></label>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <textarea rows="3" class="form-control form-control-sm" [(ngModel)]="Record.ord_cargo_status"
            (blur)="OnBlur('ord_cargo_status')" required maxlength="250"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-1 col-sm-10">
          <button [disabled]="loading" (click)="SearchRecord('updatejoborderm')"
            class="btn btn-primary btn-sm">Update</button>
          <i *ngIf="loading" class="fa fa-spinner"></i>
        </div>
      </div>
    </div>
  </div>
</div> -->



<br />

<!--<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>-->

<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>