<div class="page-header">
  <div class="col">
    <label class="col-form-label col-form-label-sm mr-1"><strong>TRACKING</strong></label>
    <button class="btn btn-info btn-sm mr-1" (click)="Close()">Close</button>
  </div>
</div>
<div *ngIf="ord_pos" class="page-body">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group row">
        <label class="col-sm-1 col-form-label col-form-label-sm"><strong>PO#</strong></label>
        <div class="col-sm-11" *ngIf="ord_pos">
          <textarea disabled rows="2" style="color:red; font-weight:bold" class="form-control form-control-sm"
            [(ngModel)]="ord_pos"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-body">
  <div class="row">
    <div class="col-sm-6">
      <div *ngFor="let trk of TrkCaptionList">
        <div *ngIf="GetTrkEnabled(trk.trk_caption_code)" class="form-group row">
          <label class="col-sm-6 col-form-label col-form-label-sm">{{GetCaptionName(trk.trk_caption_code)}}</label>
          <div class="col-sm-3">
            <app-date [disabled]="IsDisableSave(trk.trk_caption_code)" [inputdate]="Record[trk.trk_field_name]"
              (ValueChanged)="Record[trk.trk_field_name]=$event"></app-date>
          </div>
          <div class="col-sm-3">
            <button *ngIf="trk.trk_caption_code!='RPT'" [disabled]="IsDisableSave(trk.trk_caption_code)" (click)="Update(trk.trk_caption_code)"
              class="btn btn-info btn-sm">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-body line-bottom">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group row">
        <div class="offset-sm-6 col-sm-6">
          <button *ngIf="lastDateCode" class="btn btn-success btn-sm mr-1" (click)="EnableLastdate()">Edit Last
            Tracking</button>
          <button class="btn btn-success btn-sm" (click)="Close()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="page-box">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button [disabled]="loading" (click)="Update()" class="btn btn-primary btn-sm">Save</button>
          <i *ngIf="loading" class="fa fa-spinner"></i>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <hr>
<div class="page-box">
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label col-form-label-sm"><strong>Cargo Status</strong></label>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <textarea rows="3" class="form-control form-control-sm" [(ngModel)]="Record.ord_cargo_status"
            (blur)="OnBlur('ord_cargo_status')" required maxlength="250"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-1 col-sm-10">
          <button [disabled]="loading" (click)="SearchRecord('updatejoborderm')"
            class="btn btn-primary btn-sm">Update</button>
          <i *ngIf="loading" class="fa fa-spinner"></i>
        </div>
      </div>
    </div>
  </div>
</div> -->



<!-- <br /> -->


<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>