<div class="page-header">
  <h5>{{title}}</h5>
  <button class="btn btn-info btn-sm" (click)="Close()">Return</button>
</div>
<div class="page-body">
  <div class="col-sm-12">
    <div class="form-group row">
      <div class="col-sm-3">
        <app-autocomplete3 [controlname]="'CUSTOMER'" [tabletype]="'CUSTOMER'" [displaycolumn]="'CODE'"
          [displaydata]="cust_code" (ValueChanged)="LovSelected($event)" [where]="">
        </app-autocomplete3>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-success btn-sm" (click)="Save()">Add</button>
      </div>
      <div class="col-sm-7">
        <label class="form-label form-label-sm"> {{cust_name}}</label>
      </div>

    </div>
  </div>
</div>

<div class="page-body line-bottom">
  <div class="table-responsive  fixedTableHead  ">
    <table class="table table-hover table-sm table-bordered">
      <thead class="page-body-thead">
        <tr>
          <th>CUSTOMER</th>
          <th>REMOVE</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr *ngFor="let rec of RecordDet">
          <td>{{rec.grp_customer_name}}</td>
          <td (click)="remove(rec)"><i class="fa fa-trash"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br />
<div *ngIf="ErrorMessage" class="alert alert-info">
  {{ErrorMessage}}
</div>