
<div class="page-box">
  <div class="col">
    <label class="col-form-label col-form-label-sm mr-1"><strong>CHANGE PO STATUS</strong></label>
    <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Close</button>
  </div>
</div>

<div class="page-box">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">PO#</label>
        <div class="col-10" *ngIf="ord_pos">
          <textarea disabled rows="2" style="font-weight:bold" class="form-control form-control-sm"
            [(ngModel)]="ord_pos"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-box">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">PO Status</label>
        <div class="col-10">
          <select class="form-control form-control-sm" [(ngModel)]="ord_status">
            <option [value]="'APPROVED'">APPROVED</option>
            <option [value]="'ON HOLD'">ON HOLD</option>
            <option [value]="'CANCELLED'">CANCELLED</option>            
          </select>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="page-box">
  <div class="row">
    <div class="col-sm-12">
      
      <div class="form-group row">
        <div class="col-10 offset-2">
          <button  (click)="save()" class="btn btn-primary btn-sm mr-1">Update</button>
          <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="page-box">
  <div class="row">
    <div class="col-sm-12">
      <div>
        <h4>APPROVED CAN NOT BE CHANGED</h4>
        <h4>REPORTED CAN BE CHANGED TO  APPROVED OR ON HOLD</h4>
        <h4>ON HOLD  CAN BE CHANGED TO  APPROVED OR CANCELLED</h4>
      </div>
    </div>
  </div>
</div>





<br />


<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>

<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>