<div class="page-body-header-ns">
    <h5>House/Container
        Mapping</h5>
</div>

<div class="table-responsive fixedTableHead-ns" style="height: 195px;">
    <table class="table table-hover table-sm table-bordered">
        <thead>
            <tr class="table-header">
                <th width="5%">SL#</th>
                <th width="5%">EDIT</th>
                <!-- <th width="20%">MBL#</th> -->
                <th width="20%">HOUSE#</th>
                <th width="20%">CONTAINER#</th>
                <th width="bDelete?10%:50%">TYPE</th>
                <th width="40%" *ngIf="bDelete" class='text-left'>DELETE</th>
            </tr>
        </thead>
        <tbody class="page-body-tbody">
            <tr *ngFor="let rec of RecordList; let i = index" (mousedown)="selectRowId(rec.cntrd_pkid)"
                [ngClass]="{'table-info':rec.cntrd_pkid == getRowId()}">
                <td>{{i+1}}</td>
                <td class="hlink" (click)="ActionHandler('EDIT',rec.cntrd_pkid)"><i class="fa fa-pencil"></i></td>
                <!-- <td>{{rec.cntrd_mbl_no}}</td> -->
                <td>{{rec.cntrd_hbl_no}}</td>
                <td>{{rec.cntrd_cntr_no}}</td>
                <td>{{rec.cntrd_cntr_type}}</td>
                <td *ngIf="bDelete" class="p-0 text-left"><i class="fa fa-trash  fa-lg pointer ml-1" aria-hidden="true"
                        (click)="DeleteRow(rec)"></i></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row page-body line-bottom mt-3 p-2" style="background-color: rgb(225, 225, 225);">
    <div class="col-sm-6">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label col-form-label-sm">House#</label>
            <div class="col-sm-8">
                <app-autocomplete3 [controlname]="'HOUSE-NO'" [tabletype]="'LINK-MASTER-HOUSE'" [displaycolumn]="'CODE'"
                    [displaydata]="Record.cntrd_hbl_no" [parentid]="parentid" (ValueChanged)="LovSelected($event)"
                    [where]="">
                </app-autocomplete3>

            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label col-form-label-sm pr-0">Container#</label>
            <div class="col-sm-8">
                <app-autocomplete3 [controlname]="'CNTR-NO'" [tabletype]="'LINK-MASTER-CONTAINER'"
                    [displaycolumn]="'CODE'" [displaydata]="Record.cntrd_cntr_no" [parentid]="parentid"
                    (ValueChanged)="LovSelected($event)" [where]="">
                </app-autocomplete3>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label  col-form-label-sm"></label>
            <div class="col-sm-8">
                <button [disabled]="loading" (click)="Save()"
                    class="btn btn-success btn-sm mr-1 mt-1">{{mode==='ADD'?'Add':'Update'}}</button>
                <button [disabled]="loading" (click)="ActionHandler('ADD','')"
                    class="btn btn-success btn-sm mt-1">Clear</button>
            </div>
        </div>
    </div>
</div>