<mat-toolbar class="toolbar-color-theme">


  <mat-icon (click)="toggleMenu()" class="hand-cursor">menu</mat-icon>


  <div class="logo">
    <a routerLink="/home">
      <img src="assets/images/dvtlogo.png">
      <span class="title">{{title}}</span>
    </a>
  </div>


  <span class="toolbar-item-spacer"></span>


  <span *ngIf="gs.IsAuthenticated" id="userName" class="mx-2">{{gs.globalVariables.user_name}}</span>

  <ng-container *ngIf="gs.IsAuthenticated">
    <button class="ms-4 btn btn-sm btn-success" (click)="logout()">Logout</button>
  </ng-container>

  <ng-container *ngIf="!gs.IsAuthenticated">
    <button class="btn btn-sm btn-success" routerLink="/login">Login</button>
  </ng-container>


</mat-toolbar>

<mat-sidenav-container autosize="true" class="router" style="height: calc(100vh - 80px)">

  <mat-sidenav #sidenav [ngClass]="!isCollapsed ? 'expanded' : ''" [mode]="isMobile ? 'over' : 'side'"
    [opened]="isMobile ? 'false' : 'true'">


    <mat-nav-list *ngIf="gs.IsAuthenticated">

      <ng-container *ngFor="let rech of gs.Modules">

        <ng-container *ngIf="!rech.module_parent_id">
          <span class="entry">
            <span>{{rech.module_name}}</span>
          </span>

          <ng-container *ngFor="let rec of gs.MenuList">
            <a *ngIf="rech.module_pkid == rec.menu_submenu_id && rec.menu_displayed" mat-list-item
              (click)="LoadPage(rec)">
              <span class="entry">
                <mat-icon color="accent">arrow_right</mat-icon>
                <span>{{rec.menu_name}}</span>
              </span>
            </a>
          </ng-container>

        </ng-container>

        <ng-container *ngIf="rech.module_parent_id">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-icon color="accent">arrow_right</mat-icon>
              <span class="entrymenu">{{rech.module_name}}</span>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <ng-container *ngFor="let rec of gs.MenuList">
                <a *ngIf="rech.module_pkid == rec.menu_submenu_id && rec.menu_displayed" mat-list-item
                  (click)="LoadPage(rec)">
                  <span class="entry">
                    <mat-icon color="accent">arrow_right</mat-icon>
                    <span>{{rec.menu_name}}</span>
                  </span>
                </a>
              </ng-container>
            </mat-nav-list>
          </mat-expansion-panel>
        </ng-container>
      </ng-container>

    </mat-nav-list>

  </mat-sidenav>



  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>