

<div *ngIf="gs.IsAuthenticated">
  

  <nav class="navbar fixed-top  navbar-expand-lg navbar-light bg-info text-white">

    <a class="navbar-brand" ><h5>{{gs.Company_Name}}</h5></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown" *ngFor="let rech of gs.Modules">
          <a class="nav-link dropdown-toggle text-white" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{rech.module_name}}
          </a>
          <div class="dropdown-menu pb-0" aria-labelledby="navbarDropdown">
            <div *ngFor="let rec of gs.MenuList" class="menulist">
              <a *ngIf="rech.module_name == rec.menu_module_name && rec.menu_displayed" class="dropdown-item border-bottom" (click)="LoadPage(rec)">{{rec.menu_name}}</a>
            </div>
          </div>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <label>{{gs.globalVariables.user_name}}</label>
        <label>|</label>
        <a (click)="Logout()">Logout</a>
      </form>
    </div>
  </nav>


</div>