<div class="page-header">
    <h5>{{title}}</h5>
    <button class="btn btn-info btn-sm" (click)="LoadDefault()">Load Default</button>
    <button class="btn btn-info btn-sm" (click)="Close()">Return</button>
</div>
<div class="page-body">
    <div class="table-responsive fixedTableHead ">
        <table class="table table-hover table-sm table-bordered">
            <thead class="page-body-thead">
                <tr>
                    <th>SL#</th>
                    <th>CODE</th>
                    <th>NAME</th>
                    <th>CARGO.STATUS</th>
                    <th>ENABLED</th>
                </tr>
            </thead>
            <tbody class="page-body-tbody">
                <tr *ngFor="let rec of RecordList">
                    <td style="padding:0px 0px 0px 0px"><input type="number" name="ctr" disabled
                            class="form-control form-control-sm" [(ngModel)]="rec.ps_ctr" (blur)="OnBlur('ps_ctr',rec)"
                            required maxlength="14" /></td>
                    <td style="padding:0px 0px 0px 0px"><input type="text" name="ps_code"
                            class="form-control form-control-sm" [(ngModel)]="rec.ps_code"
                            (blur)="OnBlur('ps_code',rec)" required maxlength="15" /></td>
                    <td style="padding:0px 0px 0px 0px"><input type="text" name="ps_name"
                            class="form-control form-control-sm" [(ngModel)]="rec.ps_name"
                            (blur)="OnBlur('ps_name',rec)" required maxlength="100" /></td>
                    <td style="padding:0px 0px 0px 0px"><input type="text" name="ps_cargo_status"
                            class="form-control form-control-sm" [(ngModel)]="rec.ps_cargo_status"
                            (blur)="OnBlur('ps_cargo_status',rec)" required maxlength="60" /></td>
                    <td style="padding:0px 0px 0px 0px"><select class="form-control form-control-sm"
                            [(ngModel)]="rec.ps_enabled">
                            <option [value]="'Y'">YES</option>
                            <option [value]="'N'">NO</option>
                        </select></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="page-body line-bottom">
    <div class="form-group row">
        <div class="col">
            <button class="btn btn-success btn-sm mr-1" (click)="Save()">Save</button>
            <button class="btn btn-success btn-sm mr-1" (click)="Close()">Return</button>
        </div>
    </div>
</div>
<br />
<div *ngIf="ErrorMessage" class="alert alert-info">
    {{ErrorMessage}}
</div>