<div class="page-header">
    <h5>{{title}}</h5>
    <button class="btn btn-info btn-sm" (click)="LoadDefault()">Load Default</button>
    <button class="btn btn-info btn-sm" (click)="Close()">Return</button>
</div>
<div class="page-body">
    <div class="table-responsive fixedTableHead ">
        <table class="table table-hover table-sm table-bordered">
            <thead class="page-body-thead">
                <tr>
                    <th>SL#</th>
                    <th>CODE</th>
                    <th>NAME</th>
                    <th>CARGO.STATUS</th>
                    <th>ENABLED</th>
                </tr>
            </thead>
            <tbody class="page-body-tbody" *ngFor="let rec of RecordList; let i = index" >
                <tr >
                    <td (click)="SetRowIndex(i)" style="padding:0px 0px 0px 0px"><input type="number"  [style.background]="selectedRowIndex === i ? '#fff9c4bb' : null" name="ctr" readonly
                            class="form-control form-control-sm" [(ngModel)]="rec.ps_ctr" (blur)="OnBlur('ps_ctr',rec)"
                            required maxlength="14" /></td>
                    <td  (click)="SetRowIndex(i)"  style="padding:0px 0px 0px 0px"><input type="text" [style.background]="selectedRowIndex === i ? '#fff9c4bb' : null" name="ps_code" readonly
                            class="form-control form-control-sm" [(ngModel)]="rec.ps_code"
                            (blur)="OnBlur('ps_code',rec)" required maxlength="15" /></td>
                    <td  (click)="SetRowIndex(i)"  style="padding:0px 0px 0px 0px"><input type="text" name="ps_name"
                            class="form-control form-control-sm" [(ngModel)]="rec.ps_name"
                            (blur)="OnBlur('ps_name',rec)" required maxlength="100" /></td>
                    <td  (click)="SetRowIndex(i)"  style="padding:0px 0px 0px 0px "><input type="text" name="ps_cargo_status"
                            class="form-control form-control-sm" [(ngModel)]="rec.ps_cargo_status"
                            (blur)="OnBlur('ps_cargo_status',rec)" required maxlength="60" /></td>
                    <td  (click)="SetRowIndex(i)"  style="padding:0px 0px 0px 0px"><select class="form-control form-control-sm"
                            [(ngModel)]="rec.ps_enabled">
                            <option [value]="'Y'">YES</option>
                            <option [value]="'N'">NO</option>
                        </select></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="page-body line-bottom">
    <div class="form-group row">
        <div class="col">
            <button class="btn btn-success btn-sm mr-1" (click)="Save()">Save</button>
            <button class="btn btn-success btn-sm mr-2" (click)="Close()">Return</button>
            <button *ngIf="RecordList.length" class="btn btn-info btn-sm mr-1"
              (click)="changePosition('UP')"><span class="fa fa-arrow-up"></span></button>
            <button *ngIf="RecordList.length" class="btn btn-info btn-sm mr-1"
              (click)="changePosition('DOWN')"><span class="fa fa-arrow-down"></span></button>
            <label *ngIf="RecordList.length" class="col-form-label col-form-label-sm">
              Select a row and use arrows to move between rows</label>
        </div>
    </div>
</div>
<br />
<div *ngIf="ErrorMessage" class="alert alert-info">
    {{ErrorMessage}}
</div>