<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button (click)="ActionHandler('LIST','')" class="btn btn-primary btn-sm mx-1">List</button>
    <button (click)="ActionHandler('ADD','')" class="btn btn-primary btn-sm mr-1">New</button>
    <button class="btn btn-primary btn-sm" (click)="Close()">Return</button>
  </div>
</div>

<div *ngIf="currentTab=='LIST'" class="page-list">

  <div class="page-search">
    <div class="row">
      <label class="col-2">Search</label>
      <div class="col">
        <input type="text" class="col form-control form-control-sm" name="Search" [(ngModel)]="searchstring" />
      </div>
      <div class="col-2">
        <input type="checkbox" [(ngModel)]="sortby" />
        <span>Sort By Code</span>
      </div>
      <div class="col">
        <button (click)="List('NEW')" class="btn btn-primary btn-sm mr-1">Search</button>
        <button *ngIf="bPrint" (click)="List('EXCEL')" class="btn btn-primary btn-sm">Print</button>
      </div>
    </div>
  </div>

  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>

  <div class="page-body table-responsive">
    <table class="table  table-hover table-sm">
      <thead class="page-body-thead">
        <tr>
          <th>CODE</th>
          <th>NAME</th>
          <th *ngIf="type == 'CURRENCY'">{{param_rate_caption}}</th>
          <th *ngIf="type == 'SALESMAN'">EMAIL</th>
          <th *ngIf="type == 'COUNTRY'">REGION</th>
          <th *ngIf="type == 'CONTAINER TYPE'">DESCRIPTION</th>
          <th *ngIf="type == 'SERVICE CONTRACT'">GROUP</th>
        </tr>
      </thead>
      <tbody class="page-body-tbody">
        <tr *ngFor="let rec of RecordList;  let i = index" (click)="ActionHandler('EDIT',rec.param_pkid, i)"
          [class.active]="i == selectedRowIndex">
          <td>{{rec.param_code}}</td>
          <td>{{rec.param_name}}</td>
          <td *ngIf="type == 'CURRENCY'">{{rec.param_rate}}</td>
          <td *ngIf="type == 'SALESMAN'">{{rec.param_email}}</td>
          <td *ngIf="type == 'COUNTRY'">{{rec.param_id1}}</td>
          <td *ngIf="type == 'CONTAINER TYPE'">{{rec.param_id3}}</td>
          <td *ngIf="type == 'SERVICE CONTRACT'">{{rec.param_id3}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="page-pager">
    <div *ngIf="page_count">
      <ul class="pagination pagination-sm">
        <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
        <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
        </li>
        <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
      </ul>
    </div>
  </div>

</div>


<div *ngIf="currentTab=='DETAILS'" class="page-details">

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">Code</label>
        <div class="col-10">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.param_code" required
            [maxlength]="code_length" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">Name</label>
        <div class="col-10">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.param_name" required
            maxlength="60" />
        </div>
      </div>


      <div *ngIf="id1 != ''" class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">{{id1}}</label>
        <div class="col-10">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.param_id1" required
            maxlength="60" />
        </div>
      </div>

      <div *ngIf="id2 != ''" class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">{{id2}}</label>
        <div class="col-10">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.param_id2" required
            maxlength="60" />
        </div>
      </div>

      <div *ngIf="id3 != ''" class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">{{id3}}</label>
        <div class="col-10">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.param_id3" required
            maxlength="60" />
        </div>
      </div>

      <div *ngIf="id4 != ''" class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">{{id4}}</label>
        <div class="col-10">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.param_id4" required
            maxlength="60" />
        </div>
      </div> 

      <div *ngIf="data_list.length > 0" class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">{{lookup_id}}</label>
        <div class="col-10">
          <select class="form-control form-control-sm" [(ngModel)]="Record.param_lookup_id">
            <option *ngFor="let itm of data_list" [value]="itm.code">{{itm.name}}</option>
          </select>
        </div>
      </div>


      <div *ngIf="email != ''" class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">{{email}}</label>
        <div class="col-10">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.param_email" required
            maxlength="100" />
        </div>
      </div>


      <div *ngIf="type=='CURRENCY'" class="form-group row">
        <label class="col-2 col-form-label  col-form-label-sm">{{param_rate_caption}}</label>
        <div class="col-10">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="Record.param_rate" required
            maxlength="20" />
        </div>
      </div>

      <div *ngIf="type=='SALESMAN' || type =='ESANCHITDOC' || type =='TAN'" class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm">Locked</label>
        <div class="col-10">
          <input type="checkbox" [(ngModel)]="Record.rec_locked">
          <span>Lock This Record</span>
        </div>
      </div>

      <div *ngIf="mode =='EDIT' && type=='CUST-GROUP'" class="form-group row">
        <label class="col-12 col-form-label col-form-label-sm"></label>
        <label class="col-2 col-form-label col-form-label-sm"></label>
        <div class="col-10">
          <span (click)="openCustGroupPage(Record)" class="hlink">Customer Group</span>
        </div>
        <label class="col-12 col-form-label col-form-label-sm"></label>
      </div>


    </div>

  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group row">
        <div class="offset-2 col-10">
          <button [hidden]="disableSave" (click)="Save()" class="btn btn-primary btn-sm mr-1">Save</button>
          <button (click)="ActionHandler('LIST','')" class="btn btn-primary btn-sm">Return</button>

        </div>
      </div>
    </div>
  </div>
</div>
<br />



<div *ngIf="ErrorMessage" class="alert alert-info">
  {{ErrorMessage}}
</div>