<div *ngIf="type=='SEA EXPORT'" class="row" [style.background-color]="selectedRow == rowindex ? '#f3f3f3' : ''">
    <div class="col-sm-3 mx-0 px-0">
        <div class="form-group row">
            <div class="col-sm-2 mt-2">
                <input type="radio" [(ngModel)]="selectedRow" [value]="rowindex" (click)="setRowIndex()"
                    name="rowindx1">
            </div>
            <div class="col-sm-5">
                <select class="form-control form-control-sm" [(ngModel)]="mRecord.trk_desc">
                    <option [value]="'NA'">NA</option>
                    <option [value]="'POL'">POL</option>
                    <option [value]="'TRANSIT'">TRANSIT</option>
                    <option [value]="'POD'">POD</option>
                    <!-- <option [value]="'POFD'">POFD</option> -->
                </select>
            </div>
            <div class="col-sm-5">
                <select class="form-control form-control-sm" [(ngModel)]="mRecord.trk_status">
                    <option *ngFor="let rec of statuslist" [value]="rec.param_code">{{rec.param_name}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-5 mx-0 px-0">
        <div class="form-group row">
            <div class="col-sm-3">
                <app-autocomplete3 [controlname]="'POL'" [tabletype]="'PARAM'" [subtype]="'SEA PORT'"
                    [displaycolumn]="'CODE'" [displaydata]="mRecord.trk_pol_code" (ValueChanged)="LovSelected($event)"
                    [where]="">
                </app-autocomplete3>
            </div>
            <div class="col-sm-5">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="mRecord.trk_pol_name"
                    (blur)="OnBlur('trk_pol_name')" />
            </div>
            <div class="col-sm-3">
                <app-date [inputdate]="mRecord.trk_pol_etd" (ValueChanged)="mRecord.trk_pol_etd=$event"></app-date>
            </div>
            <div class="col-sm-1">
                <div class="form-check form-check-inline">
                    <label class="form-check-label mt-2">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="mRecord.trk_pol_etd_confirm">
                    </label>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-4 mx-0 px-0">
        <div class="form-group row">
            <!-- <div class="col-sm-3 pr-0">
                        <app-date [inputdate]="mRecord.trk_si_cutoff"
                            (ValueChanged)="mRecord.trk_si_cutoff=$event"></app-date>
                    </div>
                    <div class="col-sm-3 pr-0">
                        <app-date [inputdate]="mRecord.trk_cy_cutoff"
                            (ValueChanged)="mRecord.trk_cy_cutoff=$event"></app-date>
                    </div> -->
            <div class="col-sm-4">
                <app-autocomplete3 [controlname]="'VESSEL'" [tabletype]="'PARAM'" [subtype]="'VESSEL'"
                    [displaycolumn]="'CODE'" [displaydata]="mRecord.trk_vsl_code" (ValueChanged)="LovSelected($event)"
                    [where]="">
                </app-autocomplete3>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="mRecord.trk_vsl_name"
                    (blur)="OnBlur('trk_vsl_name')" />
            </div>
            <div class="col-sm-4 input-group input-group-sm">
                <input type="text" class="form-control form-control-sm mr-2" [(ngModel)]="mRecord.trk_voyage"
                    (blur)="OnBlur('trk_voyage')" required maxlength="15" />
                <i class="fa fa-plus fa-md pointer pt-2" aria-hidden="true" (click)="AddRow()"></i>&nbsp;
                <i class="fa fa-trash fa-md pointer pt-2" aria-hidden="true" (click)="RemoveRow()"></i>
            </div>

        </div>
    </div>
</div>
<div *ngIf="type=='AIR EXPORT'" class="row">
    <div class="col-sm-8 mx-0 px-0">
        <div class="form-group row">
            <label style="color: chocolate;" class="col-sm-1  col-form-label col-form-label-sm">TRANSIT</label>
            <div class="col-sm-2">
                <app-autocomplete3 [controlname]="'POL'" [tabletype]="'PARAM'" [subtype]="'AIR PORT'"
                    [displaycolumn]="'CODE'" [displaydata]="mRecord.trk_pol_code" (ValueChanged)="LovSelected($event)"
                    [where]="">
                </app-autocomplete3>
            </div>
            <div class="col-sm-2">
                <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="mRecord.trk_pol_name" />
            </div>
            <div class="col-sm-2">
                <app-autocomplete3 [controlname]="'VESSEL'" [tabletype]="'PARAM'" [subtype]="'AIR CARRIER'"
                    [displaycolumn]="'CODE'" [displaydata]="mRecord.trk_vsl_code" (ValueChanged)="LovSelected($event)"
                    [where]="">
                </app-autocomplete3>
            </div>
            <div class="col-sm-3">
                <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="mRecord.trk_vsl_name" />
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="mRecord.trk_voyage"
                    (blur)="OnBlur('trk_voyage')" required maxlength="15" />
            </div>
        </div>
    </div>
    <div class="col-sm-4 mx-0 px-0">
        <div class="form-group row">
            <div class="col-sm-4">
                <app-date [inputdate]="mRecord.trk_pol_etd" (ValueChanged)="mRecord.trk_pol_etd=$event"></app-date>
            </div>
            <div class="col-sm-2 my-1">
                <input type="checkbox" [(ngModel)]="mRecord.trk_pol_etd_confirm">
            </div>
            <div class="col-sm-3">
                <app-date [inputdate]="mRecord.trk_pod_eta" (ValueChanged)="mRecord.trk_pod_eta=$event"></app-date>
            </div>
            <div class="col-sm-3 my-1">
                <input type="checkbox" [(ngModel)]="mRecord.trk_pod_eta_confirm">&nbsp;
                <i class="fa fa-plus fa-md pointer" aria-hidden="true" (click)="AddRow()"></i>&nbsp;
                <i class="fa fa-trash fa-md pointer" aria-hidden="true" (click)="RemoveRow()"></i>
            </div>
        </div>

    </div>
</div>