<div class="p-4" style="background-color: rgb(235, 235, 235);height:325px;">
    <div class="row mx-0 px-0">
        <div class="col-sm-12 p-0">
            <div class="form-group row">
                <label style="color: black;font-weight: bold;background-color: skyblue;" class="col-sm-12 p-1">Tracking
                    Details<i (click)="ShowTracking(trackingdet)" 
                        class="fa fa-pencil ml-2 pointer"></i></label>
            </div>
        </div>
    </div>
    <!-- <hr class="mb-2"> -->
    <div *ngIf="type=='SEA EXPORT'||type=='SEA IMPORT'" class="table-responsive fixedTableHead  my-0 p-2" style="background-color: white;" [style.height]="RecordList.length>5?'264px':'auto'"
        [style.overflow-y]="RecordList.length>10?'scroll':'auto'">
        <table class="table table-hover table-sm table-bordered">
            <thead class="table-success">
                <tr class="table-header">
                    <th>SL#</th>
                    <th>DESC</th>
                    <th>STATUS</th>
                    <th>PORT.CODE</th>
                    <th>PORT.NAME</th>
                    <th>VESSEL.CODE</th>
                    <th>VESSEL.NAME</th>
                    <th>VOYAGE</th>
                    <th>DATE</th>
                    <th>CONFM</th>
                </tr>
            </thead>
            <tbody class="page-body-tbody">
                <tr *ngFor="let rec of RecordList; let i = index" (mousedown)="selectRowId(rec.trk_pkid)"
                    [ngClass]="{'table-info':rec.trk_pkid == getRowId()}">
                    <td>{{i+1}}</td>
                    <td>{{rec.trk_desc}}</td>
                    <td>{{rec.trk_status}}</td>
                    <td>{{rec.trk_pol_code}}</td>
                    <td>{{rec.trk_pol_name}}</td>
                    <td>{{rec.trk_vsl_code}}</td>
                    <td>{{rec.trk_vsl_name}}</td>
                    <td>{{rec.trk_voyage}}</td>
                    <td>{{rec.trk_pol_etd}}</td>
                    <td>{{rec.trk_pol_etd_confirm ? 'Y' : 'N'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="type=='AIR EXPORT'||type=='AIR IMPORT'" class="table-responsive fixedTableHead  my-0 p-2" [style.height]="RecordList.length>5?'264px':'auto'"
        [style.overflow-y]="RecordList.length>10?'scroll':'auto'">
        <table class="table table-hover table-sm table-bordered">
            <thead class="table-success">
                <tr class="table-header">
                    <th>SL#</th>
                    <th>AIRLINE.CODE</th>
                    <th>AIRLINE.NAME</th>
                    <th>FLIGHT#</th>
                    <th>POL.CODE</th>
                    <th>POL.NAME</th>
                    <th>ETD</th>
                    <th>CONFM</th>
                    <th>POD.CODE</th>
                    <th>POD.NAME</th>
                    <th>ETA</th>
                    <th>CONFM</th>
                </tr>
            </thead>
            <tbody class="page-body-tbody">
                <tr *ngFor="let rec of RecordList; let i = index" (mousedown)="selectRowId(rec.trk_pkid)"
                    [ngClass]="{'table-info':rec.trk_pkid == getRowId()}">
                    <td>{{i+1}}</td>
                    <td>{{rec.trk_vsl_code}}</td>
                    <td>{{rec.trk_vsl_name}}</td>
                    <td>{{rec.trk_voyage}}</td>
                    <td>{{rec.trk_pol_code}}</td>
                    <td>{{rec.trk_pol_name}}</td>
                    <td>{{rec.trk_pol_etd}}</td>
                    <td>{{rec.trk_pol_etd_confirm ? 'Y' : 'N'}}</td>
                    <td>{{rec.trk_pod_code}}</td>
                    <td>{{rec.trk_pod_name}}</td>
                    <td>{{rec.trk_pod_eta}}</td>
                    <td>{{rec.trk_pod_eta_confirm ? 'Y' : 'N'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #trackingdet let-c="close" let-d="dismiss">
    <div class="modal-body p-2">
        <app-trk-edit [pkid]="parentid" [mode]="'EDIT'" [type]="type" [menuid]="menuid"
            (closeModalWindow)="CloseModal($event)"></app-trk-edit>
    </div>
</ng-template>