<div class="page-box">
    <div class="col-sm">
        <label class="col-form-label col-form-label-sm mr-1"><strong>Order/House/Container Mapping</strong></label>
        <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Close</button>
    </div>
</div>
<div class="page-box">
    <div class="table-responsive fixedTableHead  my-0 p-0" [style.height]="RecordList.length>5?'132px':'auto'"
        [style.overflow-y]="RecordList.length>5?'scroll':'auto'">
        <table class="table table-hover table-sm table-bordered">
            <thead class="page-body-thead">
                <tr>
                    <th width="5%" (click)="SelectDeselect()"><input type="checkbox"  [(ngModel)]="cntrd_selected"></th>
                    <th width="20%">MASTER#</th>
                    <th width="20%">HOUSE#</th>
                    <th width="55%">CNTR#</th>
                </tr>
            </thead>
            <tbody class="page-body-tbody">
                <tr *ngFor="let rec of RecordList; let i = index" (mousedown)="selectRowId(rec.cntrd_pkid)"
                    [class.active]="rec.cntrd_pkid == getRowId()">
                    <td  (click)="ResetChkBox(rec)"><input type="checkbox"  [(ngModel)]="rec.cntrd_selected"></td>
                    <td>{{rec.cntrd_mbl_no}}</td>
                    <td>{{rec.cntrd_hbl_no}}</td>
                    <td>{{rec.cntrd_cntr_no}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="page-box">
    <div class="col-sm">
        <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Save</button>
        <button class="btn btn-primary btn-sm mr-1" (click)="Close()">Close</button>
    </div>
</div>