<div class="row">
    <div class="col-sm-12 p-0">
        <div class="form-group row">
            <label style="color: black;font-weight: bold;background-color: skyblue;" class="col-sm-12 p-1">Add/Edit
                Container
            </label>
        </div>
    </div>
</div>
<div class="table-responsive fixedTableHead my-0 p-0" style="background-color: white;height: 190px;">
    <table class="table table-hover table-sm table-bordered">
        <thead>
            <tr class="table-header">
                <th width="5%">SL#</th>
                <th width="5%">EDIT</th>
                <th width="20%">CNTR#</th>
                <th width="20%">TYPE</th>
                <th width="bDelete?10%:50%">SEAL#</th>
                <th width="40%" *ngIf="bDelete" class='text-left'>DELETE</th>
            </tr>
        </thead>
        <tbody class="page-body-tbody">
            <tr *ngFor="let rec of RecordList; let i = index" (mousedown)="selectRowId(rec.cntr_pkid)"
                [ngClass]="{'table-info':rec.cntr_pkid == getRowId()}">
                <td>{{i+1}}</td>
                <td (click)="ActionHandler('EDIT',rec.cntr_pkid)" class="hlink"><i class="fa fa-pencil"></i></td>
                <td>{{rec.cntr_no}}</td>
                <td>{{rec.cntr_type_code}}</td>
                <td>{{rec.cntr_seal_no}}</td>
                <td *ngIf="bDelete" class="p-0 text-left"><i class="fa fa-trash  fa-lg pointer ml-1" aria-hidden="true"
                        (click)="DeleteRow(rec)"></i></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row page-body line-bottom mt-3 p-2" style="background-color: rgb(225, 225, 225);">
    <div class="col-sm-6">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label col-form-label-sm">Container#</label>
            <div class="col-sm-8">
                <InputBox #inv_no [(inputModel)]="Record.cntr_no" [maxlength]="15" [uppercase]=true></InputBox>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label col-form-label-sm">Type</label>
            <div class="col-sm-8">
                <app-autocomplete3 [controlname]="'CNTR-TYPE'" [tabletype]="'PARAM'" [subtype]="'CONTAINER TYPE'"
                    [displaycolumn]="'CODE'" [displaydata]="Record.cntr_type_code" (ValueChanged)="LovSelected($event)"
                    [where]="">
                </app-autocomplete3>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label col-form-label-sm">Seal#</label>
            <div class="col-sm-8">
                <InputBox #sel_no [(inputModel)]="Record.cntr_seal_no" [maxlength]="25" [uppercase]=true></InputBox>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label  col-form-label-sm"></label>
            <div class="col-sm-8">
                <button [disabled]="loading" (click)="Save()"
                    class="btn btn-success btn-sm mr-1 mt-1">{{mode==='ADD'?'Add':'Update'}}</button>
                <button [disabled]="loading" (click)="ActionHandler('ADD','')"
                    class="btn btn-success btn-sm mt-1">Clear</button>
            </div>
        </div>
    </div>
    <!-- <div class="col-sm-4">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label  col-form-label-sm pr-0"></label>
                <div class="col-sm-10 pr-0">
                    <button [disabled]="loading" (click)="Save()"
                        class="btn btn-success btn-sm mr-1 mt-1">{{mode==='ADD'?'Add':'Update'}}</button>
                    <button [disabled]="loading" (click)="ActionHandler('ADD','')"
                        class="btn btn-success btn-sm mt-1">Clear</button>
                </div>
            </div>
        </div> -->
</div>