<div class="page-header">
  <div class="col">
    <label >{{title}}</label>
    <button class="btn btn-primary btn-sm mx-1" (click)="Close()">Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>
<div class="page-list">
  <div class="page-search">
    <div class="row">
      <label class="col-sm-1 col-form-label col-form-label-sm">Agent</label>
      <div class="col-sm-2">
        <select class="form-control form-control-sm" [(ngModel)]="agent_id">
          <!-- <option [value]="'E5A80C01-0528-4759-A0E3-CBE5DDDD5621'">RITRA</option> -->
          <!-- <option [value]="'BB8C7BAA-4B3B-4BBE-B946-8B6F245194B2'">TRANSPORT MULTI-MODAL</option> -->
          <option [value]="'B8C93DB0-5127-E16A-23C0-BF42E6E06005'">TRANSPORT MULTI-MODAL</option>
        </select>
      </div>
      <label class="col-1 col-form-label col-form-label-sm">Updated</label>
      <div class="col-1">
        <select class="form-control form-control-sm" [(ngModel)]="update_type">
          <option [value]="'ALL'">ALL</option>
          <option [value]="'Y'">YES</option>
          <option [value]="'N'">NO</option>
        </select>
      </div>
      <div class="col-sm-1">
        <input type="checkbox" [(ngModel)]="chk_all_pol">All
      </div>
      <label class="col-1">Search</label>
      <div class="col-2">
        <input type="text" class="col form-control form-control-sm" name="Search" [(ngModel)]="searchstring" />
      </div>
      <div class="col-3">
        <button [disabled]="loading" (click)="List('NEW')" class="btn btn-primary btn-sm">Search</button>
        <button [disabled]="loading" (click)="Process('DOWNLOAD')" class="btn btn-primary btn-sm">Download</button>
        <button [disabled]="loading" (click)="Process('PROCESS')" class="btn btn-primary btn-sm">Process</button>
        <button [disabled]="loading" (click)="Update('VALIDATE')" class="btn btn-primary btn-sm">Validate</button>
        <button [disabled]="loading" (click)="Update('UPDATE')" class="btn btn-primary btn-sm">Update</button>
        <i *ngIf="loading" class="fa fa-spinner"></i>
      </div>
    </div>
  </div>
  <ngb-tabset>
    <ngb-tab title="Order List">
      <ng-template ngbTabContent>
        <div class="page-pager">
          <div *ngIf="page_count">
            <ul class="pagination pagination-sm">
              <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}}
                  (Records-{{page_rowcount}})</a>
              </li>
              <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span
                    class="fa fa-backward"></span></a></li>
              <li class="page-item"><a class="page-link" (click)="List('PREV')"><span
                    class="fa fa-arrow-left"></span></a>
              </li>
              <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span
                    class="fa fa-arrow-right"></span></a>
              </li>
              <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <div class="page-body table-responsive">
            <table class="table  table-hover table-sm">
              <thead class="page-body-thead">
                <tr>
                  <th><input type="checkbox" [(ngModel)]="selectcheck" (click)="SelectCheckbox()"></th>
                  <th>ID</th>
                  <th>REF#</th>
                  <th>UPDATED</th>
                  <th>STATUS</th>
                  <th>DIVISION</th>
                  <th>MODEL.SKU</th>
                  <th>PO</th>
                  <th>SUPPLIER.PO</th>
                  <th>PO.BEFORE</th>
                  <th>SUPPLIER.ID</th>
                  <th>SUPPLIER.NAME</th>
                  <th>CONSIGNEE</th>
                  <th>ORG.CNTRY</th>
                  <th>POL</th>
                  <th>POD</th>
                  <th>TRANS.WAY</th>
                  <th>INCOTERM</th>
                  <th>CARGO</th>
                  <th>WINDOW1</th>
                  <th>WINDOW2</th>
                  <th>STOCK1</th>
                  <th>STOCK2</th>
                  <th>FACTORY</th>
                  <!-- <th>SHIPPER</th> -->
                  <th>IMP.EXECUTIVE</th>
                </tr>
              </thead>
              <tbody class="page-body-tbody">
                <tr [style.color]="rec.row_colour" *ngFor="let rec of RecordList; let i = index"
                  [class.active]="i == selectedRowIndex">
                  <td><input type="checkbox" [(ngModel)]="rec.selected"></td>
                  <td>{{rec.id_po }}</td>
                  <td>{{rec.agent_ref_no }}<i class="fa fa-edit fa-lg pointer" aria-hidden="true" (click)="ShowEdiUpdate(ediordupdt,rec)"></i></td>
                  <td>{{rec.updated == 'Y' ? 'YES' : 'NO'}}</td>
                  <td>{{rec.status}}</td>
                  <td>{{rec.division}}</td>
                  <td>{{rec.model_sku}}</td>
                  <td>{{rec.po}}</td>
                  <td>{{rec.supplier_po}}</td>
                  <td>{{rec.po_before}}</td>
                  <td>{{rec.supplier_id}}</td>
                  <td>{{rec.supplier_name}}</td>
                  <td>{{rec.consignee_id}}</td>
                  <td>{{rec.origin_country}}</td>
                  <td>{{rec.pol}}</td>
                  <td>{{rec.pod}}</td>
                  <td>{{rec.transport_way}}</td>
                  <td>{{rec.incoterm}}</td>
                  <td>{{rec.cargo_desc}}</td>
                  <td>{{rec.window1}}</td>
                  <td>{{rec.window2}}</td>
                  <td>{{rec.instock1}}</td>
                  <td>{{rec.instock2}}</td>
                  <td>{{rec.factory}}</td>
                  <!-- <td>{{rec.supplier_name}}</td> -->
                  <td>{{rec.import_executive}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="page-pager">
          <div *ngIf="page_count">
            <ul class="pagination pagination-sm">
              <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}}
                  (Records-{{page_rowcount}})</a>
              </li>
              <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span
                    class="fa fa-backward"></span></a></li>
              <li class="page-item"><a class="page-link" (click)="List('PREV')"><span
                    class="fa fa-arrow-left"></span></a>
              </li>
              <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span
                    class="fa fa-arrow-right"></span></a>
              </li>
              <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Error List">
      <ng-template ngbTabContent>
          <div class="page-body table-responsive">
              <table class="table  table-hover table-sm">
                <thead class="page-body-thead">
                  <tr>
                    <th width="5%">TYPE</th>
                    <th width="5%">CODE</th>
                    <th width="90%">NAME</th>
                  </tr>
                </thead>
                <tbody class="page-body-tbody">
                  <tr *ngFor="let rec of RecordMissingList; let i = index"
                    [class.active]="i == selectedRowIndex">
                    <td>{{rec.rec_category}}</td>
                    <td>{{rec.supplier_id}}</td>
                    <td>{{rec.supplier_name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
<br />
<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>
<div *ngIf="InfoMessage" class="alert alert-success">
  {{InfoMessage}}
</div>
<div *ngIf="ErrorMessage" class="alert alert-danger">
  {{ErrorMessage}}
</div>
<ng-template #ediordupdt let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">EDI Order Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-ediordupdate [pkid]="pkid" [poid]="poid" [pono]="pono" [styleno]="styleno" [type]="''" (ModifiedRecords)="ModifiedRecords($event)"></app-ediordupdate>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Close</button>
  </div> -->
</ng-template>