
<div class="page-header">
  <div class="col">
    <label>{{title}}</label>
    <button class="btn btn-primary btn-sm" (click)="Close()" >Close</button>
    <i *ngIf="loading" class="fa fa-spinner"></i>
  </div>
</div>


<div *ngIf="currentTab=='DETAILS'" class="page-details">

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group row">
        <label class="col-6 col-form-label col-form-label-sm">Current Fin-Year : {{year_code}}</label>
        <div class="col-6">
          <button [disabled]="loading" (click)="NewYear()" class="btn btn-primary btn-sm">Create New YEAR</button>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
      <div class="col-sm-6">
        <div class="form-group row">
          <label class="col-6 col-form-label col-form-label-sm">Transfer Balance</label>
          <div class="col-6">
            <button [disabled]="loading" (click)="TransferBalance()" class="btn btn-primary btn-sm">Transfer Balance</button>
          </div>
        </div>
      </div>
    </div>



</div>
<br />

<br />
<App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>


<div *ngIf="ErrorMessage" class="alert alert-info">
  {{ErrorMessage}}
</div>
