<div *ngIf="currentPage=='ROOTPAGE'">
  <div class="page-header">
    <div class="col">
      <label>{{title}}</label>
      <button [disabled]="loading" (click)="ActionHandler('LIST','')" class="btn btn-primary btn-sm">List</button>
      <button [disabled]="loading" (click)="ActionHandler('ADD','')" class="btn btn-primary btn-sm">New</button>
      <button class="btn btn-primary btn-sm" (click)="Close()">Close</button>
      <i *ngIf="loading" class="fa fa-spinner"></i>
    </div>
  </div>

  <div *ngIf="currentTab=='LIST'" class="page-list">

    <div class="page-search">

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group row">
            <label style="padding-right:0px" class="col-sm-1 col-form-label col-form-label-sm">From Date</label>
            <div style="padding-right:0px;padding-left:0px" class="col-sm-1">
              <app-date [inputdate]="gs.globalData.job_fromdate" (ValueChanged)="gs.globalData.job_fromdate=$event">
              </app-date>
            </div>
            <label style="padding-right:0px" class="col-sm-1 col-form-label col-form-label-sm">To Date</label>
            <div style="padding-right:0px;padding-left:0px" class="col-sm-1">
              <app-date [inputdate]="gs.globalData.job_todate" (ValueChanged)="gs.globalData.job_todate=$event">
              </app-date>
            </div>
            <label style="padding-right:0px" class="col-sm-1 col-form-label col-form-label-sm">Type</label>
            <div style="padding-right:0px;padding-left:0px" class="col-sm-1">
              <select class="form-control form-control-sm" name="jtype" [(ngModel)]="jobtype">
                <option [value]="'ALL'">ALL</option>
                <option [value]="'BOTH'">BOTH</option>
                <option [value]="'CLEARING'">CLEARING</option>
                <option [value]="'FORWARDING'">FORWARDING</option>
              </select>
            </div>
            <label style="padding-right:0px" class="col-sm-1 col-form-label col-form-label-sm">Search</label>
            <div class="col-sm-3">
              <input type="text" class="col form-control form-control-sm" (blur)="OnBlur('Search')" name="Search"
                [(ngModel)]="searchstring" />
            </div>
            <div class="col-sm-2">
              <button [disabled]="loading" (click)="List('NEW')" class="btn btn-primary btn-sm">Search</button>
              <button [disabled]="loading" (click)="CheckSB(checksb)" class="btn btn-primary btn-sm">Check SB</button>
            </div>
          </div>
          <!--<div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm">Search</label>
            <div class="col-sm-10">
              <input type="text" class="col form-control form-control-sm" (blur)="OnBlur('Search')" name="Search" [(ngModel)]="searchstring" />
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
              <button [disabled]="loading" (click)="List('NEW')" class="btn btn-primary btn-sm">Search</button>
              <button [disabled]="loading" (click)="CheckSB(checksb)" class="btn btn-primary btn-sm">Check SB</button>
            </div>
          </div>-->
        </div>
      </div>
    </div>

    <div class="page-pager">
      <div *ngIf="page_count">
        <ul class="pagination pagination-sm">
          <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}}
              (Records-{{page_rowcount}})</a></li>
          <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a>
          </li>
          <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
          </li>
          <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
          </li>
          <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
        </ul>
      </div>
    </div>

    <div class="page-body table-responsive">
      <table class="table  table-hover table-sm">
        <thead class="page-body-thead">
          <tr>
            <th>JOB#</th>
            <th>DATE</th>
            <th *ngIf="jobtype!='FORWARDING'">REF#</th>
            <th>SHIPPER</th>
            <th>CONSIGNEE</th>
            <th>INVNOS</th>
            <th>POL</th>
            <th>POD</th>
            <th>AGENT</th>
            <th>COMMODITY</th>
            <th>TYPE</th>
            <th>NOMINATION</th>
            <th>TERMS</th>
            <th>STATUS</th>
            <th align='right'>PKGS</th>
            <th align='right'>GR.WT</th>
            <th align='right'>NT.WT</th>
            <th align='right'><span *ngIf="type=='SEA EXPORT'">CBM</span><span *ngIf="type=='AIR EXPORT'">CH.WT</span>
            </th>
            <th>SI#</th>
            <th><span *ngIf="type=='SEA EXPORT'">HBL</span><span *ngIf="type=='AIR EXPORT'">HAWB</span></th>
            <th>SB NO</th>
            <th>SB DATE</th>
            <th>JOB.BILL.TYPE</th>
            <th align='center'>DOCS</th>
            <th>REMARK</th>
            <th>CONTAINER</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody">
          <tr *ngFor="let rec of RecordList; let i = index" [class.active]="i == selectedRowIndex"
            (click)="ActionHandler('EDIT',rec.job_pkid,i)">
            <td>{{rec.job_docno}}</td>
            <td>{{rec.job_date}}</td>
            <td *ngIf="jobtype!='FORWARDING'">{{rec.job_prefix}}</td>
            <td>{{rec.job_exp_name}}</td>
            <td>{{rec.job_imp_name}}</td>
            <td>{{rec.job_invoice_nos}}</td>
            <td>{{rec.job_pol_name}}</td>
            <td>{{rec.job_pod_name}}</td>
            <td>{{rec.job_agent_name}}</td>
            <td>{{rec.job_commodity_name}}</td>
            <td>{{rec.job_type}}</td>
            <td>{{rec.job_nomination}}</td>
            <td>{{rec.job_terms}}</td>
            <td>{{rec.job_status}}</td>
            <td align='right'>{{rec.job_pkg}}</td>
            <td align='right'>{{rec.job_grwt | number : '1.3-3'}}</td>
            <td align='right'>{{rec.job_ntwt | number : '1.3-3'}}</td>
            <td align='right'><span *ngIf="type=='SEA EXPORT'">{{rec.job_cbm | number : '1.3-3'}}</span><span
                *ngIf="type=='AIR EXPORT'">{{rec.job_chwt | number : '1.3-3'}}</span></td>
            <td>{{rec.job_si_no}}</td>
            <td>{{rec.job_hblnos}}</td>
            <td>{{rec.job_opr_sbill_no}}</td>
            <td>{{rec.job_opr_sbill_date}}</td>
            <td>{{rec.job_billtype_name}}</td>
            <td align='center'>{{rec.job_docs}}</td>
            <td>{{rec.job_remarks}}</td>
            <td>{{rec.job_cntr}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="page-pager">
      <div *ngIf="page_count">
        <ul class="pagination pagination-sm">
          <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}}
              (Records-{{page_rowcount}})</a></li>
          <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a>
          </li>
          <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
          </li>
          <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
          </li>
          <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="currentTab=='DETAILS'" class="page-details">
    <ngb-tabset>
      <ngb-tab title="Basic Details">
        <ng-template ngbTabContent>

          <div class="page-box">

            <div class="row">

              <div *ngIf="mode=='ADD'" class="col-sm-4">
                <div class="form-group row">
                  <label class="col-4 col-form-label col-form-label-sm">Job#</label>
                  <div style="padding-right:0" class="col-4">
                    <input type="text" style="color:red; font-weight:bold" class="form-control form-control-sm"
                      [(ngModel)]="Record.job_docno" [disabled]="true" required maxlength="15" />
                  </div>
                  <div style="padding-right:0" class="col-2">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="job_no" required
                      maxlength="15" />
                  </div>
                  <div class="col-2">
                    <button [disabled]="loading" (click)="SearchRecord('jobno')"
                      class="btn btn-primary btn-sm">Fill</button>
                  </div>
                </div>
              </div>

              <div *ngIf="mode=='EDIT'" class="col-sm-4">
                <div class="form-group row">
                  <label class="col-4 col-form-label col-form-label-sm">Job#</label>
                  <div class="col-4">
                    <input type="text" style="color:red; font-weight:bold" class="form-control form-control-sm"
                      [(ngModel)]="Record.job_docno" [disabled]="true" required maxlength="15" />
                  </div>
                  <div *ngIf="Record.job_prefix" class="col-4">
                      <input type="text" disabled class="form-control form-control-sm" [(ngModel)]="Record.job_prefix" required
                        maxlength="65" />
                    </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group row">
                  <label class="col-4 col-form-label col-form-label-sm">Date</label>
                  <div class="col-8">
                    <app-date [inputdate]="Record.job_date" (ValueChanged)="Record.job_date=$event"></app-date>
                  </div>
                </div>
              </div>


              <div class="col-sm-4">
                <div class="form-group row">
                  <label class="col-4 col-form-label  col-form-label-sm">Job Type</label>
                  <div class="col-8">
                    <select class="form-control form-control-sm" [(ngModel)]="Record.job_type">
                      <!--<option *ngFor="let rec of JobTypeList" [value]="rec.name">{{rec.name}}</option>-->
                      <option [value]="'BOTH'">BOTH</option>
                      <option [value]="'CLEARING'">CLEARING</option>
                      <option [value]="'FORWARDING'">FORWARDING</option>
                    </select>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-sm-4">

                <div class="form-group row">
                  <label class="col-4 col-form-label col-form-label-sm">Shipper</label>
                  <div class="col-8">
                    <app-autocomplete #ExporterLov [disabled]="Record.jobs_hbl_id != ''||Record.job_order"
                      [inputdata]="EXPRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-4 col-form-label col-form-label-sm">Branch#</label>
                  <div class="col-8">
                    <app-autocomplete #ExporterAddLov [inputdata]="EXPADDRECORD" (ValueChanged)="LovSelected($event)">
                    </app-autocomplete>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-4 col-form-label col-form-label-sm"></label>
                  <div class="col-sm-8">
                    <input type="text" disabled class="form-control form-control-sm"
                      [(ngModel)]="Record.job_exp_name" />
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-4 col-form-label col-form-label-sm"></label>
                  <div class="col-8">
                    <textarea rows="3" class="form-control form-control-sm" [(ngModel)]="Record.job_exp_br_addr"
                      [disabled]="true" maxlength="1000"></textarea>
                  </div>
                </div>

              </div>

              <div class="col-sm-4">
                <div class="form-group row">
                  <label class="col-4 col-form-label col-form-label-sm">Consignee</label>
                  <div class="col-8">
                    <app-autocomplete #ImporterLov [disabled]="Record.jobs_hbl_id != ''||Record.job_order"
                      [inputdata]="IMPRECORD" (ValueChanged)="LovSelected($event)"></app-autocomplete>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-4 col-form-label col-form-label-sm">Branch#</label>
                  <div class="col-8">
                    <app-autocomplete #ImporterAddLov [inputdata]="IMPADDRECORD" (ValueChanged)="LovSelected($event)">
                    </app-autocomplete>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-4 col-form-label col-form-label-sm"></label>
                  <div class="col-sm-8">
                    <input type="text" disabled class="form-control form-control-sm"
                      [(ngModel)]="Record.job_imp_name" />
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-4 col-form-label col-form-label-sm"></label>
                  <div class="col-8">
                    <textarea rows="3" class="form-control form-control-sm" [(ngModel)]="Record.job_imp_br_addr"
                      [disabled]="true" maxlength="1000"></textarea>
                  </div>
                </div>



              </div>

              <div class="col-sm-4">

                <div class="form-group row">
                  <label class="col-4 col-form-label col-form-label-sm">Buyer</label>
                  <div class="col-8">
                    <app-autocomplete #BuyerLov [inputdata]="BUYERRECORD" (ValueChanged)="LovSelected($event)">
                    </app-autocomplete>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-4 col-form-label col-form-label-sm">Branch#</label>
                  <div class="col-8">
                    <app-autocomplete #BuyerAddLov [inputdata]="BUYERADDRECORD" (ValueChanged)="LovSelected($event)">
                    </app-autocomplete>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-4 col-form-label col-form-label-sm"></label>
                  <div class="col-sm-8">
                    <input type="text" disabled class="form-control form-control-sm"
                      [(ngModel)]="Record.job_buyer_name" />
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-4 col-form-label col-form-label-sm"></label>
                  <div class="col-8">
                    <textarea rows="3" class="form-control form-control-sm" [(ngModel)]="Record.job_buyer_br_addr"
                      [disabled]="true" maxlength="1000"></textarea>
                  </div>
                </div>
              </div>

            </div>

            <hr />


            <ngb-tabset>

              <ngb-tab title="Shipment Details">
                <ng-template ngbTabContent>
                  <div class="page-box">

                    <div class="row">

                      <div class="col-sm-4">

                        <div class="form-group row">
                          <label class="col-4 col-form-label  col-form-label-sm">Place-Receipt</label>
                          <div class="col-8">
                            <app-autocomplete #PlaceofRecptAddLov [inputdata]="PLACERECEIPTRECORD"
                              (ValueChanged)="LovSelected($event)"></app-autocomplete>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-4 col-form-label  col-form-label-sm">Pre-Carriage</label>
                          <div class="col-8">
                            <app-autocomplete #PreCarriageAddLov [inputdata]="PRECARRIAGERECORD"
                              (ValueChanged)="LovSelected($event)"></app-autocomplete>
                          </div>
                        </div>

                        <div class=" form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">Origin-Country</label>
                          <div class="col-4">
                            <app-autocomplete #CntryOrgAddLov [inputdata]="COUNTRYORGRECORD"
                              (ValueChanged)="LovSelected($event)"></app-autocomplete>
                          </div>
                          <div class="col-4" style="padding-left:0">
                            <input type="text" disabled class="form-control form-control-sm"
                              [(ngModel)]="Record.job_origin_country_name" />
                          </div>
                        </div>

                        <div class=" form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">Origin-State</label>
                          <div class="col-4">
                            <app-autocomplete #StateOrgAddLov [inputdata]="STATEORGRECORD"
                              (ValueChanged)="LovSelected($event)"></app-autocomplete>
                          </div>
                          <div class="col-4" style="padding-left:0">
                            <input type="text" disabled class="form-control form-control-sm"
                              [(ngModel)]="Record.job_origin_state_name" />
                          </div>

                        </div>

                        <div class="form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">Load-Port</label>
                          <div class="col-4">
                            <app-autocomplete #LoadPortAddLov [inputdata]="POLRECORD"
                              (ValueChanged)="LovSelected($event)"></app-autocomplete>
                          </div>
                          <div class="col-4" style="padding-left:0">
                            <input type="text" disabled class="form-control form-control-sm"
                              [(ngModel)]="Record.job_pol_name" />
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">Discharge-Port</label>
                          <div class="col-4">
                            <app-autocomplete #DischrgPortAddLov [inputdata]="PODRECORD"
                              (ValueChanged)="LovSelected($event)"></app-autocomplete>
                          </div>
                          <div class="col-4" style="padding-left:0">
                            <input type="text" disabled class="form-control form-control-sm"
                              [(ngModel)]="Record.job_pod_name" />
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">Disch-Country</label>
                          <div class="col-4">
                            <app-autocomplete #DischrgCntryAddLov [inputdata]="PODCOUNTRYRECORD"
                              (ValueChanged)="LovSelected($event)"></app-autocomplete>
                          </div>
                          <div class="col-4" style="padding-left:0">
                            <input type="text" disabled class="form-control form-control-sm"
                              [(ngModel)]="Record.job_pod_country_name" />
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">Destination-Port</label>
                          <div class="col-4">
                            <app-autocomplete #DestPortAddLov [inputdata]="POFDRECORD"
                              (ValueChanged)="LovSelected($event)"></app-autocomplete>
                          </div>
                          <div class="col-4" style="padding-left:0">
                            <input type="text" disabled class="form-control form-control-sm"
                              [(ngModel)]="Record.job_pofd_name" />
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">Dest-Country</label>
                          <div class="col-4">
                            <app-autocomplete #DestCntryAddLov [inputdata]="POFDCOUNTRYRECORD"
                              (ValueChanged)="LovSelected($event)"></app-autocomplete>
                          </div>
                          <div class="col-4" style="padding-left:0">
                            <input type="text" disabled class="form-control form-control-sm"
                              [(ngModel)]="Record.job_pofd_country_name" />
                          </div>
                        </div>

                      </div>

                      <div class="col-sm-4">

                        <div class="form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">Carrier</label>
                          <div class="col-4">
                            <app-autocomplete #CarrierAddLov [inputdata]="SEACARRIERRECORD"
                              (ValueChanged)="LovSelected($event)"></app-autocomplete>
                          </div>
                          <div class="col-4" style="padding-left:0">
                            <input type="text" disabled class="form-control form-control-sm"
                              [(ngModel)]="Record.job_carrier_name" />
                          </div>
                        </div>



                        <div class="form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">Agent</label>
                          <div class="col-4">
                            <app-autocomplete #AgentAddLov [disabled]="Record.job_order" [inputdata]="AGENTRECORD"
                              (ValueChanged)="LovSelected($event)"></app-autocomplete>
                          </div>
                          <div class="col-4" style="padding-left:0">
                            <input type="text" disabled class="form-control form-control-sm"
                              [(ngModel)]="Record.job_agent_name" />
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">Forwarder</label>
                          <div class="col-4">
                            <app-autocomplete #FrwdAddLov [inputdata]="FORWARDERRECORD"
                              (ValueChanged)="LovSelected($event)"></app-autocomplete>
                          </div>
                          <div class="col-4" style="padding-left:0">
                            <input type="text" disabled class="form-control form-control-sm"
                              [(ngModel)]="Record.job_forwarder_name" />
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">CHA</label>
                          <div class="col-4">
                            <app-autocomplete #ChaAddLov [inputdata]="CHARECORD" (ValueChanged)="LovSelected($event)">
                            </app-autocomplete>
                          </div>
                          <div class="col-4" style="padding-left:0">
                            <input type="text" disabled class="form-control form-control-sm"
                              [(ngModel)]="Record.job_cha_name" />
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">Commodity</label>
                          <div class="col-8">
                            <app-autocomplete #DestPortAddLov [inputdata]="COMMODITYRECORD"
                              (ValueChanged)="LovSelected($event)"></app-autocomplete>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">Billed To</label>
                          <div class="col-4">
                            <app-autocomplete #ExporterLov [inputdata]="BILLTORECORD"
                              (ValueChanged)="LovSelected($event)"></app-autocomplete>
                          </div>
                          <div class="col-4" style="padding-left:0">
                            <input type="text" disabled class="form-control form-control-sm"
                              [(ngModel)]="Record.job_billto_name" />
                          </div>
                        </div>

                        <div *ngIf="bAdmin" class="form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">Salesman</label>
                          <div class="col-4">
                            <app-autocomplete #smanLov [inputdata]="SALESMANRECORD"
                              (ValueChanged)="LovSelected($event)"></app-autocomplete>
                          </div>
                          <div class="col-4" style="padding-left:0">
                            <input type="text" disabled class="form-control form-control-sm"
                              [(ngModel)]="Record.job_salesman_name" />
                          </div>
                        </div>
                        <div *ngIf="bAdmin" class="form-group row">
                          <label class="col-4 col-form-label  col-form-label-sm">Nomination</label>
                          <div class="col-8">
                            <select class="form-control form-control-sm" [(ngModel)]="Record.job_nomination">
                              <option [value]="''"></option>
                              <option [value]="'NOMINATION'">NOMINATION</option>
                              <option [value]="'FREEHAND'">FREEHAND</option>
                              <option [value]="'MUTUAL'">MUTUAL</option>
                            </select>
                          </div>
                        </div>

                      </div>

                      <div class="col-sm-4">

                        <div class=" form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">Cha License</label>
                          <div class="col-8">
                            <app-autocomplete #DischrgPortAddLov [inputdata]="EDIRECORD"
                              (ValueChanged)="LovSelected($event)"></app-autocomplete>
                          </div>
                        </div>

                        <div *ngIf="type=='SEA EXPORT'" class="form-group row">
                          <label class="col-4 col-form-label  col-form-label-sm">Nature</label>
                          <div class="col-8">
                            <select class="form-control form-control-sm" [(ngModel)]="Record.job_nature">
                              <option [value]="'FCL/FCL'">FCL/FCL</option>
                              <option [value]="'FCL/LCL'">FCL/LCL</option>
                              <option [value]="'LCL'">LCL</option>
                              <option [value]="'LCL/FCL'">LCL/FCL</option>
                              <option [value]="'LCL/LCL'">LCL/LCL</option>
                            </select>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-4 col-form-label  col-form-label-sm">Terms</label>
                          <div class="col-8">
                            <select class="form-control form-control-sm" [(ngModel)]="Record.job_terms">
                              <option [value]="'EX-WORK'">EX-WORK</option>
                              <option [value]="'FREIGHT COLLECT'">FREIGHT COLLECT</option>
                              <option [value]="'FREIGHT PREPAID'">FREIGHT PREPAID</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-4 col-form-label  col-form-label-sm">Status</label>
                          <div class="col-8">
                            <select class="form-control form-control-sm" [(ngModel)]="Record.job_status">
                              <option [value]="'CANCELLED'">CANCELLED</option>
                              <option [value]="'CONFIRMED'">CONFIRMED</option>
                              <option [value]="'PENDING'">PENDING</option>
                              <option [value]="'STUFFED'">STUFFED</option>
                            </select>
                          </div>
                        </div>
                        <div class=" form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">Job Bill Type</label>
                          <div class="col-8">
                            <app-autocomplete #JobbilltypeLov [inputdata]="SCHEMERECORD"
                              (ValueChanged)="LovSelected($event)"></app-autocomplete>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-8">
                        <div class="form-group row">
                          <label class="col-2 col-form-label col-form-label-sm">Remarks</label>
                          <div class="col-10">
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.job_remarks"
                              (blur)="OnBlur('job_remarks')" required maxlength="250" />
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </ng-template>


              </ngb-tab>

              <ngb-tab title="Cargo Weight">
                <ng-template ngbTabContent>

                  <div class="page-box">

                    <div class="row">
                      <div class="col-sm-4">

                        <div class="form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">Cargo.Nature</label>
                          <div class="col-8">
                            <select class="form-control form-control-sm" [disabled]="type=='AIR EXPORT'"
                              [(ngModel)]="Record.job_cargo_nature">
                              <option [value]="'N'">NA</option>
                              <option [value]="'C'">Containerized Cargo</option>
                              <option [value]="'CP'">Containerized & Packaged cargo</option>
                              <option [value]="'P'">Packaged Cargo</option>
                              <option [value]="'LB'">Liquid Bulk</option>
                              <option [value]="'DB'">Dry Bulk</option>
                            </select>
                          </div>
                        </div>

                        <div class="form-group row">

                          <label class="col-4 col-form-label col-form-label-sm">Pkgs</label>
                          <div class="col-4">
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.job_pkg"
                              (blur)="OnBlur('job_pkg')" required maxlength="10" />
                          </div>
                          <label style="padding-left:0;padding-right:0"
                            class="col-1 col-form-label col-form-label-sm">Unit</label>
                          <div class="col-3">
                            <app-autocomplete #pkgUnitLov [inputdata]="PKGUNITRECORD"
                              (ValueChanged)="LovSelected($event)"></app-autocomplete>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">Loose Pkgs</label>
                          <div class="col-4">
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.job_pkg_loose"
                              (blur)="OnBlur('job_pkg_loose')" required maxlength="10" />
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">Tot.Cntrs</label>
                          <div class="col-4">
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.job_cntr_tot"
                              (blur)="OnBlur('job_cntr_tot')" required maxlength="10" />
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">Pcs</label>
                          <div class="col-4">
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.job_pcs"
                              (blur)="OnBlur('job_pcs')" required maxlength="15" />
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">Nt.Wt</label>
                          <div class="col-4">
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.job_ntwt"
                              (blur)="OnBlur('job_ntwt')" required maxlength="15" />
                          </div>
                          <label style="padding-left:0;padding-right:0"
                            class="col-1 col-form-label col-form-label-sm">Unit</label>
                          <div class="col-3">
                            <app-autocomplete #pkgUnitLov [inputdata]="GRUNITRECORD"
                              (ValueChanged)="LovSelected($event)"></app-autocomplete>
                          </div>
                        </div>


                        <div class="form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">Gr.Wt</label>
                          <div class="col-4">
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.job_grwt"
                              (blur)="OnBlur('job_grwt')" required maxlength="15" />
                          </div>
                          <label style="padding-left:0;padding-right:0"
                            class="col-1 col-form-label col-form-label-sm">Unit</label>
                          <div class="col-3">
                            <app-autocomplete #pkgUnitLov [inputdata]="NETUNITRECORD"
                              (ValueChanged)="LovSelected($event)"></app-autocomplete>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">Cbm</label>
                          <div class="col-4">
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.job_cbm"
                              (blur)="OnBlur('job_cbm')" required maxlength="15" />
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">Ch.Wt</label>
                          <div class="col-4">
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.job_chwt"
                              (blur)="OnBlur('job_chwt')" required maxlength="15" />
                          </div>
                        </div>


                        <!--<div class="form-group row">
                          <label class="col-4 col-form-label col-form-label-sm">Marks & Nos </label>
                          <div class="col-8">
                            <textarea rows="3" class="form-control form-control-sm" [(ngModel)]="Record.job_marks" (blur)="OnBlur('job_marks')" required maxlength="250"></textarea>
                          </div>
                        </div>-->

                      </div>

                      <div class="col-sm-5">

                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label col-form-label-sm">RBI Waiver No.</label>
                          <div class="col-sm-5">
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.job_rbiwno"
                              (blur)="OnBlur('job_rbiwno')" required maxlength="30" />
                          </div>
                          <label style="padding-left:0;padding-right:0"
                            class="col-sm-1 col-form-label col-form-label-sm">Date</label>
                          <div class="col-sm-3">
                            <app-date [inputdate]="Record.job_rbiw_date" (ValueChanged)="Record.job_rbiw_date=$event">
                            </app-date>

                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label col-form-label-sm">Bank/Dealer</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.job_bank"
                              (blur)="OnBlur('job_bank')" required maxlength="60" />
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label col-form-label-sm">A/C Number</label>
                          <div class="col-sm-5">
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.job_acno"
                              (blur)="OnBlur('job_acno')" required maxlength="30" />
                          </div>
                          <label style="padding-left:0;padding-right:0"
                            class="col-sm-1 col-form-label col-form-label-sm">Forex.A/c</label>
                          <div class="col-sm-3">
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.job_forexacno"
                              (blur)="OnBlur('job_forexacno')" required maxlength="60" />
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label col-form-label-sm">AD Code</label>
                          <div class="col-sm-5">
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.job_dealar_code"
                              (blur)="OnBlur('job_dealar_code')" required maxlength="30" />
                          </div>
                          <label style="padding-left:0;padding-right:0"
                            class="col-sm-1 col-form-label col-form-label-sm">EPZ</label>
                          <div class="col-sm-3">
                            <select class="form-control form-control-sm" [(ngModel)]="Record.job_epz_code">
                              <option [value]="'N'">NA</option>
                              <option [value]="'E'">EPZ</option>
                              <option [value]="'I'">ICD</option>
                            </select>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label col-form-label-sm">MBL No</label>
                          <div class="col-sm-5">
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.job_edi_mbl_no"
                              (blur)="OnBlur('job_edi_mbl_no')" required maxlength="30" />
                          </div>
                          <label style="padding-left:0;padding-right:0"
                            class="col-sm-1 col-form-label col-form-label-sm">Date</label>
                          <div class="col-3">
                            <app-date [inputdate]="Record.job_edi_mbl_date"
                              (ValueChanged)="Record.job_edi_mbl_date=$event"></app-date>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label col-form-label-sm">HBL No</label>
                          <div class="col-sm-5">
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.job_edi_hbl_no"
                              (blur)="OnBlur('job_edi_hbl_no')" required maxlength="30" />
                          </div>
                          <label style="padding-left:0;padding-right:0"
                            class="col-sm-1 col-form-label col-form-label-sm">Date</label>
                          <div class="col-sm-3">
                            <app-date [inputdate]="Record.job_edi_hbl_date"
                              (ValueChanged)="Record.job_edi_hbl_date=$event"></app-date>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label col-form-label-sm">NFEI</label>
                          <div class="col-sm-5">
                            <select class="form-control form-control-sm" [(ngModel)]="Record.job_nfei">
                              <option [value]="'Y'">YES</option>
                              <option [value]="'N'">NO</option>
                            </select>
                          </div>
                          <label style="padding-left:0;padding-right:0"
                            class="col-sm-1 col-form-label col-form-label-sm">Category</label>
                          <div class="col-sm-3">
                            <select class="form-control form-control-sm" [(ngModel)]="Record.job_nfei_category">
                              <option [value]="'NA'">NA</option>
                              <option [value]="'01'">01 Free Trade Sample</option>
                              <option [value]="'02'">02 Diplomatic Goods</option>
                              <option [value]="'03'">03 Warrenty Replacement</option>
                              <option [value]="'04'">04 Currency Chest</option>
                              <option [value]="'05'">05 Tourist Goods</option>
                              <option [value]="'06'">06 Defense Goods</option>
                              <option [value]="'07'">07 Gift Parcel</option>
                              <option [value]="'08'">08 Others</option>
                            </select>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label col-form-label-sm">Stuffed At</label>
                          <div class="col-sm-9">
                            <select class="form-control form-control-sm" [(ngModel)]="Record.job_stuffed_at">
                              <option [value]="'DOCK'">DOCK</option>
                              <option [value]="'FACTORY'">FACTORY</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label col-form-label-sm"></label>
                          <div class="col-sm-9">
                            <input type="checkbox" [(ngModel)]="Record.job_sample"> Sample Accompanied
                          </div>
                        </div>

                      </div>
                      <div class="col-sm-3">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label col-form-label-sm">Seal.Type</label>
                          <div class="col-sm-9">
                            <select class="form-control form-control-sm" [(ngModel)]="Record.job_seal_type">
                              <option [value]="'N'">NA</option>
                              <option [value]="'A'">AGENT</option>
                              <option [value]="'S'">SELF SEAL</option>
                              <option [value]="'W'">WAREHOUSE</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label col-form-label-sm">Seal.No.</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.job_seal_no"
                              (blur)="OnBlur('job_seal_no')" required maxlength="30" />
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label col-form-label-sm">Agency.Name</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="Record.job_agency_name"
                              (blur)="OnBlur('job_agency_name')" required maxlength="60" />
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label col-form-label-sm"></label>
                          <div class="col-sm-9">
                            <button (click)="FillCustInfo()" class="btn btn-default btn-sm">Fill AD Code</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-8">
                        <div class="form-group row">
                          <label class="col-2 col-form-label col-form-label-sm">
                            Marks & Nos <button (click)="SetMarksNos()" class="btn btn-default btn-sm">Set</button>
                          </label>
                          <div class="col-10">
                            <textarea rows="3" class="form-control form-control-sm" [(ngModel)]="Record.job_marks"
                              (blur)="OnBlur('job_marks')" required maxlength="500"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label  col-form-label-sm" style="padding: 0%"  [style.color]="Record.job_marks.length > 250 ?'red':'green'" >{{Record.job_marks.length}}&nbsp;CHARACTERS</label>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label  col-form-label-sm" style="padding: 0%" [style.color]="'red'" *ngIf="Record.job_marks.length > 250" >ONLY 250 CHARACTERS WILL BE SENT TO CUSTOMS</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
          <div class="page-box">
            <div class="col">
              <button [hidden]="disableSave" [disabled]="loading || Record.lock_record" (click)="Save()"
                class="btn btn-success btn-sm">Save</button>
              <button [disabled]="loading" (click)="ActionHandler('LIST','')"
                class="btn btn-success btn-sm">Return</button>
              <button [disabled]="loading" class="btn btn-primary btn-sm" (click)="CheckCrLimit()">Check
                CR-Limit</button>
              <button [disabled]="loading" class="btn btn-primary btn-sm" (click)="CheckSB(checksb)">Check SB</button>
              <button *ngIf="mode == 'EDIT'" [disabled]="loading" class="btn btn-primary btn-sm"
                (click)="GenerateMail(mailsent)">Mail</button>
              <button *ngIf="mode == 'EDIT' && type=='SEA EXPORT'" [disabled]="loading" (click)="ShowBL()"
                class="btn btn-primary btn-sm">BL Draft</button>
              <button *ngIf="mode == 'EDIT'" [disabled]="loading" class="btn btn-primary btn-sm"
                (click)="LinkDocs(esanchitlink)">Supp.Docs</button>
                <button *ngIf="mode == 'EDIT'"  [disabled]="loading" (click)="ShowHistory(history)" class="btn btn-primary btn-sm">History</button>
              <i *ngIf="loading" class="fa fa-spinner"></i>
            </div>
          </div>
          <br />
          <App-Wait [visible]="loading" [msg]="'Please Wait'"></App-Wait>
          <div *ngIf="InfoMessage" class="alert alert-success">
            {{InfoMessage}}
          </div>
          <div *ngIf="ErrorMessage" class="alert alert-danger">
            {{ErrorMessage}}
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Packing List" *ngIf="mode=='EDIT'">
        <ng-template ngbTabContent>

          <app-jobpackinglist [parentid]="pkid" [type]="type"></app-jobpackinglist>

        </ng-template>
      </ngb-tab>
      <ngb-tab title="Container" *ngIf="mode=='EDIT' && type=='SEA EXPORT'">
        <ng-template ngbTabContent>

          <app-jobcontainer [parentid]="pkid" [type]="type"></app-jobcontainer>

        </ng-template>
      </ngb-tab>
      <ngb-tab title="Annexure" *ngIf="mode=='EDIT'">
        <ng-template ngbTabContent>

          <app-annexure [parentid]="pkid" [type]="type"></app-annexure>

        </ng-template>
      </ngb-tab>
      <ngb-tab title="Invoice" *ngIf="mode=='EDIT'">
        <ng-template ngbTabContent>

          <app-jobinvoice [parentid]="pkid" [jobexporterid]="Record.job_exp_id" [type]="type"></app-jobinvoice>

        </ng-template>
      </ngb-tab>
      <ngb-tab title="Product" *ngIf="mode=='EDIT'">
        <ng-template ngbTabContent>

          <app-jobitem [parentid]="pkid" [nfei]="Record.job_nfei" [type]="type"></app-jobitem>

        </ng-template>
      </ngb-tab>
      <ngb-tab title="Operations" *ngIf="mode=='EDIT'">
        <ng-template ngbTabContent>

          <app-joboperations [parentid]="pkid" [type]="type" [Invokefrom]="'PARENT'"></app-joboperations>

        </ng-template>
      </ngb-tab>
      <ngb-tab title="Order Details" *ngIf="mode=='EDIT'">
        <ng-template ngbTabContent>

          <app-joborder [parentid]="pkid" [type]="type"></app-joborder>

        </ng-template>
      </ngb-tab>

      <ngb-tab title="Documents" *ngIf="mode == 'EDIT' && bDocs">
        <ng-template ngbTabContent>
          <app-upload [pkid]="pkid" [type]="'JOB'"></app-upload>
        </ng-template>
      </ngb-tab>

      <!--<ngb-tab title="BL Draft" *ngIf="mode == 'EDIT'">
        <ng-template ngbTabContent>
          <app-jobseabl [parentid]="pkid" [invokefrom]="'JOB'" [type]="type" (PageChanged)="pageChanged($event)"></app-jobseabl>
        </ng-template>
      </ngb-tab>-->

      <ngb-tab title="Edi" *ngIf="mode=='EDIT'">

        <ng-template ngbTabContent>

          <div class="page-details">

            <div>
              <button [disabled]="loading" *ngIf="mode=='EDIT'" (click)="GenerateEdiNo('R')"
                class="btn btn-success btn-sm">Show Edi No</button>
              EDI NO : {{job_edi_no}}
            </div>
            <hr />
            <br />
            <div>
              <button [disabled]="loading" *ngIf="mode=='EDIT'" (click)="GenerateEdiNo('W')"
                class="btn btn-success btn-sm">Generate-Edi No</button>
            </div>
            <hr />
            <br />
            <div>
              <button [disabled]="loading" *ngIf="mode=='EDIT'" (click)="GenerateEdiFile('CHECKLIST','PDF')"
                class="btn btn-success btn-sm">Check-List</button>
            </div>

            <hr />
            <br />
            <div>
              <button [disabled]="loading" *ngIf="mode=='EDIT'" (click)="GenerateEdiFile('EDIFILE','SB')"
                class="btn btn-success btn-sm">Edi File</button>
            </div>
            <i *ngIf="loading" class="fa fa-spinner"></i>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>

  <ng-template #checksb let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Shipping Bill Status</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-checksb [type]="type" [menuid]="menuid"></app-checksb>
    </div>
  </ng-template>

  <ng-template #esanchitlink let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">E Sanchit Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-esanchitlink [jobid]="pkid" [linktype]="'JOB'" [linkid]="pkid" [linkno]="Record.job_docno">
      </app-esanchitlink>
    </div>
  </ng-template>

  <ng-template #mailsent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Message Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-mail [pkid]="pkid" [type]="Mail_type" [sHtml]="sHtml" [defaultto_ids]="sTo_ids" [updateto_ids]=false
        [defaultsubject]="sSubject"></app-mail>
    </div>
  </ng-template>

</div>
<div *ngIf="currentPage=='BLPAGE'">
  <div class="page-box">
    <div *ngIf="type=='SEA EXPORT'" class="col">
      <app-jobseabl [parentid]="pkid" [invokefrom]="'JOB'" [type]="type" (PageChanged)="pageChanged($event)">
      </app-jobseabl>
    </div>
  </div>
</div>

<ng-template #history let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">History</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-history [pkid]="pkid" [type]="'JOB'"></app-history>
  </div>
</ng-template>



<app-crlimit [visible]="showalert"  [msg]= "ErrorMessage" [RecordList]="CrList"  (hidealert)="showalert=$event" ></app-crlimit>




