<div class="page-body line-bottom">
    <div class="row">
        <div class="col-sm-12 mx-0 px-0">
            <div class="form-group row">
                <label style="color: black;font-weight: bold;background-color: skyblue;"
                    class="col-sm-12 p-1">House/Container Mapping</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 mx-0 px-0">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm pr-0">House#</label>
                <div class="col-sm-10 pr-0">
                    <app-autocomplete3 [controlname]="'HOUSE-NO'" [tabletype]="'LINK-MASTER-HOUSE'" [displaycolumn]="'CODE'"
                        [displaydata]="Record.cntrd_hbl_no" [parentid]="parentid" (ValueChanged)="LovSelected($event)"
                        [where]="">
                    </app-autocomplete3>

                </div>
            </div>
        </div>
        <div class="col-sm-3 mx-0 px-0">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label col-form-label-sm pr-0">Container#</label>
                <div class="col-sm-10 pr-0">
                    <app-autocomplete3 [controlname]="'CNTR-NO'" [tabletype]="'LINK-MASTER-CONTAINER'" [displaycolumn]="'CODE'"
                        [displaydata]="Record.cntrd_cntr_no" [parentid]="parentid" (ValueChanged)="LovSelected($event)"
                        [where]="">
                    </app-autocomplete3>
                </div>
            </div>
        </div>
        <div class="col-sm-2 mx-0 px-0">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label  col-form-label-sm pr-0"></label>
                <div class="col-sm-8 pr-0">
                    <button [disabled]="loading" (click)="Save()" class="btn btn-primary btn-sm mr-1 mt-1">{{mode==='ADD'?'Add':'Update'}}</button>
                    <button [disabled]="loading" (click)="ActionHandler('ADD','')"
                        class="btn btn-primary btn-sm mt-1">Clear</button>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-1">
    <div class="table-responsive fixedTableHead  my-0 p-0" [style.height]="RecordList.length>5?'132px':'auto'"
        [style.overflow-y]="RecordList.length>5?'scroll':'auto'">
        <table class="table table-hover table-sm table-bordered">
            <thead class="page-body-thead">
                <tr>
                    <th width="10%">SL#</th>
                    <!-- <th width="20%">MBL#</th> -->
                    <th width="20%">HOUSE#</th>
                    <th width="20%">CONTAINER#</th>
                    <th width="bDelete?10%:50%">TYPE</th>
                    <th width="40%" *ngIf="bDelete" class='text-left'>DELETE</th>
                </tr>
            </thead>
            <tbody class="page-body-tbody">
                <tr *ngFor="let rec of RecordList; let i = index" (mousedown)="selectRowId(rec.cntrd_pkid)"
                    [class.active]="rec.cntrd_pkid == getRowId()">
                    <td class="hlink" (click)="ActionHandler('EDIT',rec.cntrd_pkid)">{{i+1}}</td>
                    <!-- <td>{{rec.cntrd_mbl_no}}</td> -->
                    <td>{{rec.cntrd_hbl_no}}</td>
                    <td>{{rec.cntrd_cntr_no}}</td>
                    <td>{{rec.cntrd_cntr_type}}</td>
                    <td *ngIf="bDelete" class="p-0 text-left"><i class="fa fa-trash  fa-lg pointer ml-1"
                        aria-hidden="true" (click)="DeleteRow(rec)"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>