<div class="page-header">
  <h5>{{title}}</h5>
  <button [disabled]="loading" (click)="ActionHandler('LIST','')" class="btn btn-info btn-sm">List</button>
  <button class="btn btn-info btn-sm" (click)="Close()">Close</button>
</div>

<div *ngIf="currentTab=='LIST'">
  <div class="page-body">
    <div class="row">
      <label class="col-2">Search</label>
      <div class="col">
        <input type="text" class="col form-control form-control-sm" name="Search" [(ngModel)]="searchstring" />
      </div>
      <div class="col">
        <button [disabled]="loading" (click)="List('NEW')" class="btn btn-info btn-sm">Search</button>
      </div>
    </div>
  </div>
  <div *ngIf="page_count" class="page-pagination">
    <ul class="pagination pagination-sm my-1 mx-1">
      <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}} (Records-{{page_rowcount}})</a>
      </li>
      <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a></li>
      <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
    </ul>
  </div>

  <div class="page-body">
    <div class="table-responsive fixedTableHead  my-0 p-0" style="height: calc(100vh - 238px);">
      <table class="table table-hover table-sm table-bordered">
        <thead class="page-body-thead">
          <tr>
            <th>EDIT</th>
            <th>Login ID</th>
            <th>User Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody">
          <tr *ngFor="let rec of RecordMast">
            <td (click)="RightsList('NEW',rec)" class="hlink"><i class="fa fa-pencil"></i></td>
            <td>{{rec.user_code}}</td>
            <td>{{rec.user_name}}</td>
            <td>{{rec.user_email}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="page_count" class="page-pagination line-bottom">
    <ul class="pagination pagination-sm  my-1 mx-1">
      <li class="page-item"><a class="page-link">Page {{page_current}}/{{page_count}}
          (Records-{{page_rowcount}})</a>
      </li>
      <li class="page-item"><a class="page-link" (click)="List('FIRST')"><span class="fa fa-backward"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="List('PREV')"><span class="fa fa-arrow-left"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="List('NEXT')"><span class="fa fa-arrow-right"></span></a>
      </li>
      <li class="page-item"><a class="page-link" (click)="List('LAST')"><span class="fa fa-forward"></span></a></li>
    </ul>
  </div>
</div>

<div *ngIf="currentTab=='DETAILS'">

  <div class="page-body">
    <div class="row">
      <div class="col-6">
        <label class="col-6 col-form-label col-form-label-sm">{{user_name}} </label>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label col-form-label-sm mr-5">Module</label>
        <div *ngFor="let rec of ModuleList">
          <button [disabled]="loading" class="btn btn-info btn-sm mr-1"
            (click)="module_name=rec.module_name">{{rec.module_name}}</button>
          <span>&nbsp;</span>
        </div>
      </div>
    </div>
  </div>

  <div class="page-body">

    <div class="table-responsive fixedTableHead  my-0 p-0" style="height: calc(100vh - 350px);">
      <table class="table table-hover table-sm table-bordered">
        <thead class="page-body-thead">
          <tr>
            <th>Module</th>
            <th>Menu</th>
            <th>Company</th>
            <th>Admin</th>
            <th>Add</th>
            <th>Edit</th>
            <th>View</th>
            <th>Delete</th>
            <th>Print</th>
            <th>Email</th>
            <th>Docs</th>
            <th>Upload</th>
            <th>Approval</th>
          </tr>
        </thead>
        <tbody class="page-body-tbody" *ngFor="let rec of RecordList">
          <tr *ngIf="rec.module_name == module_name">
            <td>{{rec.module_name}}</td>
            <td>{{rec.menu_name}}</td>
            <td> <input type="checkbox" [(ngModel)]="rec.rights_company"></td>
            <td> <input type="checkbox" [(ngModel)]="rec.rights_admin"></td>
            <td> <input type="checkbox" [(ngModel)]="rec.rights_add"></td>
            <td> <input type="checkbox" [(ngModel)]="rec.rights_edit"></td>
            <td> <input type="checkbox" [(ngModel)]="rec.rights_view"></td>
            <td> <input type="checkbox" [(ngModel)]="rec.rights_delete"></td>
            <td> <input type="checkbox" [(ngModel)]="rec.rights_print"></td>
            <td> <input type="checkbox" [(ngModel)]="rec.rights_email"></td>
            <td> <input type="checkbox" [(ngModel)]="rec.rights_docs"></td>
            <td> <input type="checkbox" [(ngModel)]="rec.rights_docs_upload"></td>
            <td> <input type="text" class="form-control form-control-sm" [(ngModel)]="rec.rights_approval" required
                maxlength="250" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="page-body line-bottom">
    <div class="form-group row">
      <div class="col-sm my-1 mx-1">
        <button [disabled]="loading" (click)="Save()" class="btn btn-success btn-sm mr-1">Save</button>
        <button [disabled]="loading" (click)="Return2Parent()" class="btn btn-success btn-sm">Return</button>
      </div>
    </div>
  </div>
  <div style="height: 105px;" [style.overflow-y]="'scroll'">
    <p class="p-0 m-0">
      Order List - Approvals <b>{{'{TRACK}'}}</b>Tracking, <b>{{'{STATUS}'}}</b>Change PO Status;
    </p>
     <p class="p-0 m-0">
      Shipment Planning Sea/Air - Approvals <b>{{'{TRACK}'}} </b>Tracking, <b>{{'{UPDHOUSE}'}} </b>Update House/Container, <b>{{'{UNLOCK}'}} </b>Unlock Master, <b>{{'{HIDE}'}} </b>HIDE Button in List
    </p>
     <p class="p-0 m-0">
      MBL Info - Approvals <b>{{'{TRACK}'}} </b>Refresh Tracking
    </p>
  </div>
</div>

<div *ngIf="ErrorMessage" class="alert alert-info">
  {{ErrorMessage}}
</div>